Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

build-image-main:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-dev:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-mr:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage MR new image:
  stage: test
  image: $CI_REGISTRY_IMAGE:MR-${MR_VERSION}
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

test coverage MR dev-image:
  stage: test
  image: $CI_REGISTRY_IMAGE:dev
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

check_changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

deploy-pages-MR:
  stage: deploy
  needs:
  - job: build-pages-MR
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
  ...

corrected paths for the adata files
  tests/tools/test_norm_correct.py
  tests/utils/test_decorator.py
Due: none

corrected dirname for adata
  tests/tools/test_norm_correct.py
Due: none

revert to original values
  rna_analysis/notebooks/0B_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

atac/assembly minor description adjustment
  atac_analysis/notebooks/01_assembling.ipynb
Due: check_changes, deploy-pages-MR

remove scipy .A workaround
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

test batch_correction: check if the adata was modified
  tests/test_analyser.py
Due: lint, test coverage MR dev-image, check_changes

Add that the prefix means "chr" and fix function name
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix parameter type
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

var_column_to_index: docu related changes
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

added todo
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

another todo and fixed some comments
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

more comment and docu fixes
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

update function names
  sctoolbox/tools/peak_annotation.py
  tests/utils/test_checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint
  tests/utils/test_checker.py
Due: none

add missing comma
  atac_analysis/notebooks/01_assembling.ipynb
Due: check_changes, deploy-pages-MR

fix typo
  atac_analysis/notebooks/01_assembling.ipynb
Due: check_changes, deploy-pages-MR

atac 03 further changes
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

more atac/03 descriptions
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

change run_deseq2 to use pydeseq2 instead of the R-bindings to deseq2
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix deseq2 test
  tests/test_marker_genes.py
Due: lint, test coverage MR dev-image, check_changes

remove old code
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

change dependencies
  sctoolbox/tools/marker_genes.py
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Apply 1 suggestion(s) to 1 file(s)
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

move marker_genes to general_notebooks
  .gitlab-ci.yml
  general_notebooks/marker_genes.ipynb
Due: check_changes, deploy-pages-MR

add changes to CHANGES.rst
  CHANGES.rst
Due: none

change error type in test
  tests/test_marker_genes.py
Due: lint, test coverage MR dev-image, check_changes

remove/change prints
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix check_modules call
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix review comments
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix test
  tests/test_marker_genes.py
Due: lint, test coverage MR dev-image, check_changes

Move ipywidgets from env to setup and pin to version >= 8.0; RE-add scanpro in env
  sctoolbox_env.yml
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

corrected file path for adata
  tests/tools/test_norm_correct.py
  tests/utils/test_decorator.py
Due: none

refactor atac/04
  atac_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

Move default indication of docstring to description
  sctoolbox/_settings.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
