Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

build-image-main:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-dev:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-mr:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage MR new image:
  stage: test
  image: $CI_REGISTRY_IMAGE:MR-${MR_VERSION}
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

test coverage MR dev-image:
  stage: test
  image: $CI_REGISTRY_IMAGE:dev
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

check_changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

deploy-pages-MR:
  stage: deploy
  needs:
  - job: build-pages-MR
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
  ...

fix variable
  rna_analysis/notebooks/0B_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

fix code examples not shown
  sctoolbox/plotting/general.py
  sctoolbox/plotting/genometracks.py
  sctoolbox/plotting/marker_genes.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix code example
  sctoolbox/plotting/general.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Rename "Recluster" to "Revise Clustering"
  atac_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

update changelog
  CHANGES.rst
Due: none

linting
  sctoolbox/tools/tsse.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

download_db support LIANA resources
  CHANGES.rst
  sctoolbox/tools/receptor_ligand.py
  setup.py
  tests/test_receptor_ligand.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

use LIANA resource instead of link to cellphonedb
  rna_analysis/notebooks/0B_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

add pytest-lazy-fixture
  Dockerfile
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

fixed matplotlib version to <3.9.0 rel #257
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

updated CHANGES
  CHANGES.rst
Due: none

cleaned loitering lints
  tests/test_receptor_ligand.py
Due: lint, test coverage MR dev-image, check_changes

fixed some oversights
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fixed use_raw functionality, used aggregate instead of mean, introduced 2 parameters FIG_SIZE_SCALER and PLANET_DIST_SCALER to refine the plot.
  sctoolbox/plotting/planet_plot.py
  test_notebooks_aviral/planet_plot_test_latest_24_05.ipynb
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

don't use pytest-lazy-fixture it is not maintained
  Dockerfile
  tests/test_receptor_ligand.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test coverage MR new image, test coverage MR dev-image, check_changes

drop double import
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

from_single_mtx: make variables file optional
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fixed major part of issue #245, documentation of the individual batch correction algorithms is missing
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

added CHANGES
  CHANGES.rst
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Added native scrublet implementation and allowed treshold to be None for automatic doublet detection
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

from_mtx search recursive and adjust for use with ATAC data
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

bugfix worker thread notebook implementation
  atac_analysis/notebooks/02_QC.ipynb
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

remove kwargs (scanpy.read_mtx has no additional arguments)
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

adjust parameter defaults to make it more general
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

from_single_mtx: accept path objects, change "header" default to None; from_mtx: re-add kwargs
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

CHANGES and notebook fix
  CHANGES.rst
  atac_analysis/notebooks/02_QC.ipynb
Due: check_changes, deploy-pages-MR

changed default RNA
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

fixed doublet imports notebook
  atac_analysis/notebooks/02_QC.ipynb
Due: check_changes, deploy-pages-MR

added documentation, beartype, revised comments, fixed bugs, improved stability
  sctoolbox/plotting/planet_plot.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

final demo notebook added
  sctoolbox/plotting/planet_plot.py
  test_notebooks_aviral/planet_plot_demo.ipynb
  test_notebooks_aviral/planet_plot_test1.ipynb
  test_notebooks_aviral/planet_plot_test_latest.ipynb
  test_notebooks_aviral/planet_plot_test_latest_24_05.ipynb
  test_notebooks_aviral/test_5d_plot_sn-RNA.ipynb
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

added comments in the notebook
  test_notebooks_aviral/planet_plot_demo.ipynb
Due: none

Test lint correction
  sctoolbox/plotting/planet_plot.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

cleared output notebook
  test_notebooks_aviral/planet_plot_demo.ipynb
Due: none

replace deprecated anndata.concatenate with scanpy.concat and manually add var table since scanpy.concat does not do that
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

update rna assembly notebook
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: check_changes, deploy-pages-MR

add option to assemble adata from .mtx, fixes #234
  atac_analysis/notebooks/01_assembling.ipynb
Due: check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
