Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

test fixture
  tests/utils/test_adata.py
Due: none

numpy import
  tests/utils/test_adata.py
Due: none

hackathon: changelog
  CHANGES.rst
  tests/utils/test_adata.py
Due: none

add Ben's pycirclize function
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

added imports, initial linting
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

refactoring first half of the function
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

more refactoring and linting
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

added additional return of aggs and plotting
  sctoolbox/tools/tsse.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

import cleanup
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

more refactoring; fixed duplicated receptor/ ligand gene shown
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

update return type; add directional legend
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

docu adjustments and a hint of linting
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

integrate into sctoolbox
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add cyclone test
  tests/test_receptor_ligand.py
Due: lint, test coverage MR dev-image, check_changes

move receptor_ligand test file
  tests/tools/test_receptor_ligand.py
Due: none

add pycirclize dependency
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

mega lint
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint parameter order
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

match cyclone signature to hairball
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

update changelog
  CHANGES.rst
Due: none

fix color_min parameter
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add cyclone plot
  rna_analysis/notebooks/0B_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

lint liquidation
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix pybedtools requires python <3.11
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

use current import system
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

remove the old import system and implement lazy module loading
  sctoolbox/__init__.py
  sctoolbox/plotting/__init__.py
  sctoolbox/tools/__init__.py
  sctoolbox/utils/__init__.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

loose lints
  sctoolbox/__init__.py
  sctoolbox/plotting/__init__.py
  sctoolbox/tools/__init__.py
  sctoolbox/utils/__init__.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

update imports
  tests/test_analyser.py
  tests/test_atac.py
  tests/test_atac_utils.py
  tests/test_bam.py
  tests/test_celltype_annotation.py
  tests/test_creator.py
  tests/test_logging.py
  tests/test_marker_genes.py
  tests/test_multiomics.py
  tests/test_qc_filter.py
  tests/test_utilities.py
  tests/tools/test_receptor_ligand.py
Due: lint, test coverage MR dev-image, check_changes

update more imports
  tests/test_atac.py
Due: lint, test coverage MR dev-image, check_changes

linting
  tests/test_bam.py
Due: lint, test coverage MR dev-image, check_changes

__getattr__ return import otherwise there will be an AttributeError as the import is not yet available
  sctoolbox/__init__.py
  sctoolbox/plotting/__init__.py
  sctoolbox/tools/__init__.py
  sctoolbox/utils/__init__.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix test_bam related imports
  sctoolbox/tools/bam.py
  sctoolbox/utils/multiprocessing.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix test_analyser related imports
  sctoolbox/tools/embedding.py
  sctoolbox/tools/norm_correct.py
  tests/test_analyser.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix test_annotation related imports
  sctoolbox/tools/highly_variable.py
  sctoolbox/tools/peak_annotation.py
  sctoolbox/utils/bioutils.py
  sctoolbox/utils/checker.py
  tests/test_annotation.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix test_assembler related imports
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix test_atac_utils related imports
  tests/test_atac_utils.py
Due: lint, test coverage MR dev-image, check_changes

fix test_atac related imports
  sctoolbox/tools/insertsize.py
  sctoolbox/tools/tobias.py
  tests/test_atac.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix test_bam related imports
  sctoolbox/tools/bam.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix test_bioutils related imports
  sctoolbox/utils/bioutils.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR
