Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

build-image-main:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-dev:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-mr:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage MR new image:
  stage: test
  image: $CI_REGISTRY_IMAGE:MR-${MR_VERSION}
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

test coverage MR dev-image:
  stage: test
  image: $CI_REGISTRY_IMAGE:dev
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

check_changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

deploy-pages-MR:
  stage: deploy
  needs:
  - job: build-pages-MR
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
  ...

update changelog
  CHANGES.rst
Due: none

update parameter description
  general_notebooks/annotation.ipynb
Due: check_changes, deploy-pages-MR

RNA: receptor-ligand: Remove duplicate sentence
  rna_analysis/notebooks/0B_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

add atac artifacts
  .gitlab-ci.yml
Due: none

resolve conflict
  CHANGES.rst
Due: none

fix warning for wrong dtype
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

General: GSEA: Add seed parameter for prerank
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

gsea_network: Count number of nodes per cluster and filter all < 2
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

gsea_network: Fix edge legend if no edges are found
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

revised RNA QC notebook Docu
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

solved 289
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

solved threads
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

updated CHANGES.rst
  CHANGES.rst
Due: none

revise notebook
  general_notebooks/annotation.ipynb
Due: check_changes, deploy-pages-MR

rename marker_lists folder to lists for testing
  rna_analysis/notebooks/test_data/marker_repo/lists/Panglao_human_blood_1688745542154410.yaml
  rna_analysis/notebooks/test_data/marker_repo/lists/Panglao_human_skin_168874554211252.yaml
Due: none

remove output
  general_notebooks/annotation.ipynb
Due: check_changes, deploy-pages-MR

add MarkerRepo in ci pipeline
  .gitlab-ci.yml
Due: none

Revert "add MarkerRepo in ci pipeline"
  .gitlab-ci.yml
Due: none

add MarkerRepo to ci pipeline
  .gitlab-ci.yml
Due: none

added UpSet Plot
  atac_analysis/notebooks/02_QC.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  sctoolbox/plotting/qc_filter.py
  tests/plotting/test_qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

corrected import
  atac_analysis/notebooks/02_QC.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

added upsetplot to setup.py
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

added limit parameter to RNA as well
  atac_analysis/notebooks/02_QC.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

linting
  sctoolbox/plotting/qc_filter.py
  tests/plotting/test_qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

CHANGES
  CHANGES.rst
Due: none

linting
  tests/plotting/test_qc_filter.py
Due: none

fixed tests
  tests/plotting/test_qc_filter.py
Due: none

fix utils.assemblers typo in option 2 and 3
  atac_analysis/notebooks/01_assembling.ipynb
Due: check_changes, deploy-pages-MR

add update/validate Seuratobject function to converttoadata (#293)
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

solved threads notebooks
  atac_analysis/notebooks/02_QC.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

Applied suggestions
  sctoolbox/plotting/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fixed bug
  sctoolbox/plotting/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

linting
  sctoolbox/plotting/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

scrublet bugfix
  CHANGES.rst
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

update CHANGES.rst
  CHANGES.rst
Due: none

clone MarkerRepo to notebooks folder if not found
  general_notebooks/annotation.ipynb
Due: check_changes, deploy-pages-MR

update paramter overview
  general_notebooks/annotation.ipynb
Due: check_changes, deploy-pages-MR

CHANGES.rst
  CHANGES.rst
Due: none

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
