Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

build-image-main:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-dev:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-mr:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage MR new image:
  stage: test
  image: $CI_REGISTRY_IMAGE:MR-${MR_VERSION}
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

test coverage MR dev-image:
  stage: test
  image: $CI_REGISTRY_IMAGE:dev
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

check_changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

deploy-pages-MR:
  stage: deploy
  needs:
  - job: build-pages-MR
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
  ...

revert change
  .gitlab-ci.yml
Due: none

add extras "core" and "downstream"
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

update changelog
  CHANGES.rst
Due: none

also create new image when pyproject.toml changes
  .gitlab-ci.yml
Due: none

exclude scar from docker image
  Dockerfile
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

make denoise_data an optional function that mentions it needs scar installed if neccessary
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

not sure why but it failed when the folder did not exist; second attempt with AI support
  .gitlab-ci.yml
Due: none

forgot to import scar
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

check for missing features
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

enable layer selection
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add the ability to cleanup and check if column name already exists
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

better docu/ defaults
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

tiny docu improvement
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

I may be stupid
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

implement agg_feature_embedding tests
  tests/plotting/test_embedding_pl.py
Due: none

add a readthedocs plot example
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add new function to group_marker notebook
  general_notebooks/group_markers.ipynb
Due: check_changes, deploy-pages-MR

linting
  sctoolbox/plotting/embedding.py
  tests/plotting/test_embedding_pl.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add plot to predict_cell_cycle
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

update 03_normalization_batch_correction notebook
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

update CHANGES.rst
  CHANGES.rst
Due: none

install mampok from main
  .gitlab-ci.yml
Due: none

make plot optional
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

update notebook
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

update CHANGES.rst + lint
  CHANGES.rst
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

enable background cell color for exporting notebook as html
  sctoolbox/utils/jupyter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

implemented cell selection
  sctoolbox/utils/jupyter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

rna_analysis notebooks: use bgcolor selection
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/0A_ligand_receptor.ipynb
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
Due: check_changes, deploy-pages-MR

atac_analysis notebooks: use bgcolor selection
  atac_analysis/notebooks/01_assembling_anndata.ipynb
  atac_analysis/notebooks/02_QC_filtering.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

general notebooks: use bgcolor selection
  general_notebooks/GSEA.ipynb
  general_notebooks/annotation.ipynb
  general_notebooks/group_markers.ipynb
  general_notebooks/prepare_for_cellxgene.ipynb
  general_notebooks/proportion_analysis.ipynb
  general_notebooks/pseudotime_analysis.ipynb
Due: check_changes, deploy-pages-MR

remove gitlab specific link
  README.md
Due: none

add doi badge
  README.md
Due: none

add release and pipeline badge
  README.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add release date
  CHANGES.rst
Due: none

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
