Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-job, lint, test import, test coverage

Path conditions:
  build-job: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: tests/*.py, sctoolbox/**/*.py

Document changes
  CHANGES.rst
  setup.py
Due: build-job, lint, test import

Set **kwargs type hint to Any
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/general.py
  sctoolbox/plotting/marker_genes.py
  sctoolbox/plotting/qc_filter.py
  sctoolbox/plotting/velocity.py
  sctoolbox/tools/bam.py
  sctoolbox/tools/dim_reduction.py
  sctoolbox/tools/highly_variable.py
  sctoolbox/tools/marker_genes.py
  sctoolbox/tools/norm_correct.py
  sctoolbox/tools/qc_filter.py
  sctoolbox/utils/assemblers.py
  sctoolbox/utils/creators.py
Due: lint, test import, test coverage

Fix linting
  sctoolbox/plotting/embedding.py
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage

Fix Issue #158
  sctoolbox/tools/custom_celltype_annotation.py
Due: lint, test import, test coverage

Fix building of pages
  .gitlab-ci.yml
Due: none

Fix type hint in annot_HVG()
  sctoolbox/tools/highly_variable.py
Due: lint, test import, test coverage

Fix type hint in wrap_batch_evaluation()
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage

prevent build of containerin every MR
  .gitlab-ci.yml
Due: none

syntax error in gitlab ci
  .gitlab-ci.yml
Due: none

Ensure install before pages build
  .gitlab-ci.yml
Due: none

Fix dependencies of sctoolbox when fetching docker
  .gitlab-ci.yml
Due: none

attempt fix of archive space
  .gitlab-ci.yml
Due: none

Fix beartype hints
  tests/test_marker_genes.py
Due: lint, test coverage

Fix lint
  sctoolbox/plotting/embedding.py
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage

Add missing exception to pca correlation test
  sctoolbox/plotting/embedding.py
  tests/test_plotting.py
Due: lint, test import, test coverage

Work on types
  sctoolbox/plotting/embedding.py
  sctoolbox/utils/adata.py
  tests/test_plotting.py
Due: lint, test import, test coverage

Linting
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage

Remove sudo from ci
  .gitlab-ci.yml
Due: none

initial work on replacing diffexpr with pydeseq2
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage

Type hints for genometracks
  sctoolbox/plotting/genometracks.py
  setup.py
Due: build-job, lint, test import, test coverage

import typing from beartype to prevent deprecation message
  sctoolbox/plotting/clustering.py
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/general.py
  sctoolbox/plotting/marker_genes.py
  sctoolbox/plotting/qc_filter.py
  sctoolbox/plotting/velocity.py
  sctoolbox/tools/bam.py
  sctoolbox/tools/calc_overlap_pct.py
  sctoolbox/tools/celltype_annotation.py
  sctoolbox/tools/clustering.py
  sctoolbox/tools/custom_celltype_annotation.py
  sctoolbox/tools/dim_reduction.py
  sctoolbox/tools/embedding.py
  sctoolbox/tools/frip.py
  sctoolbox/tools/gene_correlation.py
  sctoolbox/tools/highly_variable.py
  sctoolbox/tools/insertsize.py
  sctoolbox/tools/marker_genes.py
  sctoolbox/tools/multiomics.py
  sctoolbox/tools/norm_correct.py
  sctoolbox/tools/peak_annotation.py
  sctoolbox/tools/qc_filter.py
  sctoolbox/tools/receptor_ligand.py
  sctoolbox/tools/tobias.py
  sctoolbox/tools/tsse.py
  sctoolbox/utils/adata.py
  sctoolbox/utils/assemblers.py
  sctoolbox/utils/bioutils.py
  sctoolbox/utils/checker.py
  sctoolbox/utils/creators.py
  sctoolbox/utils/decorator.py
  sctoolbox/utils/general.py
  sctoolbox/utils/io.py
  sctoolbox/utils/jupyter.py
  sctoolbox/utils/multiprocessing.py
  sctoolbox/utils/tables.py
Due: lint, test import, test coverage

fix typing in genometracks
  sctoolbox/plotting/genometracks.py
Due: lint, test import, test coverage

adjust tests for genometracks
  sctoolbox/plotting/genometracks.py
  tests/test_plot_genometracks.py
Due: lint, test import, test coverage

handle nan values for density plot
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage

nan handling only if color_values is not None
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage

use pd.isna to account for categorical (string) arrays
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage

add option to plot pvalues instead of coefficients
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage

edit docstring
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage

extend test for plot_pca_correlation
  tests/test_plotting.py
Due: lint, test coverage

fix tests
  sctoolbox/plotting/genometracks.py
  tests/test_plot_genometracks.py
Due: lint, test import, test coverage

fix type linting
  sctoolbox/plotting/genometracks.py
Due: lint, test import, test coverage

fix hardcoded coordinates
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage

modify CHANGES.rst and linting
  CHANGES.rst
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage

fix inverted sign of plotted pvalues
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage

added beartype to fld_scoring
  sctoolbox/tools/fld_scoring.py
Due: lint, test import, test coverage

added beartype related imports to fld_scoring
  sctoolbox/tools/fld_scoring.py
Due: lint, test import, test coverage
