Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docstyle, lint, test import, test coverage

Path conditions:
  docstyle: any of: setup.py, tests/*.py, sctoolbox/*.py
  lint: any of: setup.py, tests/*.py, sctoolbox/*.py
  test import: any of: setup.py, sctoolbox/*.py
  test coverage: any of: tests/*.py, sctoolbox/*.py

Update file Dockerfile
  Dockerfile
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

add changes
  CHANGES.rst
Due: none

Fix #130 by disabling the multithreading feature for tSNE.
  sctoolbox/plotting/embedding.py
Due: none

Added display of 3D UMAP in notebooks
  atac-notebooks/04_clustering.ipynb
  rna-notebooks/04_clustering.ipynb
Due: none

Update tests for search_umap/tsne_parameters
  tests/test_plotting.py
Due: docstyle, lint, test coverage

Adjust changes
  CHANGES.rst
Due: none

Update test docsting for search_umap/tsne_parameter
  tests/test_plotting.py
Due: docstyle, lint, test coverage

Fix copy/paste error. Add n_jobs parameter to test_serach_tsne_parameters
  sctoolbox/plotting/embedding.py
Due: none

Update changelog
  CHANGES.rst
Due: none

Add n_jobs to test_serach_tsne_parameters
  tests/test_plotting.py
Due: docstyle, lint, test coverage

Extend tests for fragment lengths
  tests/test_nucleosome_utils.py
Due: docstyle, lint, test coverage

main not needed
  sctoolbox/tools/nucleosome_utils.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  sctoolbox/plotting/marker_genes.py
Due: none

Init mamplan creator
  sctoolbox/tools/mamplan_creator.py
Due: none

Adjust when multiprocessing is used for embeddings; solved deprecationerror; removed verbose as this is now handled by logger
  atac-notebooks/04_clustering.ipynb
  rna-notebooks/04_clustering.ipynb
  sctoolbox/plotting/embedding.py
  tests/test_plotting.py
Due: docstyle, lint, test coverage

added pytest and bedtools
  Dockerfile
Due: none

make scripts executeable
  Dockerfile
Due: none

Use version tags for docker images
  .gitlab-ci.yml
Due: none

Add version variable
  .gitlab-ci.yml
Due: none

Add setter including type checking
  sctoolbox/tools/mamplan_creator.py
Due: none

change functin from insertsize to fld metrics
  atac-notebooks/01_assembling.ipynb
Due: none

pass variable using dotenv
  .gitlab-ci.yml
Due: none

Minor changes
  sctoolbox/tools/mamplan_creator.py
Due: none

Add TODO
  sctoolbox/tools/mamplan_creator.py
Due: none

Minor foxes
  sctoolbox/tools/mamplan_creator.py
Due: none

test changes build pipeline ile
  setup.py
Due: docstyle, lint, test import

fix error caused by .uns[_colors] not available as .obs column
  sctoolbox/utils/adata.py
Due: none

test for colormaps not available in obs
  tests/test_adata.py
Due: docstyle, lint, test coverage

update changes
  CHANGES.rst
Due: none

check if uns column is deleted
  tests/test_adata.py
Due: docstyle, lint, test coverage
