Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

change notebook run order in run_notebooks.py
  scripts/run_notebooks.py
Due: none

fix call to lower
  scripts/run_notebooks.py
Due: none

change paths in group_markers notebook
  general_notebooks/group_markers.ipynb
Due: check_changes, deploy-pages-MR

change gene to feature in marker_key
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

now i know (removed merge conflict)
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

fix run_rank_genes call
  general_notebooks/group_markers.ipynb
Due: check_changes, deploy-pages-MR

Clean notebook metadata
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

RNA: velocity: Fix output anndata file name
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
Due: check_changes, deploy-pages-MR

lint
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

suppress upsetplot warning-wall
  sctoolbox/plotting/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix upsetplots hidding tables
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

Pin mudata to >=0.3.1
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

fix wrong axis
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

replace deprecated use_highly_variable
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Pin scvelo >= 0.3.2
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

replace deprecated param
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

Pin python <3.12
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

Pin python <3.12
  sctoolbox_env.yml
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

update changelog
  CHANGES.rst
Due: none

Remove scikit-learn version pin and python <3.12 pin
  sctoolbox_env.yml
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

Pin scVelo >= 0.3.2
  sctoolbox_env.yml
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

ignore atac_analysis outputs
  .gitignore
Due: none

fix iloc warning
  sctoolbox/tools/frip.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix typo
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

fix upsetplot in atac notebook
  atac_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

INstall scvelo from git
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

use future leiden default
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

INstall scvelo from git
  sctoolbox_env.yml
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

fix groupby warnings
  sctoolbox/plotting/planet_plot.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

hide future warnings until gseapy fixes them
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lock cell
  general_notebooks/group_markers.ipynb
Due: check_changes, deploy-pages-MR

fix import; ranks-key; hide warnings
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

pin lightning version
  sctoolbox_env.yml
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

fix typo
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

Add pip upgrade to dockerfile
  Dockerfile
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

Pin pip>=24.2
  Dockerfile
  sctoolbox_env.yml
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

Pin setuptools_scm==8.0.4
  sctoolbox_env.yml
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

Add cmake to conda env
  sctoolbox_env.yml
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

Add igraph dependencies as install in dockerfile
  Dockerfile
  sctoolbox_env.yml
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image
