Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-job, lint, test import, test coverage

build-job:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - coverage
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$BUILD_VERSION
  tags:
  - coverage
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

Adjust documentation
  CHANGES.rst
  docs/source/plot_pre_code.py
  sctoolbox/plotting/clustering.py
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/general.py
  sctoolbox/plotting/marker_genes.py
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage

linting
  sctoolbox/plotting/clustering.py
Due: lint, test import, test coverage

restructured Dockerfile
  Dockerfile
Due: build-job

Test CICD nothing changed
  sctoolbox/tools/calc_overlap_pct.py
Due: lint, test import, test coverage

updated Changes
  CHANGES.rst
Due: none

Fix building of pages
  .gitlab-ci.yml
Due: none

handle NaN values for spearmanr
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage

Added deprecation for group_heatmap
  sctoolbox/_version.py
  sctoolbox/plotting/marker_genes.py
  setup.py
  tests/test_plotting.py
Due: build-job, lint, test import, test coverage

Fix lint and test
  tests/test_plotting.py
Due: lint, test coverage

add paramter to calculate correlation with umap components
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage

fix nan_policy for pearsonr
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage

fix docstring
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage

linting
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage

Apply 51 suggestion(s) to 11 file(s)
  sctoolbox/tools/calc_overlap_pct.py
  sctoolbox/tools/celltype_annotation.py
  sctoolbox/tools/clustering.py
  sctoolbox/tools/custom_celltype_annotation.py
  sctoolbox/tools/dim_reduction.py
  sctoolbox/tools/gene_correlation.py
  sctoolbox/tools/insertsize.py
  sctoolbox/tools/marker_genes.py
  sctoolbox/tools/multiomics.py
  sctoolbox/tools/norm_correct.py
  sctoolbox/tools/peak_annotation.py
Due: lint, test import, test coverage

Apply 1 suggestion(s) to 1 file(s)
  sctoolbox/tools/custom_celltype_annotation.py
Due: lint, test import, test coverage

Apply 7 suggestion(s) to 2 file(s)
  sctoolbox/tools/peak_annotation.py
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage

Apply 11 suggestion(s) to 2 file(s)
  sctoolbox/tools/qc_filter.py
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage

remove nan values for both spearman and pearson
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage

Clean up anndata.AnnData -> sc.AnnData
  sctoolbox/plotting/qc_filter.py
  sctoolbox/tools/bam.py
  sctoolbox/tools/calc_overlap_pct.py
  sctoolbox/tools/highly_variable.py
  sctoolbox/tools/insertsize.py
  sctoolbox/tools/multiomics.py
  sctoolbox/tools/norm_correct.py
  sctoolbox/utils/checker.py
  sctoolbox/utils/decorator.py
Due: lint, test import, test coverage

Apply 13 suggestion(s) to 1 file(s)
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage

linting + modify CHANGES.rst
  CHANGES.rst
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage

Apply 8 suggestion(s) to 3 file(s)
  sctoolbox/tools/receptor_ligand.py
  sctoolbox/tools/tsse.py
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage

Added missing dict key type hint
  sctoolbox/tools/custom_celltype_annotation.py
Due: lint, test import, test coverage

Added missing optional
  sctoolbox/tools/peak_annotation.py
Due: lint, test import, test coverage

Replace anndata with scanpy
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage

Apply 14 suggestion(s) to 8 file(s)
  sctoolbox/utils/adata.py
  sctoolbox/utils/bioutils.py
  sctoolbox/utils/checker.py
  sctoolbox/utils/creators.py
  sctoolbox/utils/general.py
  sctoolbox/utils/io.py
  sctoolbox/utils/jupyter.py
  sctoolbox/utils/tables.py
Due: lint, test import, test coverage

Replace Iterable with Sequence
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage

Apply 1 suggestion(s) to 1 file(s)
  sctoolbox/utils/general.py
Due: lint, test import, test coverage

Added density style to embedding
  sctoolbox/plotting/embedding.py
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage

Revert Iterable to Sequence replacement
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage

unpin matplotlib version
  setup.py
Due: build-job, lint, test import

Update docstring if check_type()
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage

Adjusted deprecation and tests for embedding plot
  sctoolbox/_version.py
  sctoolbox/plotting/embedding.py
  tests/test_plotting.py
Due: build-job, lint, test import, test coverage

Added example for input dicts to _annotate_features
  sctoolbox/tools/peak_annotation.py
Due: lint, test import, test coverage

Adjusted plot_pca_correlation to allow any input matrix from obsm
  sctoolbox/plotting/embedding.py
  tests/test_plotting.py
Due: lint, test import, test coverage

Fix linting comments
  sctoolbox/plotting/clustering.py
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/marker_genes.py
  sctoolbox/plotting/qc_filter.py
  sctoolbox/plotting/velocity.py
  sctoolbox/tools/bam.py
  sctoolbox/utils/adata.py
  sctoolbox/utils/jupyter.py
  setup.py
Due: build-job, lint, test import, test coverage

prevent build of containerin every MR
  .gitlab-ci.yml
Due: none

syntax error in gitlab ci
  .gitlab-ci.yml
Due: none

More in depth type hints for _annotate_features
  sctoolbox/tools/peak_annotation.py
Due: lint, test import, test coverage

extend tests with basis umap
  tests/test_plotting.py
Due: lint, test coverage

Path conditions:
  build-job: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: tests/*.py, sctoolbox/**/*.py
