Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

build-image-main:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-dev:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-mr:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage MR new image:
  stage: test
  image: $CI_REGISTRY_IMAGE:MR-${MR_VERSION}
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

test coverage MR dev-image:
  stage: test
  image: $CI_REGISTRY_IMAGE:dev
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

check_changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

deploy-pages-MR:
  stage: deploy
  needs:
  - job: build-pages-MR
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
  ...

lint
  sctoolbox/tools/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint
  sctoolbox/tools/gsea.py
  tests/tools/test_gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix structure; lock cells
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

Fix typo
  rna_analysis/notebooks/0A_marker_genes.ipynb
Due: check_changes, deploy-pages-MR

Fix wrong parameter given for test
  tests/tools/test_gsea.py
Due: none

Added tests from from_mtx
  tests/test_assemblers.py
Due: lint, test coverage MR dev-image, check_changes

Update header numbering
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

add suggestions
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  rna_analysis/notebooks/03_batch.ipynb
Due: check_changes, deploy-pages-MR

enhance from_single_mtx test
  tests/test_assemblers.py
Due: lint, test coverage MR dev-image, check_changes

prepare_for_cellxgene: add .var_names_make_unique call
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix variable referenced before assignment
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

apply suggestion
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Update Change log
  CHANGES.rst
Due: none

Apply suggestions from review
  general_notebooks/GSEA.ipynb
  rna_analysis/notebooks/0A_marker_genes.ipynb
  sctoolbox/tools/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Test for col names
  tests/tools/test_gsea.py
Due: none

Pin gseapy version to 1.1.3
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

Added addtional docu; clean up
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

Clean up notebook
  rna_analysis/notebooks/0A_marker_genes.ipynb
Due: check_changes, deploy-pages-MR

GSEA notebook: Fix paths
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

Cleanup again
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

First hidden cell for versioning
  general_notebooks/prepare_for_cellxgene.ipynb
Due: check_changes, deploy-pages-MR

Apply suggestions
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

removed unused variables
  atac_analysis/notebooks/02_QC.ipynb
Due: check_changes, deploy-pages-MR

Update Dockerfile
  Dockerfile
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

Update CHANGES.rst
  CHANGES.rst
Due: none

GSEA: Add term_dotplot()
  general_notebooks/GSEA.ipynb
  sctoolbox/plotting/__init__.py
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Apply 1 suggestion(s) to 1 file(s)
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

term_dotplot: Add hue parameter
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

GSEA notebook: lock cells
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

lint
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Remove marked_control from metadata
  atac_analysis/notebooks/01_assembling.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

Added tests for gsea plotting function
  tests/plotting/test_gsea.py
Due: none

Rename test gsea plotting file
  tests/plotting/test_gsea_plotting.py
Due: none

lint
  tests/plotting/test_gsea_plotting.py
Due: none

adjusted the colorbar size
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

removed whitespace linting
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Added additional __init__ for sub dirs
  tests/plotting/__init__.py
  tests/tools/__init__.py
Due: none

add test/utils/__init__.py
  tests/utils/__init__.py
Due: none

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
