Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

remove empty cell at end of notebook
  atac_analysis/notebooks/01_assembling.ipynb
  atac_analysis/notebooks/02_QC.ipynb
Due: check_changes, deploy-pages-MR

lint
  sctoolbox/_settings.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Update _settings.py
  sctoolbox/_settings.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint: test
  sctoolbox/_settings.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

revert frozen back to __frozen
  sctoolbox/_settings.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

CI: lint: ignore doc602,doc603
  .gitlab-ci.yml
Due: none

revised normalize_adata() to return an adata instead of an dict
  sctoolbox/tools/norm_correct.py
  tests/tools/test_norm_correct.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fixed tests
  tests/tools/test_norm_correct.py
Due: none

linting
  tests/tools/test_norm_correct.py
Due: none

linting
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

removed old tests
  tests/test_analyser.py
  tests/test_atac.py
Due: lint, test coverage MR dev-image, check_changes

updated notebooks
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  rna_analysis/notebooks/03_batch.ipynb
Due: check_changes, deploy-pages-MR

updated descriptions
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

CHANGES.rst
  CHANGES.rst
Due: none

refactor pseudotime notebook
  general_notebooks/pseudotime_analysis.ipynb
Due: check_changes, deploy-pages-MR

refactor proportion analysis notebook
  general_notebooks/proportion_analysis.ipynb
Due: check_changes, deploy-pages-MR

add denoising function to qc notebook
  rna_analysis/notebooks/02_QC_filtering.ipynb
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

update notebook
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

add scar installation and update CHANGES.rst
  CHANGES.rst
  sctoolbox_env.yml
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

refactor cellxgene notebook
  general_notebooks/prepare_for_cellxgene.ipynb
Due: check_changes, deploy-pages-MR

i forgot a period at the end
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix lint of private class attributes
  .gitlab-ci.yml
Due: none

Set scanpro version to >=0.3.1
  sctoolbox_env.yml
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

CI: flake8 add missing parameter for sdpca
  .gitlab-ci.yml
Due: none

CI:Fix typo
  .gitlab-ci.yml
Due: none

add scAR to setup.py
  sctoolbox_env.yml
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

remove notebook 2 output
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

nothing changed, already correct
  CHANGES.rst
Due: none

linting
  tests/utils/test_checker.py
Due: none

gsea notebook refactor
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

refactor annotation notebook
  general_notebooks/annotation.ipynb
Due: check_changes, deploy-pages-MR

refactored fixtures and tests bioutils
  sctoolbox/utils/bioutils.py
  tests/test_bioutils.py
  tests/test_utilities.py
  tests/utils/test_bioutils.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

updated CHANGES
  CHANGES.rst
Due: none

fix paths
  tests/utils/test_bioutils.py
Due: none

refactor move# test_tsse to new structure
  CHANGES.rst
  tests/tools/test_tsse.py
Due: none

refactor move test_frip.py
  CHANGES.rst
  tests/tools/test_frip.py
Due: none

refactor move tests jupyter
  CHANGES.rst
  tests/test_utilities.py
  tests/utils/test_jupyter.py
Due: lint, test coverage MR dev-image, check_changes
