Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docstyle, lint, test import, test coverage

docstyle:
  image:
    name: python:latest
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - coverage
  script:
  - pip install pydocstyle
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - coverage
  script:
  - pip install flake8
  - pip install pydoclint
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  tags:
  - coverage
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - apt-get install bedtools
  - chmod +x scripts/bedGraphToBigWig
  - pip install pytest
  - pip install pytest-cov
  ...

revised wavelet function S
  sctoolbox/tools/nucleosome_utils.py
Due: none

revised wavelet transformation
  sctoolbox/tools/nucleosome_utils.py
Due: none

refactored and revised nucleosome_utils -> fld_scoring
  sctoolbox/tools/fld_scoring.py
  sctoolbox/tools/nucleosome_utils.py
Due: none

add tight layout for plotting
  sctoolbox/tools/fld_scoring.py
Due: none

add figsize to mom_ov plotting
  sctoolbox/tools/fld_scoring.py
Due: none

repaired density -> plot colorbar label
  sctoolbox/tools/fld_scoring.py
Due: none

changed settings for momentum
  sctoolbox/tools/fld_scoring.py
Due: none

Add plotannot to setup.py
  setup.py
Due: docstyle, lint, test import

lift restriction on build rule
  .gitlab-ci.yml
Due: none

No ':' after types in return docstring
  sctoolbox/plotting/general.py
  sctoolbox/plotting/marker_genes.py
  sctoolbox/tools/bam.py
  sctoolbox/utils/adata.py
  sctoolbox/utils/assemblers.py
  sctoolbox/utils/bioutils.py
  sctoolbox/utils/checker.py
  sctoolbox/utils/decorator.py
  sctoolbox/utils/general.py
  sctoolbox/utils/jupyter.py
  sctoolbox/utils/tables.py
  tests/test_plotting.py
Due: docstyle, lint, test coverage

update to 0.2
  sctoolbox/_version.py
Due: docstyle, lint, test import, test coverage

Update plot directive for genometracks
  CHANGES.rst
  docs/source/conf.py
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/genometracks.py
  tests/data/tracks/vhighlight.bed
Due: none

Update version to 0.3-b
  sctoolbox/_version.py
Due: docstyle, lint, test import, test coverage

Add test for genometracks
  sctoolbox/plotting/genometracks.py
Due: none

fix format in changes
  CHANGES.rst
Due: none

revised plotting labels entum
  sctoolbox/tools/fld_scoring.py
Due: none

revised plotting functions um
  sctoolbox/tools/fld_scoring.py
Due: none

Add beartype and nptyping to dependencies
  setup.py
Due: docstyle, lint, test import

utils/adata.py: Add parameter type hinting.
  sctoolbox/utils/adata.py
Due: none

utils/assemblers.py: Add parameter type hinting.
  sctoolbox/utils/assemblers.py
Due: none

removed unused import
  sctoolbox/utils/adata.py
Due: none

Set --arg-type-hints-in-signature true in lint pipeline
  .gitlab-ci.yml
Due: none

utils/bioutils.py: Add parameter type hinting.
  sctoolbox/utils/bioutils.py
Due: none

Ignore DOC105 in lint pipeline
  .gitlab-ci.yml
Due: none

utils/checker.py: Add parameter type hinting.
  sctoolbox/utils/checker.py
Due: none

utils/creators.py: Add parameter type hinting.
  sctoolbox/utils/creators.py
Due: none

utils/decorator.py: Add parameter type hinting.
  sctoolbox/utils/decorator.py
Due: none

utils/general.py: Add parameter type hinting.
  sctoolbox/utils/general.py
Due: none

utils/io.py: Add parameter type hinting.
  sctoolbox/utils/io.py
Due: none

utils/multiprocessing.py: Add parameter type hinting.
  sctoolbox/utils/multiprocessing.py
Due: none

utils/tables.py: Add parameter type hinting.
  sctoolbox/utils/tables.py
Due: none

Replace NDArray with numpy.typing
  sctoolbox/utils/adata.py
  sctoolbox/utils/checker.py
  sctoolbox/utils/general.py
  sctoolbox/utils/tables.py
Due: none

Fix package breaking bugs introduced by type hinting/checking
  sctoolbox/_custom_types.py
  sctoolbox/utils/checker.py
  sctoolbox/utils/general.py
  sctoolbox/utils/tables.py
  setup.py
Due: docstyle, lint, test import, test coverage

Added plot of highly expressed genes
  CHANGES.rst
  rna-notebooks/03_batch.ipynb
Due: none

Fix bugs found/caused by type hinting
  sctoolbox/tools/peak_annotation.py
  sctoolbox/utils/checker.py
  sctoolbox/utils/multiprocessing.py
Due: none

Replace list wither typing.iterable
  sctoolbox/utils/checker.py
Due: none

Add test for genometracks
  setup.py
  tests/test_plot_genometracks.py
Due: docstyle, lint, test import, test coverage

Remove png after plot
  tests/test_plot_genometracks.py
Due: docstyle, lint, test coverage

Fix parameter type hinting
  sctoolbox/_custom_types.py
  sctoolbox/utils/checker.py
  sctoolbox/utils/general.py
  sctoolbox/utils/multiprocessing.py
  sctoolbox/utils/tables.py
  setup.py
  tests/test_utilities.py
Due: docstyle, lint, test import, test coverage

Path conditions:
  docstyle: any of: setup.py, tests/*.py, sctoolbox/*.py
  lint: any of: setup.py, tests/*.py, sctoolbox/*.py
  test import: any of: setup.py, sctoolbox/*.py
  test coverage: any of: tests/*.py, sctoolbox/*.py
