Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

build-image-main:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-dev:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-mr:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage MR new image:
  stage: test
  image: $CI_REGISTRY_IMAGE:MR-${MR_VERSION}
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

test coverage MR dev-image:
  stage: test
  image: $CI_REGISTRY_IMAGE:dev
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

check_changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

deploy-pages-MR:
  stage: deploy
  needs:
  - job: build-pages-MR
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
  ...

Try to fix code example: in_range
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

test import for example
  CHANGES.rst
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Add header for utils
  docs/source/build_api.py
  docs/source/conf.py
  docs/source/plot_pre_code.py
  docs/source/utils_pre_code.py
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

added missing imports
  tests/plotting/test_qc_filter.py
Due: none

Test utils header
  docs/source/build_api.py
  docs/source/utils_pre_code.py
Due: none

final setup in notebook 2
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/03_batch.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/05_marker_genes.ipynb
  rna_analysis/notebooks/11_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

Fix: code_exec to exec_code
  docs/source/build_api.py
Due: none

Add import to example in_range
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

FiRNA:01_assembling_anndata: Fnalize Notebook header layout
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: check_changes, deploy-pages-MR

RNA:02_QC_filtering: Finalize Notebook header layout
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

Change header 1
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

RNA:03_batch: Finalize Notebook header layout
  rna_analysis/notebooks/03_batch.ipynb
Due: check_changes, deploy-pages-MR

RNA:03_batch: Add missing separator line
  rna_analysis/notebooks/03_batch.ipynb
Due: check_changes, deploy-pages-MR

RNA:034_clustering Finalize Notebook header layout
  rna_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

RNA:05_marker_gene: Finalize Notebook header layout
  rna_analysis/notebooks/05_marker_genes.ipynb
Due: check_changes, deploy-pages-MR

RNA:11_ligand_receptor: Finalize Notebook header layout
  rna_analysis/notebooks/11_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

RNA:14_velocity_analysis: Finalize Notebook header layout
  rna_analysis/notebooks/14_velocity_analysis.ipynb
Due: check_changes, deploy-pages-MR

RNA:01_assembling_anndata: Clean up
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: check_changes, deploy-pages-MR

RNA:02_QC_filtering: Clean up
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

RNA:03_batch: Clean up
  rna_analysis/notebooks/03_batch.ipynb
Due: check_changes, deploy-pages-MR

RNA:04_clustering: Clean up
  rna_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

RNA:05_marker_genes: Clean up
  rna_analysis/notebooks/05_marker_genes.ipynb
Due: check_changes, deploy-pages-MR

RNA:11_ligand_receptor: Clean up
  rna_analysis/notebooks/11_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

RNA:14_velocity_analysis: Clean up
  rna_analysis/notebooks/14_velocity_analysis.ipynb
Due: check_changes, deploy-pages-MR

Beartpye fixed its issue; revert to older code
  sctoolbox/plotting/embedding.py
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

lint
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix type hint for _add_fragment
  sctoolbox/tools/insertsize.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix type hint for thresholds_as_table
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix tests and type hints
  sctoolbox/plotting/qc_filter.py
  tests/test_plotting.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint
  sctoolbox/plotting/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix type hint for monitor_jobs
  sctoolbox/utils/multiprocessing.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix type hint for get_keys
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Flint
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix type hint for get_threshold_wrapper
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

a hint of lint
  tests/tools/test_embedding.py
Due: none

start testing job when test files are changed
  .gitlab-ci.yml
Due: none

move change to 0.7
  CHANGES.rst
Due: none

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
