Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

build-image-main:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-dev:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-mr:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage MR new image:
  stage: test
  image: $CI_REGISTRY_IMAGE:MR-${MR_VERSION}
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

test coverage MR dev-image:
  stage: test
  image: $CI_REGISTRY_IMAGE:dev
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

check_changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

deploy-pages-MR:
  stage: deploy
  needs:
  - job: build-pages-MR
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
  ...

adjust docu example
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

update changelog
  CHANGES.rst
Due: none

remove fa2 dependency (it is broken and will be removed by another MR)
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

Fix save error; Save deseq output; Minor changes
  rna_analysis/notebooks/05_marker_genes.ipynb
Due: check_changes, deploy-pages-MR

Update changelog
  CHANGES.rst
Due: none

Fix hardcoded scetion; Add parameters for DEG section
  rna_analysis/notebooks/05_marker_genes.ipynb
Due: check_changes, deploy-pages-MR

added docstring to tobias test module
  tests/tools/test_tobias.py
Due: none

Improve general structure
  rna_analysis/notebooks/05_marker_genes.ipynb
Due: check_changes, deploy-pages-MR

Update CHANGES.rst
  CHANGES.rst
Due: none

update pseudotime_analysis notebook
  general_notebooks/pseudotime_analysis.ipynb
Due: check_changes, deploy-pages-MR

changed path in file that was mistankenly adjusted
  tests/test_analyser.py
Due: lint, test coverage MR dev-image, check_changes

Apply suggestions
  rna_analysis/notebooks/05_marker_genes.ipynb
Due: check_changes, deploy-pages-MR

minor change
  general_notebooks/pseudotime_analysis.ipynb
Due: check_changes, deploy-pages-MR

cherry pick cicd-testing main
  .gitlab-ci.yml
  Dockerfile
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

updated CHANGES
  CHANGES.rst
Due: none

Apply suggestions: Overhaul layout; Remove old text
  rna_analysis/notebooks/05_marker_genes.ipynb
Due: check_changes, deploy-pages-MR

removed fa2
  .gitlab-ci.yml
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

set beartype version to be lower 17.1
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

set beartype<=0.16.4
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

added ls to debug notebooks
  .gitlab-ci.yml
Due: none

search urlib 3
  .gitlab-ci.yml
Due: none

Disbale old "fix" for urllib3
  .gitlab-ci.yml
Due: none

update notebook
  general_notebooks/pseudotime_analysis.ipynb
Due: check_changes, deploy-pages-MR

update logs path
  general_notebooks/pseudotime_analysis.ipynb
Due: check_changes, deploy-pages-MR

Disable test_anndata_overview_fail_plots
  tests/test_plotting.py
Due: lint, test coverage MR dev-image, check_changes

Undo beartype <= 0.16.4
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

Fix beartype behavior on Iterables/Lists
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Update change log
  CHANGES.rst
Due: none

Re-enable test_anndata_overview_fail_plots
  tests/test_plotting.py
Due: lint, test coverage MR dev-image, check_changes

updated CHANGES.rst
  CHANGES.rst
Due: none

revert domain for the deployment to sc_framework
  .gitlab-ci.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  CHANGES.rst
Due: none

update notebook pseudotime_analysis
  general_notebooks/pseudotime_analysis.ipynb
Due: check_changes, deploy-pages-MR

Enable RNA:marker_gene notebook for testing
  scripts/run_notebooks.py
Due: none

RNA: 05_marker_genes: Reduce cluster_col list to improve runtime
  rna_analysis/notebooks/05_marker_genes.ipynb
Due: check_changes, deploy-pages-MR

update notebook proportion_analysis
  general_notebooks/proportion_analysis.ipynb
Due: check_changes, deploy-pages-MR

modify CHANGES.rst
  CHANGES.rst
Due: none

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
