Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

fix import
  atac_analysis/notebooks/01_assembling.ipynb
Due: check_changes, deploy-pages-MR

rna batch notebook: more PC subset description
  rna_analysis/notebooks/03_batch.ipynb
Due: check_changes, deploy-pages-MR

atac batch notebook: more PC subset description
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

update changelog
  CHANGES.rst
Due: none

Update 3 files
  CHANGES.rst
  tests/tools/test_celltype_annotation.py
Due: none

Update 3 files
  CHANGES.rst
  tests/test_qc_filter.py
  tests/tools/test_qc_filter.py
Due: lint, test coverage MR dev-image, check_changes

changed path to data
  tests/tools/test_celltype_annotation.py
Due: none

Updated imports
  tests/test_qc_filter.py
  tests/tools/test_qc_filter.py
Due: lint, test coverage MR dev-image, check_changes

added whitespace
  tests/tools/test_celltype_annotation.py
Due: none

moved fixtures
  tests/test_qc_filter.py
  tests/tools/test_qc_filter.py
Due: lint, test coverage MR dev-image, check_changes

fix imports and linting
  tests/tools/test_qc_filter.py
Due: none

added add_cellxgene_annotation
  tests/test_annotation.py
  tests/tools/test_celltype_annotation.py
Due: lint, test coverage MR dev-image, check_changes

Update file CHANGES.rst
  CHANGES.rst
Due: none

Only linting fix
  tests/tools/test_celltype_annotation.py
Due: none

Copy fixture
  tests/tools/test_celltype_annotation.py
Due: none

fixed imports
  tests/tools/test_celltype_annotation.py
Due: none

Fixed path to cellxgene_anno.csv
  tests/tools/test_celltype_annotation.py
Due: none

Fix was only added because of the merge conflict and the fixed imports. So it can be removed
  CHANGES.rst
Due: none

First version of GSEA notebook
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

Fix dtype names in adata.uns[RANK_GENES]
  rna_analysis/notebooks/0A_marker_genes.ipynb
Due: check_changes, deploy-pages-MR

Fix default paths
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

Add function enrichr_marker_genes
  general_notebooks/GSEA.ipynb
  sctoolbox/tools/gsea.py
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Added test for gsea.py
  tests/tools/test_gsea.py
Due: none

Change docu
  tests/tools/test_gsea.py
Due: none

gsea notebook: clean up
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

Lock last cell
  rna_analysis/notebooks/0A_marker_genes.ipynb
Due: check_changes, deploy-pages-MR

Update change log
  CHANGES.rst
Due: none

lint
  sctoolbox/tools/gsea.py
  tests/tools/test_gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Add gsea as module
  sctoolbox/tools/__init__.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Clean up
  rna_analysis/notebooks/0A_marker_genes.ipynb
Due: check_changes, deploy-pages-MR

lint
  tests/tools/test_gsea.py
Due: none

Clean up die zweite
  rna_analysis/notebooks/0A_marker_genes.ipynb
Due: check_changes, deploy-pages-MR

Fix typo anndata -> AnnData
  sctoolbox/tools/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Add gsea to notebook tests
  .gitlab-ci.yml
Due: none

Add missing ()
  sctoolbox/tools/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix typo
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

Move library download into enrichr_marker_gene function; keep the option to give custom gene sets
  general_notebooks/GSEA.ipynb
  sctoolbox/tools/gsea.py
  tests/tools/test_gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR
