Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-job, lint, test import, test coverage

build-job:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - coverage
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$BUILD_VERSION
  tags:
  - coverage
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

revise getting started section
  README.md
Due: none

.
  README.md
Due: none

revise wording, fix typos
  README.md
Due: none

add rename/drop obs and var columns section
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: none

streamline section lines
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: none

updated the changed logs
  CHANGES.rst
Due: none

Update clustering.py
  sctoolbox/tools/clustering.py
Due: lint, test import, test coverage

fix continuous colorbars missing label
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage

only add colorbar to right most plot
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage

fix colorbar not shown for genes
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage

added qc metrics to batch overview plot
  rna_analysis/notebooks/03_batch.ipynb
Due: none

update changelog
  CHANGES.rst
Due: none

Docker issue in progress
  Dockerfile
Due: build-job

permissions conflict in progress
  Dockerfile
Due: build-job

cleaned running version
  Dockerfile
Due: build-job

changed version to test build and the container running tests
  sctoolbox/_version.py
Due: build-job, lint, test import, test coverage

removed /home/user
  Dockerfile
Due: build-job

revert removing /home
  Dockerfile
Due: build-job

test where is the mount
  .gitlab-ci.yml
Due: none

check whats going on
  .gitlab-ci.yml
Due: none

fix beartype error
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage

add parameters
  rna_analysis/notebooks/11_ligand_receptor.ipynb
Due: none

tab to whitespaces
  CHANGES.rst
Due: none

embedding can not be None
  sctoolbox/tools/clustering.py
Due: lint, test import, test coverage

nicer parameters
  sctoolbox/tools/clustering.py
Due: lint, test import, test coverage

pandas<=1.5.3
  setup.py
Due: build-job, lint, test import

add more highly variable genes parameters
  rna_analysis/notebooks/03_batch.ipynb
Due: none

fall back to uncorrected if batch correction is disabled but a correction method is selected (shows warning)
  rna_analysis/notebooks/03_batch.ipynb
Due: none

solved issue not tested yet
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage

linting
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage

linting
  tests/test_dim_reduction.py
Due: lint, test coverage

beartype lsi()
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage

Update CHANGES.rst
  CHANGES.rst
Due: none

Path conditions:
  build-job: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: tests/*.py, sctoolbox/**/*.py
