Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

adjust notebooks according to config
  rna_analysis/notebooks/0A_ligand_receptor.ipynb
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
Due: check_changes, deploy-pages-MR

update group marker notebook
  general_notebooks/group_markers.ipynb
Due: check_changes, deploy-pages-MR

update notebook metadata
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

reorder variables; fix typo
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

update so ci/cd is happy
  CHANGES.rst
Due: none

apply suggestions
  atac_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

fix failing tests
  sctoolbox/tools/marker_genes.py
  tests/tools/test_marker_genes.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

adjust ci/cd to new notebook name
  .gitlab-ci.yml
Due: none

update CHANGES.rst
  CHANGES.rst
Due: none

fix pandas FutureWarning
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix userwarning
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix violinplot palaette without hue warning
  sctoolbox/plotting/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

use_highly_variable is deprecated use mask_var instead
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix more warnings
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

replace deprecated use_highly_variable
  rna_analysis/notebooks/03_batch.ipynb
Due: check_changes, deploy-pages-MR

update notebook metadata
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

fix seaborn barplot deprecated parameter usage
  rna_analysis/notebooks/03_batch.ipynb
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fixed set_xticks warning
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

scanpy leiden use future defaults to omit warning
  sctoolbox/plotting/clustering.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix leiden future default parameter and categorical replace deprecated warning
  sctoolbox/tools/clustering.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix futurewarning regarding parameter default change
  sctoolbox/plotting/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix future warning by using .iloc
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix not allowing positional args
  sctoolbox/plotting/clustering.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix tick warning and .iloc warning
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

suppress some warnings
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

don't show axis objects and some formatting
  rna_analysis/notebooks/0B_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

add binarized marker expression plot
  general_notebooks/group_markers.ipynb
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix ci errors
  sctoolbox/plotting/embedding.py
  sctoolbox/tools/bam.py
  sctoolbox/tools/celltype_annotation.py
  sctoolbox/tools/clustering.py
  sctoolbox/tools/dim_reduction.py
  sctoolbox/tools/gsea.py
  sctoolbox/tools/insertsize.py
  sctoolbox/tools/marker_genes.py
  sctoolbox/tools/multiomics.py
  sctoolbox/tools/norm_correct.py
  sctoolbox/tools/peak_annotation.py
  sctoolbox/tools/qc_filter.py
  sctoolbox/tools/receptor_ligand.py
  sctoolbox/utils/adata.py
  sctoolbox/utils/assemblers.py
  sctoolbox/utils/checker.py
  setup.py
  tests/plotting/test_embedding_pl.py
  tests/tools/test_marker_genes.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

fix ci errors
  sctoolbox/plotting/embedding.py
  sctoolbox/tools/marker_genes.py
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add newline in docstring
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add review suggestions
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Apply 2 suggestion(s) to 2 file(s)
  CHANGES.rst
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

i definitely know what i am doing
  CHANGES.rst
  atac_analysis/notebooks/02_QC.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  sctoolbox/plotting/__init__.py
  sctoolbox/plotting/qc_filter.py
  setup.py
  tests/plotting/test_qc_filter.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

apply review suggestions
  general_notebooks/group_markers.ipynb
Due: check_changes, deploy-pages-MR

Add checkpoint to qc notebook
  atac_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

fix linter errors
  sctoolbox/tools/bam.py
  sctoolbox/utils/bioutils.py
  sctoolbox/utils/general.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

apply review suggestions
  general_notebooks/group_markers.ipynb
  scripts/run_notebooks.py
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Add suggestions
  atac_analysis/notebooks/01_assembling_anndata.ipynb
  atac_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

update comments in notebooks
  general_notebooks/GSEA.ipynb
  general_notebooks/group_markers.ipynb
Due: check_changes, deploy-pages-MR
