Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test coverage

Path conditions:
  lint: any of: setup.py, tests/*.py, sctoolbox/*.py
  test coverage: any of: tests/*.py, sctoolbox/*.py

Linting
  tests/test_qc_filter.py
Due: lint, test coverage

remove source files import
  sctoolbox/tools/qc_filter.py
Due: none

Fquality_violin(): Fix heck if axarr ist Axessubplot or list.
  sctoolbox/plotting/qc_filter.py
Due: none

Add tests for get_slider_thresholds()
  tests/test_plotting.py
Due: lint, test coverage

Update CHANGES.rst
  CHANGES.rst
Due: none

test_plot_gene_correlation: apply latest import changes
  tests/test_plotting.py
Due: lint, test coverage

test_plot_gene_correlation(): Make changes to copy of adata not original adata
  tests/test_plotting.py
Due: lint, test coverage

overwrite of log
  rna-notebooks/config.yaml
  sctoolbox/_settings.py
  tests/test_logging.py
Due: lint, test coverage

Linting
  sctoolbox/_settings.py
  sctoolbox/plotting/general.py
  tests/test_logging.py
Due: lint, test coverage

no logging of differential genes plot
  sctoolbox/plotting/marker_genes.py
Due: none

test_filter_genes(): To prevent changes in adata for later test copy adata before filtering genes
  tests/test_qc_filter.py
Due: lint, test coverage

Add fixture that was deleted by mistake
  tests/test_marker_genes.py
Due: lint, test coverage

added bed utils to bioutils and init tsse testing
  sctoolbox/tools/calc_overlap_pct.py
  sctoolbox/tools/tsse.py
  sctoolbox/utils/bioutils.py
  tests/data/atac/mm10_genes.gtf
  tests/test_tsse.py
Due: lint, test coverage

Fix messed up merge conflict resolve
  tests/test_qc_filter.py
Due: lint, test coverage

Improve runtime of plotting tests by switching backend
  tests/test_analyser.py
  tests/test_plotting.py
  tests/test_qc_filter.py
  tests/test_receptor_ligand.py
Due: lint, test coverage

Added artifacts to notebook test
  .gitlab-ci.yml
Due: none

write issue - push ci again
  .gitlab-ci.yml
Due: none

fix ci paths
  .gitlab-ci.yml
Due: none

Fix writing of logfile
  sctoolbox/_settings.py
  tests/test_plotting.py
Due: lint, test coverage

added function to close logfiles
  .gitlab-ci.yml
  rna-notebooks/01_assembling_anndata.ipynb
  rna-notebooks/02_QC_filtering.ipynb
  rna-notebooks/03_batch.ipynb
  sctoolbox/_settings.py
Due: lint, test coverage

added frip tests and revised frip
  sctoolbox/tools/frip.py
  tests/data/atac/mm10_sorted_fragments.bed
  tests/test_frip.py
  tests/test_utilities.py
Due: lint, test coverage

Fix duration parameter for pytest
  .gitlab-ci.yml
Due: none

Fix adata_batch_dict fixture
  tests/test_analyser.py
Due: lint, test coverage

Fix wrong input type for evaluate_batch_effect in its testing function
  tests/test_analyser.py
Due: lint, test coverage

test:format_adata_var(): replace type comparison with '==' and replaced with isinstance call
  tests/test_atac_utils.py
Due: lint, test coverage

print logs after notebook script
  .gitlab-ci.yml
Due: none

debug missing cell cycle files
  .gitlab-ci.yml
  sctoolbox/tools/qc_filter.py
Due: none

Adjust test for cellcycle genes
  sctoolbox/tools/qc_filter.py
  tests/test_qc_filter.py
Due: lint, test coverage

make sure data is installed as well
  setup.py
Due: lint

Add conversion of more types in decorator
  sctoolbox/utils/decorator.py
Due: none

Fix saving of args in decorator
  sctoolbox/utils/decorator.py
Due: none

lint on decorator
  sctoolbox/utils/decorator.py
Due: none

Fix ATAC notebooks
  atac-notebooks/01_assembling.ipynb
  atac-notebooks/02_QC.ipynb
  atac-notebooks/config.yaml
  rna-notebooks/04_clustering.ipynb
Due: none

Apply 1 suggestion(s) to 1 file(s)
  tests/test_analyser.py
Due: lint, test coverage

Add tests for settings_from_config
  tests/test_settings.py
Due: lint, test coverage

Add close_logfile to test_logfile_verbosity
  tests/test_settings.py
Due: lint, test coverage

lint
  tests/test_settings.py
Due: lint, test coverage

Add missing test files
  tests/data/test_config.yaml
  tests/data/test_config_nokey.yaml
Due: none

Setting test does not change save location anymore
  tests/test_settings.py
Due: lint, test coverage

Reset settings after setting tests to rpevent errors down the line
  tests/test_settings.py
Due: lint, test coverage
