Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

build-image-main:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-dev:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-mr:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage MR new image:
  stage: test
  image: $CI_REGISTRY_IMAGE:MR-${MR_VERSION}
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

test coverage MR dev-image:
  stage: test
  image: $CI_REGISTRY_IMAGE:dev
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

check_changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

deploy-pages-MR:
  stage: deploy
  needs:
  - job: build-pages-MR
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
  ...

update CHANGES.rst
  CHANGES.rst
Due: none

solved import error
  tests/plotting/test_embedding_pl.py
Due: none

no dict anymore
  tests/tools/test_norm_correct.py
Due: none

removed normalized return no dict anymore
  rna_analysis/notebooks/03_batch.ipynb
Due: check_changes, deploy-pages-MR

fix kwargs
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix typo
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

move test_qc_filter and add mad_threshold test
  tests/tools/test_qc_filter.py
Due: none

added plotting tsse labels
  sctoolbox/tools/tsse.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

CHANGES.rst
  CHANGES.rst
Due: none

removed old plotting
  sctoolbox/tools/tsse.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Apply 1 suggestion(s) to 1 file(s)
  tests/tools/test_norm_correct.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  tests/plotting/test_embedding_pl.py
Due: none

solved thread separation lines
  tests/utils/test_adata.py
Due: none

linting
  tests/plotting/test_embedding_pl.py
  tests/utils/test_adata.py
Due: none

better integration of the new changes
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

update changelog
  CHANGES.rst
Due: none

Update CHANGES.rst
  CHANGES.rst
Due: none

Trigger nb pipeline
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: check_changes, deploy-pages-MR

Added apt-get update to the .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

repaired ligand receptor nb
  rna_analysis/notebooks/0B_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

fix variable order in GSEA notebook
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

lint
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix type hints
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Apply 1 suggestion(s) to 1 file(s)
  tests/tools/test_bam.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  tests/plotting/test_qc_filter.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  tests/plotting/test_highly_variable.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  tests/plotting/test_genometracks.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  tests/plotting/test_clustering.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  tests/tools/test_clustering.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  tests/tools/test_dim_reduction.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  tests/tools/test_frip.py
Due: none

some more lint
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
