Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

remove timestamps
  general_notebooks/annotation.ipynb
Due: check_changes, deploy-pages-MR

solved threads
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

solve threads
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

Update CHANGES.rst
  CHANGES.rst
Due: none

update CHANGES.rst
  CHANGES.rst
Due: none

trigger ci/cd
  sctoolbox_env.yml
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

update notebook metadata
  atac_analysis/notebooks/02_QC.ipynb
Due: check_changes, deploy-pages-MR

revise docu for rna clustering notebook
  rna_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

revise docu for atac clustering notebook
  atac_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

add linebreak
  general_notebooks/annotation.ipynb
Due: check_changes, deploy-pages-MR

Revert "update CHANGES.rst"
  CHANGES.rst
Due: none

revised 03 Docu
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  rna_analysis/notebooks/03_batch.ipynb
Due: check_changes, deploy-pages-MR

renamed 03_batch.ipynb to 03_normalization_batch_correction.ipynb
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

updated initial cell
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

fixed native scrublet
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

initial marker notebook changes
  general_notebooks/group_markers.ipynb
Due: check_changes, deploy-pages-MR

fix planet_plot not in lazyimport structure
  sctoolbox/plotting/__init__.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

update changelog
  CHANGES.rst
Due: none

ignore notebook outputs
  .gitignore
Due: none

solved threads
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

plot embedding fix
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

revised normalization description
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

updated changes
  CHANGES.rst
Due: none

implemented _add_legend_ax + test
  sctoolbox/plotting/embedding.py
  tests/plotting/test_embedding_pl.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

implemented plot_embedding style_fallback
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix colorbar wrong position assumption
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix second colorbar not removed
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Move ATAC QC metrices from notebook 1 to notebook 2
  CHANGES.rst
  atac_analysis/notebooks/01_assembling_anndata.ipynb
  atac_analysis/notebooks/02_QC.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

fix colorbar height within subplots
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix imports
  atac_analysis/notebooks/01_assembling_anndata.ipynb
  atac_analysis/notebooks/02_QC.ipynb
Due: check_changes, deploy-pages-MR

remove style_fallback
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

implemented feature_per_group + tests
  sctoolbox/plotting/embedding.py
  tests/plotting/test_embedding_pl.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix bug with writing rank_genes related adatas
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix bug with the "key_added" parameter
  sctoolbox/tools/marker_genes.py
  tests/tools/test_marker_genes.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

update notebook metadata
  atac_analysis/notebooks/02_QC.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

remove marker settings from config
  rna_analysis/notebooks/config.yaml
Due: none
