Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

Add tight layout to gsea dotplot
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Update overview image
  docs/source/index.rst
  image/sc_framework_overview.png
Due: none

move img into docs folder
  docs/source/conf.py
  docs/source/index.rst
Due: none

fix path
  docs/source/conf.py
Due: none

color the dendrogram for clusters/ cell types instead of segments
  general_notebooks/pseudotime_analysis.ipynb
Due: check_changes, deploy-pages-MR

update changelog
  CHANGES.rst
Due: none

Add condition difference calculations and modify interaction table
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Lint fix
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Apply 1 suggestion(s) to 1 file(s)
  CHANGES.rst
  docs/source/conf.py
  docs/source/index.rst
  general_notebooks/prepare_for_cellxgene.ipynb
  image/sc_framework_overview.png
  rna_analysis/notebooks/0A_ligand_receptor.ipynb
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
  sctoolbox/_version.py
  sctoolbox/plotting/clustering.py
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/general.py
  sctoolbox/plotting/gsea.py
  sctoolbox/plotting/marker_genes.py
  sctoolbox/plotting/planet_plot.py
  sctoolbox/plotting/qc_filter.py
  sctoolbox/plotting/velocity.py
  sctoolbox/tools/bam.py
  sctoolbox/tools/gsea.py
  sctoolbox/tools/receptor_ligand.py
  sctoolbox/utils/adata.py
  sctoolbox/utils/bioutils.py
  sctoolbox/utils/checker.py
  sctoolbox/utils/general.py
  tests/plotting/test_clustering.py
  tests/plotting/test_general.py
  tests/plotting/test_gsea_plotting.py
  tests/utils/test_adata.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Edit 0A_ligand_receptor.ipynb
  rna_analysis/notebooks/0A_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

Modify comment on normalize in 0A
  rna_analysis/notebooks/0A_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

Clear output
  rna_analysis/notebooks/0A_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

Fix test
  tests/tools/test_receptor_ligand.py
Due: none

Fix missing markdown cell
  rna_analysis/notebooks/0A_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

nb_name fix
  rna_analysis/notebooks/0C_ligand_receptor_differences.ipynb
Due: check_changes, deploy-pages-MR

cluster col name fix
  rna_analysis/notebooks/0C_ligand_receptor_differences.ipynb
Due: check_changes, deploy-pages-MR

fix typo
  rna_analysis/notebooks/0C_ligand_receptor_differences.ipynb
Due: check_changes, deploy-pages-MR

bug fix and consitent condition_filters handling
  rna_analysis/notebooks/0C_ligand_receptor_differences.ipynb
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

dict fix
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

if catch notebook
  rna_analysis/notebooks/0C_ligand_receptor_differences.ipynb
Due: check_changes, deploy-pages-MR

GSEA: Add results to adata.uns instead of returning them.
  general_notebooks/GSEA.ipynb
  sctoolbox/plotting/gsea.py
  sctoolbox/tools/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix enrichr bug
  sctoolbox/plotting/gsea.py
  sctoolbox/tools/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint
  sctoolbox/plotting/gsea.py
  sctoolbox/tools/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Update changelog
  CHANGES.rst
Due: none

Save GSEA anndata
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

Add logging to gsea functions
  sctoolbox/plotting/general.py
  sctoolbox/plotting/gsea.py
  sctoolbox/tools/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Bugfixes
  sctoolbox/plotting/gsea.py
  sctoolbox/tools/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint
  general_notebooks/GSEA.ipynb
  sctoolbox/tools/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Add additional description
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR
