Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-job, lint, test import, test coverage

Path conditions:
  build-job: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: tests/*.py, sctoolbox/**/*.py

Update annotation.ipynb
  general_notebooks/annotation.ipynb
Due: none

Cleanup Change log
  CHANGES.rst
Due: none

Replaces adata.obs/vdata.obs index check before merging
  rna_analysis/notebooks/14_velocity_analysis.ipynb
Due: none

Added init cells; Added missing blue color for input cells
  general_notebooks/prepare_for_cellxgene.ipynb
  general_notebooks/pseudotime_analysis.ipynb
  rna_analysis/notebooks/11_ligand_receptor.ipynb
  rna_analysis/notebooks/13_proportion_analysis.ipynb
Due: none

Set required scvelo version to >=0.3.1
  sctoolbox_env.yml
Due: build-job

Add fa2 to new requirement modul pseudotime
  setup.py
Due: build-job, lint, test import

Added BN_public to docu; Revise markdown cells
  general_notebooks/prepare_for_cellxgene.ipynb
Due: none

Velocity Notebook: Remove duplicate input parameters
  rna_analysis/notebooks/14_velocity_analysis.ipynb
Due: none

Try to fix CI check changes
  .gitlab-ci.yml
Due: none

Try: Fix CI check changes
  .gitlab-ci.yml
Due: none

Update change log
  CHANGES.rst
Due: none

Updated general annotation notebook
  general_notebooks/annotation.ipynb
Due: none

Updated CHANGES.rst
  CHANGES.rst
Due: none

fixes #205
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage

update changelog
  CHANGES.rst
Due: none

Add save parameter to plot calls
  general_notebooks/pseudotime_analysis.ipynb
Due: none

Clean notebook
  general_notebooks/pseudotime_analysis.ipynb
Due: none

Improve hardcoded substring of file name
  general_notebooks/pseudotime_analysis.ipynb
Due: none

replace old workflow with and overview image
  image/.gitkeep
  image/scRNAseq.png
  image/sc_framework_overview.png
Due: none

Changing to ..plot:: because functions plots
  sctoolbox/tools/clustering.py
Due: lint, test import, test coverage

fixed before for plotting function
  sctoolbox/tools/clustering.py
Due: lint, test import, test coverage

first changes to readme
  README.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  sctoolbox/plotting/marker_genes.py
Due: lint, test import, test coverage

Add save option to pseudotime umap
  general_notebooks/pseudotime_analysis.ipynb
Due: none

Updated annotation notebook
  general_notebooks/annotation.ipynb
Due: none
