Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

build-image-main:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-dev:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-mr:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage MR new image:
  stage: test
  image: $CI_REGISTRY_IMAGE:MR-${MR_VERSION}
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

test coverage MR dev-image:
  stage: test
  image: $CI_REGISTRY_IMAGE:dev
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

check_changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

deploy-pages-MR:
  stage: deploy
  needs:
  - job: build-pages-MR
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
  ...

updated CHANGES.rst
  CHANGES.rst
Due: none

updated docstring linting
  sctoolbox/_settings.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

refreshed the dicstring, rearranged the preprocess function parameters wrt relevance
  sctoolbox/plotting/planet_plot.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fixed lint
  sctoolbox/plotting/planet_plot.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fixed pygenometracks version
  =3.8
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

removed matplotlib fix
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

removed a comment
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

linting
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

fix issue with dict-like input and fix index TODO
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

implemented concadata test
  tests/utils/test_adata.py
Due: none

removed multi thread test of scrublet as this hangs up
  tests/core
  tests/test_qc_filter.py
Due: lint, test coverage MR dev-image, check_changes

linting
  tests/test_qc_filter.py
Due: lint, test coverage MR dev-image, check_changes

removed unknown file
  =3.8
Due: none

removed strange file
  tests/core
Due: none

Update planet_plot.py
  sctoolbox/plotting/planet_plot.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

solved conflicts and linting
  tests/test_analyser.py
  tests/test_utilities.py
  tests/tools/__init__.py
  tests/tools/test_bam.py
  tests/tools/test_calc_overlap_fc.py
Due: lint, test coverage MR dev-image, check_changes

conflicts and linting
  tests/tools/__init__.py
  tests/tools/test_bam.py
  tests/tools/test_qc_filter.py
Due: none

adapated to new import structure
  tests/plotting/test_qc_filter.py
  tests/tools/test_embedding_tl.py
  tests/tools/test_insertsize.py
  tests/tools/test_tobias.py
  tests/utils/test_adata.py
  tests/utils/test_checker.py
  tests/utils/test_general.py
  tests/utils/test_tables.py
Due: none

updated to new import structure
  atac_analysis/notebooks/01_assembling.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/03_batch.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/0A_marker_genes.ipynb
  rna_analysis/notebooks/0B_ligand_receptor.ipynb
  rna_analysis/notebooks/0C_velocity_analysis.ipynb
  tests/plotting/test_clustering.py
  tests/plotting/test_embedding_pl.py
  tests/plotting/test_general.py
  tests/plotting/test_highly_variable.py
  tests/plotting/test_marker_genes.py
  tests/plotting/test_qc_filter.py
  tests/plotting/test_velocity.py
  tests/tools/test_bam.py
  tests/tools/test_celltype_annotation.py
  tests/tools/test_clustering.py
  tests/tools/test_highly_variable.py
  tests/tools/test_insertsize.py
  tests/tools/test_peak_annotation.py
  tests/utils/test_io.py
Due: check_changes, deploy-pages-MR

linting
  tests/tools/test_highly_variable.py
Due: none

fix var name
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix type check and dict iteration issue
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

remove stray print
  tests/utils/test_adata.py
Due: none

implement from_h5ad test
  tests/utils/test_assemblers.py
Due: none

update rna/assembly notebook
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: check_changes, deploy-pages-MR

unhide cell
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: check_changes, deploy-pages-MR

update atac/assembly notebook
  atac_analysis/notebooks/01_assembling.ipynb
Due: check_changes, deploy-pages-MR

vanquished lint errors
  sctoolbox/utils/adata.py
  sctoolbox/utils/assemblers.py
  tests/utils/test_adata.py
  tests/utils/test_assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

update changelog
  CHANGES.rst
Due: none

one more lint
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

moved the test functions for norm_correct from test_adata and test_analyser to test_norm_correct
  tests/test_atac.py
  tests/tools/test_norm_correct.py
Due: lint, test coverage MR dev-image, check_changes

fix typo
  atac_analysis/notebooks/01_assembling.ipynb
Due: check_changes, deploy-pages-MR

round legend values
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

moved tests for decorator from test_logging.py to utils/test_decorator.py
  tests/test_atac.py
  tests/test_logging.py
  tests/utils/test_decorator.py
Due: lint, test coverage MR dev-image, check_changes

fix typo
  rna_analysis/notebooks/0B_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

re-lock cell
  rna_analysis/notebooks/0B_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

updated CHANGES
  CHANGES.rst
Due: none

deleted the file test_atac.py which got empty during the test cleanup of norm_correct.py
  tests/test_atac.py
Due: lint, test coverage MR dev-image, check_changes

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
