Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docstyle, lint, test import, test coverage

docstyle:
  image:
    name: python:latest
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - coverage
  script:
  - pip install pydocstyle
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - coverage
  script:
  - pip install flake8
  - pip install pydoclint
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  tags:
  - coverage
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - apt-get install bedtools
  - chmod +x scripts/bedGraphToBigWig
  - pip install pytest
  - pip install pytest-cov
  ...

Add @beartype
  sctoolbox/plotting/marker_genes.py
Due: none

potting/qc_filter.py: Add parameter type hints and checks/ fix marker_genes.py type hints
  sctoolbox/plotting/marker_genes.py
  sctoolbox/plotting/qc_filter.py
  tests/test_plotting.py
Due: docstyle, lint, test coverage

potting/velocity.py: Add parameter type hints and checks
  sctoolbox/plotting/velocity.py
Due: none

Minor fix
  sctoolbox/plotting/qc_filter.py
Due: none

Add beartype to conda env
  sctoolbox_env.yml
Due: none

lint lint
  sctoolbox/tools/bam.py
  sctoolbox/tools/calc_overlap_pct.py
Due: none

Remove beartype from env
  sctoolbox_env.yml
  setup.py
Due: docstyle, lint, test import

Minor fix
  sctoolbox/_settings.py
Due: docstyle, lint, test import, test coverage

Test matplotlib version
  setup.py
Due: docstyle, lint, test import

swap sine -> cosine
  sctoolbox/tools/fld_scoring.py
Due: none

update notebook and add it to atac pipeline
  atac-notebooks/06_proportion_analysis.ipynb
  atac-notebooks/config.yaml
Due: none

latest version test_fld_scorintg
  tests/test_fld_scoring.py
Due: docstyle, lint, test coverage

added RAGI and tests
  sctoolbox/tools/clustering.py
  tests/test_clustering.py
Due: docstyle, lint, test coverage

removed momentum
  sctoolbox/tools/fld_scoring.py
Due: none

changed fld_score_conv to fld_score
  sctoolbox/tools/fld_scoring.py
Due: none

added fortran compiler for scanpro installation
  Dockerfile
Due: none

Update .gitlab-ci.yml file to add the latest tag to the latest build.
  .gitlab-ci.yml
Due: none

removed nucleosomal_utils tests as it will be removed from sctoolbox
  tests/test_nucleosome_utils.py
Due: docstyle, lint, test coverage

Update .gitlab-ci.yml file to push latest as well
  .gitlab-ci.yml
Due: none

Apply 7 suggestion(s) to 5 file(s)
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/qc_filter.py
  sctoolbox/tools/bam.py
  sctoolbox/tools/calc_overlap_pct.py
  sctoolbox/tools/custom_celltype_annotation.py
Due: none

Remove debug print from test.
  tests/test_utilities.py
Due: docstyle, lint, test coverage

removed unused nucleosomal_utils.py and corresponding tests
  sctoolbox/tools/nucleosome_utils.py
  tests/test_nucleosome_utils.py
Due: docstyle, lint, test coverage

Update file nucleosome_utils.py
  sctoolbox/tools/nucleosome_utils.py
Due: none

Delete nucleosome_utils.py
  sctoolbox/tools/nucleosome_utils.py
Due: none

Remove sinto and add code for fragment file writing; moved to tools.bam
  sctoolbox/tools/bam.py
  sctoolbox/tools/calc_overlap_pct.py
  setup.py
  tests/data/atac/homo_sapiens_liver_sorted.bam
  tests/data/atac/homo_sapiens_liver_sorted.bam.bai
  tests/test_bam.py
  tests/test_calc_overlap_pct.py
Due: docstyle, lint, test import, test coverage

bugfix for validating verbosity
  sctoolbox/_settings.py
Due: docstyle, lint, test import, test coverage

fixed matplotlib version to 3.6.2 as 3.8 matplotlib shared axis object has no GroupedView() --> anndata_overview() fails
  setup.py
Due: docstyle, lint, test import

Added code to scale lisi axes to each other
  sctoolbox/plotting/embedding.py
Due: none

Loosen requirements in setup.py
  setup.py
Due: docstyle, lint, test import

Document changes
  CHANGES.rst
Due: none

Type linting
  sctoolbox/tools/bam.py
  tests/test_bam.py
Due: docstyle, lint, test coverage

Attempt to solve lrunner problem by setting specific tag
  .gitlab-ci.yml
Due: none

temporarily add pywt to solve test issues
  setup.py
Due: docstyle, lint, test import

Added top_genes parameter to get_rank_genes_tables
  CHANGES.rst
  sctoolbox/tools/marker_genes.py
Due: none

Fixed example for gene_expression_heatmap and removed group_heatmap
  docs/source/conf.py
  sctoolbox/plotting/marker_genes.py
  sctoolbox/tools/marker_genes.py
Due: none

lint matplotlib version
  sctoolbox/plotting/qc_filter.py
  sctoolbox/tools/calc_overlap_pct.py
Due: none

Path conditions:
  docstyle: any of: setup.py, tests/*.py, sctoolbox/*.py
  lint: any of: setup.py, tests/*.py, sctoolbox/*.py
  test import: any of: setup.py, sctoolbox/*.py
  test coverage: any of: tests/*.py, sctoolbox/*.py
