Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-job, lint, test import, test coverage

build-job:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - coverage
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$BUILD_VERSION
  tags:
  - coverage
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

added test _add_path()
  sctoolbox/utils/checker.py
  tests/test_checker.py
Due: lint, test import, test coverage

added test _overlap_two_bedfiles()
  sctoolbox/utils/checker.py
  tests/test_bioutils.py
  tests/test_checker.py
Due: lint, test import, test coverage

Update file CHANGES.rst
  CHANGES.rst
Due: none

linting
  tests/test_bioutils.py
  tests/test_checker.py
Due: lint, test coverage

removed printing
  tests/test_bioutils.py
Due: lint, test coverage

linting
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage

fixed version of ipywidgets=7.7.5 to fix the qc_violinplot function
  setup.py
Due: build-job, lint, test import

loosen version constraints ipywidgets<=7.7.5
  setup.py
Due: build-job, lint, test import

group_heatmap_example_added_plot
  sctoolbox/plotting/marker_genes.py
Due: lint, test import, test coverage

rename parameter cb_col to cb_tag
  sctoolbox/tools/bam.py
Due: lint, test import, test coverage

implemented check_barcode_tag tests
  tests/test_bam.py
Due: lint, test coverage

call correct function
  sctoolbox/plotting/general.py
Due: lint, test import, test coverage

moved annotate_genes() from 05 to 04 and removed 05 as not longer needed
  atac_analysis/notebooks/04_clustering.ipynb
  atac_analysis/notebooks/05_annotation.ipynb
Due: none

merged dev and added CHANGES
  CHANGES.rst
Due: none

comply with expected type "dict[str, list[Any]]" not "dict[str, set[Any]]" for groups_dict
  sctoolbox/plotting/general.py
Due: lint, test import, test coverage

test subset_bam
  tests/test_bam.py
Due: lint, test coverage

parametrized test_split_bam_clusters
  tests/test_bam.py
Due: lint, test coverage

fix parameter name
  tests/test_atac_utils.py
Due: lint, test coverage

add pip install pytest-mock
  Dockerfile
Due: build-job

lint
  tests/test_bam.py
Due: lint, test coverage

extend split_bam_clusters testing
  tests/test_bam.py
Due: lint, test coverage

temp dir added revision of the algorithm started
  sctoolbox/tools/calc_overlap_pct.py
  sctoolbox/utils/bioutils.py
Due: lint, test import, test coverage

ongoing revision
  sctoolbox/tools/calc_overlap_pct.py
Due: lint, test import, test coverage

Fix #179
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage

Update change log
  CHANGES.rst
Due: none

remove exceptions now handled by beartype
  sctoolbox/tools/clustering.py
Due: lint, test import, test coverage

add cluster check; removed beartype handled exception
  sctoolbox/tools/clustering.py
Due: lint, test import, test coverage

Update default values
  general_notebooks/pseudotime_analysis.ipynb
Due: none

revised calc_overlap.py and added tests
  sctoolbox/tools/bam.py
  sctoolbox/tools/calc_overlap_pct.py
  sctoolbox/utils/io.py
  tests/test_calc_overlap_pct.py
Due: lint, test import, test coverage

refactor rename
  sctoolbox/tools/calc_overlap_fc.py
  tests/test_calc_overlap_fc.py
Due: lint, test import, test coverage

Rename output parameter to 'save'
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage

Rename output parameter to 'save' in notebook
  rna_analysis/notebooks/11_ligand_receptor.ipynb
Due: none

linting and CHANGES
  CHANGES.rst
  sctoolbox/tools/calc_overlap_fc.py
  sctoolbox/utils/io.py
  tests/test_calc_overlap_fc.py
Due: lint, test import, test coverage

Looks better will be applied
  tests/test_checker.py
Due: lint, test coverage

linting
  sctoolbox/tools/calc_overlap_fc.py
  tests/test_calc_overlap_fc.py
Due: lint, test import, test coverage

Path conditions:
  build-job: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: tests/*.py, sctoolbox/**/*.py
