Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-job, lint, test import, test coverage

build-job:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - coverage
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$BUILD_VERSION
  tags:
  - coverage
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

Add save parameter to get_interactions
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage

Add get_interactiosn call to notebook allowing interaction table download
  rna_analysis/notebooks/11_ligand_receptor.ipynb
Due: none

moved io tests from annotation to io and fixed bug rm_tmp()
  sctoolbox/utils/io.py
  tests/test_io.py
Due: lint, test import, test coverage

linting
  tests/test_io.py
Due: lint, test coverage

removed io tests from annotation
  tests/test_annotation.py
Due: lint, test coverage

Update tests regarding renamed parameters
  tests/test_receptor_ligand.py
Due: lint, test coverage

linting
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage

Update change log
  CHANGES.rst
Due: none

implement recluster tests
  tests/test_clustering.py
Due: lint, test coverage

fix overlap_and_aggregate output type
  sctoolbox/tools/tsse.py
Due: lint, test import, test coverage

add tsse test cases
  tests/test_tsse.py
Due: lint, test coverage

Apply 3 suggestion(s) to 1 file(s)
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage

fixed tests
  sctoolbox/tools/calc_overlap_fc.py
  tests/test_calc_overlap_fc.py
Due: lint, test import, test coverage

linting
  tests/test_annotation.py
Due: lint, test coverage

updated doc strings and script description
  sctoolbox/tools/calc_overlap_fc.py
Due: lint, test import, test coverage

added mock to the add_path() test
  tests/test_checker.py
Due: lint, test coverage

Add missing f-strings
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage

Add RNA notebook 11 to notebook tests
  scripts/run_notebooks.py
Due: none

Add urllib3 to to be installed packages in notebook ci pipeline
  .gitlab-ci.yml
Due: none

Fix check for spliced/unspliced layer
  rna_analysis/notebooks/14_velocity_analysis.ipynb
Due: none

refactor urllib3 installation
  .gitlab-ci.yml
Due: none

urllib3 force reinstall
  .gitlab-ci.yml
Due: none

updated CHANGES
  CHANGES.rst
Due: none

Indeed not needed anymore here
  sctoolbox/utils/io.py
Due: lint, test import, test coverage

Thanks for the fix
  sctoolbox/utils/io.py
Due: lint, test import, test coverage

resolved threads Hendrik
  sctoolbox/utils/io.py
  tests/test_calc_overlap_fc.py
  tests/test_io.py
Due: lint, test import, test coverage

Added description to gene changes plot
  general_notebooks/pseudotime_analysis.ipynb
Due: none

Fix typos in notebook
  rna_analysis/notebooks/11_ligand_receptor.ipynb
Due: none

changed usage of tmpdir fixture to the intended way
  tests/test_calc_overlap_fc.py
Due: lint, test coverage

Add scvelo as velocity dependency
  setup.py
Due: build-job, lint, test import

Clean up notebook 11
  rna_analysis/notebooks/11_ligand_receptor.ipynb
Due: none

Remove unused code; fix typo
  rna_analysis/notebooks/14_velocity_analysis.ipynb
Due: none

Remove rna notebook 14 from list of tested notbooks until input data is available
  scripts/run_notebooks.py
Due: none

Add scvelo to conda env
  sctoolbox_env.yml
Due: build-job

Add description for scvelo in conda env yaml
  sctoolbox_env.yml
Due: build-job

Wording
  sctoolbox_env.yml
Due: build-job

fix min_cells default; add KeyError on missing adata.var column
  sctoolbox/tools/highly_variable.py
Due: lint, test import, test coverage

implement get_variable_features tests
  tests/test_annotation.py
Due: lint, test coverage

lint
  tests/test_annotation.py
Due: lint, test coverage

test add_gene_expression
  tests/test_marker_genes.py
Due: lint, test coverage

Path conditions:
  build-job: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: tests/*.py, sctoolbox/**/*.py
