Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

initial atac/03 update
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

solving threads
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

solved threads
  sctoolbox/utils/assemblers.py
  sctoolbox/utils/checker.py
  tests/utils/test_checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

accepted change
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

linting
  sctoolbox/utils/assemblers.py
  sctoolbox/utils/checker.py
  tests/utils/test_checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

repaired combat
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

linting
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

repaired barcode_index test
  sctoolbox/utils/bioutils.py
  tests/test_bioutils.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add dot_colors parameter
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add dot_size parameter
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix missing legend title
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

added planet plot tests
  sctoolbox/plotting/planet_plot.py
  tests/plotting/test_planet_plot.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

implement col_order parameter
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fixed issues with the tests, encapsulated genes_aggregator function for better testing
  sctoolbox/plotting/planet_plot.py
  tests/plotting/test_planet_plot.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fixed linting
  sctoolbox/plotting/planet_plot.py
  tests/plotting/test_planet_plot.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

implement alpha_range parameter
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint dislikes lambda
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

rename col_order -> xlabel_order
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

update notebook
  rna_analysis/notebooks/0B_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

update changelog
  CHANGES.rst
Due: none

added docstring examples
  sctoolbox/plotting/planet_plot.py
  tests/plotting/test_planet_plot.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fixed docstring lint
  sctoolbox/plotting/planet_plot.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

submitting to lints demands
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

resolved threads
  sctoolbox/tools/norm_correct.py
  sctoolbox/utils/assemblers.py
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fixed examples
  sctoolbox/plotting/planet_plot.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fixed test assembler.py
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

planet plot examples render test
  sctoolbox/plotting/planet_plot.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

removed test notebook for planet plot
  test_notebooks_aviral/planet_plot_demo.ipynb
Due: none

added entry to CHANGES.rst
  CHANGES.rst
Due: none

hide helper functions of the planet plot
  sctoolbox/plotting/planet_plot.py
  tests/plotting/test_planet_plot.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fixed linting
  tests/plotting/test_planet_plot.py
Due: none

updated notebook, resolved threads
  atac_analysis/notebooks/01_assembling.ipynb
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Update 01_assembling.ipynb
  atac_analysis/notebooks/01_assembling.ipynb
Due: check_changes, deploy-pages-MR

refactor rename
  sctoolbox/utils/assemblers.py
  sctoolbox/utils/checker.py
  tests/utils/test_checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

implement concadata
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

implement from_h5ad
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

solved version conflict statannotations
  sctoolbox_env.yml
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image
