Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-job, lint, test import, test coverage

build-job:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - coverage
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$BUILD_VERSION
  tags:
  - coverage
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

Added missing import Literal
  sctoolbox/tools/fld_scoring.py
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage

Change function name to plot_embedding to prevent conflict with embedding module
  sctoolbox/plotting/embedding.py
  tests/test_plotting.py
Due: lint, test import, test coverage

changed typing to beartype.typing
  sctoolbox/_settings.py
  sctoolbox/plotting/clustering.py
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/general.py
  sctoolbox/plotting/marker_genes.py
  sctoolbox/plotting/qc_filter.py
  sctoolbox/plotting/velocity.py
  sctoolbox/tools/bam.py
  sctoolbox/tools/calc_overlap_pct.py
  sctoolbox/tools/celltype_annotation.py
  sctoolbox/tools/clustering.py
  sctoolbox/tools/custom_celltype_annotation.py
  sctoolbox/tools/dim_reduction.py
  sctoolbox/tools/embedding.py
  sctoolbox/tools/frip.py
  sctoolbox/tools/gene_correlation.py
  sctoolbox/tools/highly_variable.py
  sctoolbox/tools/insertsize.py
  sctoolbox/tools/marker_genes.py
  sctoolbox/tools/multiomics.py
  sctoolbox/tools/norm_correct.py
  sctoolbox/tools/peak_annotation.py
  sctoolbox/tools/qc_filter.py
  sctoolbox/tools/receptor_ligand.py
  sctoolbox/tools/tobias.py
  sctoolbox/tools/tsse.py
  sctoolbox/utils/adata.py
  sctoolbox/utils/assemblers.py
  sctoolbox/utils/bioutils.py
  sctoolbox/utils/checker.py
  sctoolbox/utils/creators.py
  sctoolbox/utils/decorator.py
  sctoolbox/utils/general.py
  sctoolbox/utils/io.py
  sctoolbox/utils/jupyter.py
  sctoolbox/utils/multiprocessing.py
  sctoolbox/utils/tables.py
Due: lint, test import, test coverage

Fix plot_embedding such that multiple components are possible
  sctoolbox/plotting/embedding.py
  tests/test_plotting.py
Due: lint, test import, test coverage

Apply 1 suggestion(s) to 1 file(s)
  sctoolbox/plotting/marker_genes.py
Due: lint, test import, test coverage

Apply 1 suggestion(s) to 1 file(s)
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage

Solve issue with genometracks plot not showing up in docs
  sctoolbox/plotting/genometracks.py
Due: lint, test import, test coverage

Update file CHANGES.rst
  CHANGES.rst
Due: none

image directive back to genomtrack_X
  sctoolbox/plotting/genometracks.py
Due: lint, test import, test coverage

backslashes not needed
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage

build pages with all dependencies
  .gitlab-ci.yml
Due: none

adjust embedding example
  CHANGES.rst
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage

set method as pca for multi-component plot
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage

check number of components given
  sctoolbox/plotting/embedding.py
  tests/test_plotting.py
Due: lint, test import, test coverage

Fix minor bugs
  rna-notebooks/99_prepare_for_cellxgene.ipynb
Due: none

prepare_for_cellxgene(): Add palette parameter
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage

Update mampok import
  rna-notebooks/99_prepare_for_cellxgene.ipynb
  setup.py
Due: build-job, lint, test import

Fix MaMPlan save location
  rna-notebooks/99_prepare_for_cellxgene.ipynb
Due: none

lint
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage

Updated change log
  CHANGES.rst
Due: none

added Tests for prepare_atac_anndata
  sctoolbox/utils/assemblers.py
  sctoolbox/utils/checker.py
  tests/data/atac/snapatac.h5ad
  tests/test_assemblers.py
  tests/test_bioutils.py
  tests/test_checker.py
Due: lint, test import, test coverage

removed assemble_from_h5ad() use prepare_atac_anndata() instead after loading the file
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage

Add method to show code examples in docs
  Dockerfile
  docs/source/conf.py
  sctoolbox/tools/qc_filter.py
Due: build-job, lint, test import, test coverage

Fixed typing fld_score and prepare_atac_anndata
  sctoolbox/tools/fld_scoring.py
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage

Fix missing merge
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage

Fix merge
  sctoolbox/tools/frip.py
Due: lint, test import, test coverage

Add changes
  CHANGES.rst
Due: none

Cleanup Notebook
  rna-notebooks/99_prepare_for_cellxgene.ipynb
Due: none

updated atac notebook 1
  atac-notebooks/01_assembling.ipynb
Due: none

Add owner parameter
  rna-notebooks/99_prepare_for_cellxgene.ipynb
Due: none

Move prepare for cellxgene notebook to general notebook dir
  general_notebooks/99_prepare_for_cellxgene.ipynb
  general_notebooks/config.yaml
Due: none

Remove 99 section from rna config
  rna-notebooks/config.yaml
Due: none

Fix docker build
  Dockerfile
Due: build-job

Fix batch evaluation for small datasets via perplexity
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage

Removed config file from general notebooks
  general_notebooks/config.yaml
  general_notebooks/prepare_for_cellxgene.ipynb
Due: none

Add general notebooks to notebook test script
  general_notebooks/prepare_for_cellxgene.ipynb
  scripts/run_notebooks.py
Due: none

Change example input file
  general_notebooks/prepare_for_cellxgene.ipynb
Due: none

updated 02_QC.ipynb
  atac-notebooks/02_QC.ipynb
Due: none

Path conditions:
  build-job: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: tests/*.py, sctoolbox/**/*.py
