Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

add kwargs to from q_ant and header parameter in notebook 1
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add check for quant folder in from_quant
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

udate CHANGES.rst
  CHANGES.rst
Due: none

linting
  tests/utils/test_jupyter.py
Due: none

update comments
  rna_analysis/notebooks/02_QC_filtering.ipynb
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add test
  tests/tools/test_qc_filter.py
Due: none

added missing tests
  tests/tools/test_clustering.py
Due: none

CHANGES
  CHANGES.rst
Due: none

lint
  CHANGES.rst
  tests/tools/test_qc_filter.py
Due: none

forget a period again
  tests/tools/test_qc_filter.py
Due: none

pin scipy version to < 1.14 to avoid 'SparseCSRView' object has no attribute 'A' error
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

_get_thresholds -> gmm_threshold
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

PCA correlation: Replace columns with ignore parameter
  rna_analysis/notebooks/03_batch.ipynb
  sctoolbox/plotting/embedding.py
  sctoolbox/tools/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

test_embedding: adapt tests to new ignore parameter of correlation_matrix function
  rna_analysis/notebooks/03_batch.ipynb
  tests/tools/test_embedding.py
Due: check_changes, deploy-pages-MR

RNA notebook 03: Revert testing parameters to default
  rna_analysis/notebooks/03_batch.ipynb
Due: check_changes, deploy-pages-MR

Update change log
  CHANGES.rst
Due: none

lint
  sctoolbox/plotting/embedding.py
  sctoolbox/tools/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

implement mad threshold
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

automatic_thresholds: expose filter function
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

test_plotting: adapt tests to new ignore parameter of plot_pca_correlation function
  tests/test_plotting.py
Due: lint, test coverage MR dev-image, check_changes

properly use callable type
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

correlation_matrix: simplify capture of numeric columns
  sctoolbox/tools/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

RNA notebook 3: Add ignore_cols to parameter description table
  rna_analysis/notebooks/03_batch.ipynb
Due: check_changes, deploy-pages-MR

Fix build-pages issues
  sctoolbox/plotting/gsea.py
  sctoolbox/plotting/marker_genes.py
  sctoolbox/tools/receptor_ligand.py
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

resolved threads
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Update changelog
  CHANGES.rst
Due: none

added ignore to the notebook
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

resolved thread
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

clear output
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

fixed tests
  tests/plotting/test_embedding_pl.py
Due: none

added blank line
  tests/plotting/test_embedding_pl.py
Due: none

fixed wrap batch correction tests
  tests/tools/test_norm_correct.py
Due: none

Add - to complete header
  docs/source/general-notebooks/index.rst
Due: none

implement workaround for scipy .A deprecation and add check for feature_types column
  sctoolbox/tools/qc_filter.py
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

repaired notebooks outputs
  atac_analysis/notebooks/01_assembling.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: check_changes, deploy-pages-MR

revert to the new plot_corr test
  general_notebooks/pseudotime_analysis.ipynb
  tests/plotting/test_embedding_pl.py
Due: check_changes, deploy-pages-MR

set scipy version to >=1.14
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

revert workaround for scipy .A deprecation
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR
