Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

implement correlation_matrix (before included in plot_pca_correlation)
  sctoolbox/tools/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

implemented propose_pcs
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix imports and param default
  sctoolbox/tools/dim_reduction.py
  sctoolbox/tools/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

exchanged whitescape with '=' for cov-html
  .gitlab-ci.yml
Due: none

add typing, fix KneeLocator param order
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

moved tests for plotting/clustering.py
  CHANGES.rst
  tests/plotting/test_clustering.py
  tests/test_plotting.py
Due: lint, test coverage MR dev-image, check_changes

added docstring to new test file
  tests/plotting/test_clustering.py
Due: none

changed path again
  tests/test_plotting.py
Due: lint, test coverage MR dev-image, check_changes

fix in_range() example and add explanation
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add var_method "percent"
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

remove whitespace
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

CI/CD overhaul 2 init
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

fix "variance" percentile selection
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

subse_PCA implemented PC number based selection
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

implemented correlation subplot
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

updated PC selection process in batch notebook
  rna_analysis/notebooks/03_batch.ipynb
Due: check_changes, deploy-pages-MR

mega lint
  sctoolbox/plotting/embedding.py
  sctoolbox/tools/dim_reduction.py
  sctoolbox/tools/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

micro lint
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Do ot excepct ValueError when running test_anndata_overview_fail_plots
  tests/test_plotting.py
Due: lint, test coverage MR dev-image, check_changes

Implemented corr_on parameter
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

adjust text box style and location
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

replace scanpy pseudotime with scFates
  CHANGES.rst
  general_notebooks/pseudotime_analysis.ipynb
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, check_changes, deploy-pages-MR

minor fixes
  general_notebooks/pseudotime_analysis.ipynb
Due: check_changes, deploy-pages-MR

remove not needed cell from notebook
  general_notebooks/pseudotime_analysis.ipynb
Due: check_changes, deploy-pages-MR

move proportion_analysis notebooks to general_notebooks
  atac_analysis/notebooks/06_proportion_analysis.ipynb
  atac_analysis/notebooks/config.yaml
  general_notebooks/proportion_analysis.ipynb
Due: check_changes, deploy-pages-MR

modify CHANGES.rst
  CHANGES.rst
Due: none

reworked rna 03_batch.ipynb PCA section
  rna_analysis/notebooks/03_batch.ipynb
Due: check_changes, deploy-pages-MR

added more descriptions to rna notebook 3
  rna_analysis/notebooks/03_batch.ipynb
Due: check_changes, deploy-pages-MR

description adjustments
  rna_analysis/notebooks/03_batch.ipynb
Due: check_changes, deploy-pages-MR

implemented tests for propose_pcs and subset_PCA + cleanup
  tests/test_analyser.py
  tests/test_atac.py
  tests/tools/test_dim_reduction.py
Due: lint, test coverage MR dev-image, check_changes

RNA Notebook 5: Improve marker gene expression plotting
  rna_analysis/notebooks/05_marker_genes.ipynb
Due: check_changes, deploy-pages-MR

lint
  tests/tools/test_dim_reduction.py
Due: none

fix parameter types
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

adjust parameter name
  tests/test_plotting.py
Due: lint, test coverage MR dev-image, check_changes

fix var referenced before assignment
  sctoolbox/tools/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

implemented correlation_matrix tests
  tests/tools/test_embedding.py
Due: none

add missing test function
  tests/plotting/marker_genes.py
Due: none
