Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docstyle, lint, test import, test coverage

Path conditions:
  docstyle: any of: setup.py, tests/*.py, sctoolbox/*.py
  lint: any of: setup.py, tests/*.py, sctoolbox/*.py
  test import: any of: setup.py, sctoolbox/*.py
  test coverage: any of: tests/*.py, sctoolbox/*.py

Debug python version
  .gitlab-ci.yml
Due: none

Revert "Resolve overlooked merge conflict."
  sctoolbox/tools/nucleosome_utils.py
Due: none

Revert "Doc-sting linting for for MPOverlapPct"
  sctoolbox/tools/calc_overlap_pct.py
Due: none

Revert "revised density plot and added documentation"
  sctoolbox/tools/calc_overlap_pct.py
  sctoolbox/tools/nucleosome_utils.py
Due: none

MPOverlapPct: Do manual documentation instead of cherry pick.
  sctoolbox/tools/calc_overlap_pct.py
Due: none

pin pydoclint version
  .gitlab-ci.yml
Due: none

handle float for density plotting
  sctoolbox/tools/nucleosome_utils.py
Due: none

pydoclint >= 0.1.7
  .gitlab-ci.yml
Due: none

Add function identify_columns() (#90)
  sctoolbox/utils/general.py
Due: none

Fix tests
  sctoolbox/tools/norm_correct.py
  tests/test_analyser.py
Due: docstyle, lint, test coverage

Add test for identify_columns()
  tests/test_utilities.py
Due: docstyle, lint, test coverage

Update changelog
  CHANGES.rst
Due: none

Forgot to save conflict solving..
  CHANGES.rst
Due: none

Fix typo
  CHANGES.rst
Due: none

fix Typo in doc-string
  sctoolbox/utils/general.py
Due: none

removed cellcycle from label_genes
  tests/test_marker_genes.py
Due: docstyle, lint, test coverage

final adjustments to default values style
  sctoolbox/plotting/marker_genes.py
  sctoolbox/tools/multiomics.py
  sctoolbox/utils/adata.py
  sctoolbox/utils/assemblers.py
  sctoolbox/utils/io.py
Due: none

added changes
  CHANGES.rst
Due: none

CRLF -> LF
  sctoolbox/tools/norm_correct.py
Due: none

fixed scaling for density plotting
  sctoolbox/tools/nucleosome_utils.py
Due: none

fixed linting
  sctoolbox/tools/calc_overlap_pct.py
  sctoolbox/tools/nucleosome_utils.py
  sctoolbox/tools/tsse.py
  sctoolbox/utils/bioutils.py
  tests/test_frip.py
  tests/test_tsse.py
  tests/test_utilities.py
Due: docstyle, lint, test coverage

fixed lint tsse
  sctoolbox/tools/tsse.py
Due: none

update gitattributes for line endings
  .gitattributes
Due: none

Changed existing CRLF->LF
  .gitconfig
  docs/make.bat
  docs/source/CHANGES.rst
  docs/source/_templates/module.rst_t
  docs/source/build_api.py
  docs/source/plot_pre_code.py
  pyproject.toml
  scripts/check_notebooks.py
  scripts/run_notebooks.py
  sctoolbox/__init__.py
  sctoolbox/_modules.py
  sctoolbox/plotting/__init__.py
  sctoolbox/plotting/highly_variable.py
  sctoolbox/tools/__init__.py
  sctoolbox/tools/clustering.py
  sctoolbox/tools/dim_reduction.py
  sctoolbox/tools/highly_variable.py
  sctoolbox/tools/insertsize.py
  sctoolbox/utils/__init__.py
  sctoolbox/utils/bioutils.py
  sctoolbox/utils/io.py
  sctoolbox/utils/jupyter.py
  sctoolbox/utils/multiprocessing.py
  sctoolbox/utils/tables.py
  tests/__init__.py
  tests/test_creator.py
  tests/test_logging.py
  tests/test_multiomics.py
  tests/test_receptor_ligand.py
  tests/test_settings.py
Due: docstyle, lint, test import, test coverage

changed changes file
  CHANGES.rst
Due: none

implemented prepare_for_cellxgene tests
  tests/test_adata.py
Due: docstyle, lint, test coverage

Fix linting
  sctoolbox/plotting/embedding.py
  sctoolbox/tools/norm_correct.py
  tests/test_analyser.py
  tests/test_plotting.py
Due: docstyle, lint, test coverage

Raise segment and changes file
  CHANGES.rst
  sctoolbox/plotting/embedding.py
Due: none

change to linux linebreaks
  sctoolbox/utils/adata.py
  tests/test_adata.py
Due: docstyle, lint, test coverage

lint
  sctoolbox/utils/adata.py
  tests/test_adata.py
Due: docstyle, lint, test coverage

fixed linting
  sctoolbox/tools/frip.py
  sctoolbox/tools/nucleosome_utils.py
  sctoolbox/tools/tsse.py
  sctoolbox/utils/bioutils.py
  tests/test_frip.py
  tests/test_tsse.py
  tests/test_utilities.py
Due: docstyle, lint, test coverage

fixed docstring linting
  sctoolbox/tools/frip.py
  sctoolbox/tools/nucleosome_utils.py
  sctoolbox/tools/tsse.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  sctoolbox/utils/adata.py
Due: none

lint
  sctoolbox/tools/tsse.py
  sctoolbox/utils/bioutils.py
Due: none

Apply 6 suggestion(s) to 2 file(s)
  sctoolbox/plotting/marker_genes.py
  sctoolbox/tools/gene_correlation.py
Due: none

fixed tests and linting
  sctoolbox/tools/calc_overlap_pct.py
  sctoolbox/tools/nucleosome_utils.py
  tests/data/atac/chr4_mm10_genes.gtf
  tests/test_annotation.py
  tests/test_nucleosome_utils.py
Due: docstyle, lint, test coverage

Added pairwise scatterplots
  CHANGES.rst
  sctoolbox/plotting/general.py
Due: none

lint
  sctoolbox/utils/bioutils.py
Due: none

lint
  tests/test_tsse.py
Due: docstyle, lint, test coverage
