Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test coverage

lint:
  image: python:3.10
  inherit:
    default: false
  stage: test
  tags:
  - coverage
  script:
  - pip install flake8
  - flake8 sctoolbox setup.py tests --ignore=E501,W503 --extend-exclude=sctoolbox/__init__.py,sctoolbox/data,tests/data
  allow_failure: false

test coverage:
  stage: test
  image: python:3.10
  tags:
  - coverage
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - apt-get install bedtools
  - chmod +x scripts/bedGraphToBigWig
  - pip install pytest
  - pip install pytest-cov
  - pip install pytest-html
  ...

set gene names as index instead of ensemble ids in fixture
  tests/test_plotting.py
Due: lint, test coverage

lint 1
  sctoolbox/plotting/marker_genes.py
  sctoolbox/tools/gene_correlation.py
Due: none

lint 2
  sctoolbox/tools/gene_correlation.py
  tests/test_gene_correlation.py
Due: lint, test coverage

lint 3
  sctoolbox/tools/gene_correlation.py
  tests/test_gene_correlation.py
Due: lint, test coverage

Add changes to Changes.rst
  CHANGES.rst
Due: none

decorate all the things (with log_anndata)
  sctoolbox/plotting/clustering.py
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/general.py
  sctoolbox/plotting/highly_variable.py
  sctoolbox/plotting/marker_genes.py
  sctoolbox/plotting/qc_filter.py
  sctoolbox/plotting/velocity.py
  sctoolbox/tools/bam.py
  sctoolbox/tools/celltype_annotation.py
  sctoolbox/tools/marker_genes.py
  sctoolbox/tools/qc_filter.py
  sctoolbox/tools/receptor_ligand.py
  sctoolbox/utils/adata.py
  sctoolbox/utils/bioutils.py
Due: none

fix deprecated paths
  README.md
Due: none

Revert replacing Gene ID with Gene Name; Fix assert call
  tests/test_plotting.py
Due: lint, test coverage

Rename function Gene ID with Gene Name; Fix assert call
  sctoolbox/tools/gene_correlation.py
Due: none

Added test
  tests/test_gene_correlation.py
Due: lint, test coverage

Remove unused variable
  tests/test_gene_correlation.py
Due: lint, test coverage

Improve tests for gene correlation
  sctoolbox/tools/gene_correlation.py
  tests/test_gene_correlation.py
  tests/test_plotting.py
Due: lint, test coverage

Added Example for plot_gene_correlation()
  sctoolbox/plotting/marker_genes.py
Due: none

lint
  tests/test_gene_correlation.py
  tests/test_plotting.py
Due: lint, test coverage

Get latest bbknn version for setup; sklearn version >=1.3
  setup.py
Due: lint

lint
  setup.py
Due: lint

Add note to bbknn version
  CHANGES.rst
Due: none

Added issue number to bbknn comment
  setup.py
Due: lint

order notebook list to ensure proper execution order
  scripts/run_notebooks.py
Due: none

Revert "Merge branch '128-pin-sk-learn' into 'dev'"
  CHANGES.rst
  setup.py
Due: lint

Set sk-lern version to <= 1.2 to prevent errors from bbknn
  setup.py
Due: lint

Specific scikit-learn verison to <=1.2.2
  setup.py
Due: lint

Test fix for shell not found error
  .gitlab-ci.yml
Due: none

Added comments to newst changes
  .gitlab-ci.yml
Due: none

Update change log
  CHANGES.rst
Due: none

Added option to keep notebook metadata and only delete cell metadata
  .gitconfig
Due: none

Added sctoolbox env as default environment
  rna-notebooks/01_assembling_anndata.ipynb
  rna-notebooks/02_QC_filtering.ipynb
  rna-notebooks/03_batch.ipynb
  rna-notebooks/04_clustering.ipynb
  rna-notebooks/05_marker_genes.ipynb
  rna-notebooks/11_ligand_receptor.ipynb
Due: none

Test gitconfig
  rna-notebooks/02_QC_filtering.ipynb
Due: none

Remove empty cell from notebook
  rna-notebooks/01_assembling_anndata.ipynb
Due: none

Cleanup Notebooks
  rna-notebooks/03_batch.ipynb
  rna-notebooks/04_clustering.ipynb
  rna-notebooks/05_marker_genes.ipynb
Due: none

Added sctoolbox as default kernel
  atac-notebooks/01_assembling.ipynb
  atac-notebooks/02_QC.ipynb
  atac-notebooks/03_normalization_batch_correction.ipynb
  atac-notebooks/04_clustering.ipynb
  atac-notebooks/05_annotation.ipynb
Due: none

Update Change log
  CHANGES.rst
Due: none

Add function to intersect custom marker gene dict to adata.var
  CHANGES.rst
  rna-notebooks/05_marker_genes.ipynb
  sctoolbox/utils/checker.py
Due: none

Improve list intersection by using sets
  sctoolbox/utils/checker.py
Due: none

Added test for check_marker_lists
  tests/test_utilities.py
Due: lint, test coverage

Remove typo
  CHANGES.rst
Due: none

Added lines accidenally deleted while merging
  CHANGES.rst
Due: none

lint
  sctoolbox/utils/checker.py
Due: none

Added additonal parameter checks
  sctoolbox/plotting/embedding.py
Due: none

Path conditions:
  lint: any of: setup.py, tests/*.py, sctoolbox/*.py
  test coverage: any of: tests/*.py, sctoolbox/*.py
