Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test coverage

Path conditions:
  lint: any of: setup.py, tests/*.py, sctoolbox/*.py
  test coverage: any of: tests/*.py, sctoolbox/*.py

refactored load h5ad related functions and set test_data/*.h5ad file as notebook input
  atac-notebooks/01_assembling.ipynb
  sctoolbox/utils/assemblers.py
  sctoolbox/utils/bioutils.py
  sctoolbox/utils/checker.py
Due: none

minor changes notebook_1
  atac-notebooks/01_assembling.ipynb
Due: none

Update 2 files
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/marker_genes.py
Due: none

Update file embedding.py
  sctoolbox/plotting/embedding.py
Due: none

Add log file to settings
  sctoolbox/_settings.py
  sctoolbox/utils/adata.py
  sctoolbox/utils/checker.py
  sctoolbox/utils/general.py
  sctoolbox/utils/logging.py
  tests/test_settings.py
Due: lint, test coverage

Adding decorator calls and conversion to table
  sctoolbox/tools/dim_reduction.py
  sctoolbox/tools/insertsize.py
  sctoolbox/tools/norm_correct.py
  sctoolbox/tools/qc_filter.py
  sctoolbox/utils/adata.py
  sctoolbox/utils/decorator.py
Due: none

fixed wrong scaling of the density plot
  sctoolbox/tools/nucleosome_utils.py
Due: none

Update 2 files
  atac-notebooks/01_assembling.ipynb
  atac-notebooks/05_annotation.ipynb
Due: none

added logging decorator and exchanged prints by logger.info
  atac-notebooks/05_annotation.ipynb
  sctoolbox/tools/bam.py
  sctoolbox/tools/calc_overlap_pct.py
  sctoolbox/tools/highly_variable.py
  sctoolbox/tools/norm_correct.py
  sctoolbox/tools/nucleosome_utils.py
  sctoolbox/tools/peak_annotation.py
  sctoolbox/tools/qc_filter.py
  sctoolbox/utils/assemblers.py
Due: none

fixed wrong use of logging
  sctoolbox/tools/peak_annotation.py
  sctoolbox/tools/qc_filter.py
  sctoolbox/utils/assemblers.py
Due: none

clustermap_dotplot: fix bug caused by NaN created during pd.pivot
  sctoolbox/plotting/general.py
Due: none

add colormap parameter
  sctoolbox/plotting/general.py
Due: none

add clustermap_dotplot example
  sctoolbox/plotting/general.py
Due: none

change cmap in exmaple to viridis
  sctoolbox/plotting/general.py
Due: none

replaced print logger.info and added logger decorator
  sctoolbox/plotting/clustering.py
  sctoolbox/tools/bam.py
  sctoolbox/tools/clustering.py
  sctoolbox/tools/custom_celltype_annotation.py
  sctoolbox/tools/norm_correct.py
  sctoolbox/tools/nucleosome_utils.py
  sctoolbox/tools/qc_filter.py
Due: none

fixed output format log_anndata and peak_annotation.py verbose logging
  sctoolbox/tools/peak_annotation.py
  sctoolbox/utils/decorator.py
Due: none

linting and changes
  CHANGES.rst
  sctoolbox/tools/bam.py
  sctoolbox/tools/custom_celltype_annotation.py
  sctoolbox/utils/checker.py
Due: none

Update file checker.py
  sctoolbox/utils/checker.py
Due: none

added tests for the decorator
  tests/test_logging.py
Due: lint, test coverage

fixed lint
  tests/test_logging.py
Due: lint, test coverage

removed add_uns_info() and removed verbose print
  sctoolbox/tools/marker_genes.py
  sctoolbox/tools/qc_filter.py
  tests/test_annotation.py
Due: lint, test coverage

Update file test_annotation.py
  tests/test_annotation.py
Due: lint, test coverage

fixed predict_sex_test
  sctoolbox/tools/qc_filter.py
  sctoolbox/utils/adata.py
  tests/test_qc_filter.py
Due: lint, test coverage

Update 2 files
  sctoolbox/utils/adata.py
  tests/test_qc_filter.py
Due: lint, test coverage

Update file test_utilities.py
  tests/test_utilities.py
Due: lint, test coverage

Update 2 files
  setup.py
  tests/test_utilities.py
Due: lint, test coverage

changed scikit-learn version to <= 1.2.2 as bbknn needs this
  setup.py
Due: lint

Added description for independent_corr
  sctoolbox/tools/gene_correlation.py
Due: none

revised get_parameter_table()
  sctoolbox/utils/adata.py
  sctoolbox/utils/decorator.py
Due: none

Fix importing bug for independent_corr
  sctoolbox/plotting/embedding.py
Due: none

Add plot_gene_correlation function
  sctoolbox/plotting/marker_genes.py
Due: none

plot_gene_correlation(): minor changes
  sctoolbox/plotting/marker_genes.py
Due: none

Added umap plot option for correlate_ref_vs_all
  sctoolbox/tools/gene_correlation.py
Due: none

Update file decorator.py
  sctoolbox/utils/decorator.py
Due: none

Added tests for gene correlation
  tests/test_gene_correlation.py
Due: lint, test coverage

Add test for plot_gene_correlation
  tests/test_plotting.py
Due: lint, test coverage

Added missing import
  sctoolbox/plotting/marker_genes.py
Due: none

Fix typos & fix save option
  sctoolbox/tools/gene_correlation.py
Due: none

Fix wrong parameter name
  tests/test_gene_correlation.py
Due: lint, test coverage
