Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

fix test_calc_overlap_fc related imports
  sctoolbox/tools/calc_overlap_fc.py
  tests/test_calc_overlap_fc.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix test_celltype_annotation related imports
  sctoolbox/tools/celltype_annotation.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix test_clustering related imports
  sctoolbox/tools/clustering.py
  tests/test_clustering.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix test_frip related imports
  sctoolbox/tools/frip.py
  tests/test_frip.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix test_io related imports
  tests/test_io.py
Due: lint, test coverage MR dev-image, check_changes

fix test_logging related imports
  tests/test_logging.py
Due: lint, test coverage MR dev-image, check_changes

fix test_marker_genes related imports
  sctoolbox/tools/marker_genes.py
  sctoolbox/utils/tables.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix test_multiomics related imports
  sctoolbox/tools/multiomics.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix test_plot_genometrackes related imports
  sctoolbox/plotting/genometracks.py
  tests/test_plot_genometracks.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix test_plotting related imports
  sctoolbox/plotting/clustering.py
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/highly_variable.py
  sctoolbox/plotting/marker_genes.py
  sctoolbox/plotting/qc_filter.py
  sctoolbox/plotting/velocity.py
  sctoolbox/tools/embedding.py
  tests/test_plotting.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix test_qc_filter related imports
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix test_tsse imports
  sctoolbox/tools/tsse.py
  tests/test_tsse.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix test_utilities related imports
  tests/test_utilities.py
Due: lint, test coverage MR dev-image, check_changes

lint be gone
  sctoolbox/tools/calc_overlap_fc.py
  sctoolbox/tools/marker_genes.py
  sctoolbox/tools/qc_filter.py
  tests/test_annotation.py
  tests/test_plotting.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix test_annotation related imports II
  sctoolbox/tools/peak_annotation.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

micro lint
  tests/test_plotting.py
Due: lint, test coverage MR dev-image, check_changes

update remaining imports (including docu examples)
  docs/source/utils_pre_code.py
  sctoolbox/plotting/clustering.py
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/general.py
  sctoolbox/plotting/genometracks.py
  sctoolbox/plotting/marker_genes.py
  sctoolbox/plotting/qc_filter.py
  sctoolbox/tools/celltype_annotation.py
  sctoolbox/tools/clustering.py
  sctoolbox/tools/marker_genes.py
  sctoolbox/tools/norm_correct.py
  sctoolbox/tools/qc_filter.py
  sctoolbox/utils/assemblers.py
  sctoolbox/utils/checker.py
  sctoolbox/utils/decorator.py
  sctoolbox/utils/jupyter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

atac notebooks 01: fixed imports + basic linting
  atac_analysis/notebooks/01_assembling.ipynb
Due: check_changes, deploy-pages-MR

fix atac 02 notebook imports
  atac_analysis/notebooks/02_QC.ipynb
Due: check_changes, deploy-pages-MR

fix atac notebook 3 imports
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

fix atac notebook 4 imports + basic linting
  atac_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

fix import
  sctoolbox/utils/decorator.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix general/annotation notebook imports
  general_notebooks/annotation.ipynb
Due: check_changes, deploy-pages-MR

update prepare_for_cellxgene notebook imports
  general_notebooks/prepare_for_cellxgene.ipynb
Due: check_changes, deploy-pages-MR

update proportion_analysis notebook imports
  general_notebooks/proportion_analysis.ipynb
Due: check_changes, deploy-pages-MR

update imports of the pseudotime_analysis notebook
  general_notebooks/pseudotime_analysis.ipynb
Due: check_changes, deploy-pages-MR

update rna marker_genes notebook imports
  rna_analysis/notebooks/0A_marker_genes.ipynb
Due: check_changes, deploy-pages-MR

update imports of the rna/ligand_receptor notebook
  rna_analysis/notebooks/0B_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

update rna velocity notebook imports
  rna_analysis/notebooks/0C_velocity_analysis.ipynb
Due: check_changes, deploy-pages-MR

update the imports of the rna assembly notebook
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: check_changes, deploy-pages-MR

update the imports of the rna 2 notebook
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

update the rna notebook 3 imports
  rna_analysis/notebooks/03_batch.ipynb
Due: check_changes, deploy-pages-MR

update the rna 4 notebook imports
  rna_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

implement SctoolboxConfig._unfreeze so settings_from_config can be added to the object
  sctoolbox/_settings.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

remove _unfreeze and add settings_from_config directly to the class
  sctoolbox/_settings.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint
  sctoolbox/_settings.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

update one more import
  rna_analysis/notebooks/03_batch.ipynb
Due: check_changes, deploy-pages-MR

update settings tests to reflect new settings_from_config location
  tests/test_settings.py
Due: lint, test coverage MR dev-image, check_changes

update one more forgotten import
  general_notebooks/prepare_for_cellxgene.ipynb
Due: check_changes, deploy-pages-MR

fix part of the legend not shown
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR
