Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

added import
  tests/plotting/test_qc_filter.py
Due: none

CHANGES.rst updated for qc_filter
  CHANGES.rst
Due: none

Apply suggestions; lock cells; split cells
  general_notebooks/annotation.ipynb
  general_notebooks/proportion_analysis.ipynb
  general_notebooks/pseudotime_analysis.ipynb
  rna_analysis/notebooks/03_batch.ipynb
  rna_analysis/notebooks/0B_ligand_receptor.ipynb
  rna_analysis/notebooks/0C_velocity_analysis.ipynb
Due: check_changes, deploy-pages-MR

revision based on RNA threads
  atac_analysis/notebooks/01_assembling.ipynb
  atac_analysis/notebooks/02_QC.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

Update CHANGES.rst
  CHANGES.rst
Due: none

cleared notebook outputs
  atac_analysis/notebooks/01_assembling.ipynb
  atac_analysis/notebooks/02_QC.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

moved the suggested functions
  tests/plotting/test_general.py
  tests/test_plotting.py
Due: lint, test coverage MR dev-image, check_changes

imported seaborn
  tests/plotting/test_general.py
Due: none

Update test_plotting.py
  tests/test_plotting.py
Due: lint, test coverage MR dev-image, check_changes

fixes #232 pca-var plot not fitting in anndata overview
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

update changelog
  CHANGES.rst
Due: none

Applied suggestion (#233) to CHANGES.rst
  CHANGES.rst
Due: none

Applied suggestion Overhaul RNA & ATAC ....
  CHANGES.rst
Due: none

lint
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint 2
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

readme: show main branch coverage
  README.md
Due: none

tests have been removed from the test_plotting.py file
  tests/test_plotting.py
Due: lint, test coverage MR dev-image, check_changes

removed extra imports which were not used
  tests/test_plotting.py
Due: lint, test coverage MR dev-image, check_changes

resolved threads
  atac_analysis/notebooks/01_assembling.ipynb
  atac_analysis/notebooks/02_QC.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

add issue number to test cleanup section
  CHANGES.rst
Due: none

added missing separator lines
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: check_changes, deploy-pages-MR

splitted the function, added all the discussed functionalities and also a test notebook to showcase, NOTE: comments on the functions are not up to date
  sctoolbox/plotting/flower_plot.py
  sctoolbox/plotting/planet_plot.py
  test_notebooks_aviral/planet_plot_test_latest.ipynb
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

removed separator lines from level 4 and unmarked cells
  atac_analysis/notebooks/02_QC.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

resolved threads
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: check_changes, deploy-pages-MR

Bumped version number to 0.7.0
  CHANGES.rst
  sctoolbox/_version.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Move #215 changelog entry to version 0.8.0
  CHANGES.rst
Due: none

refactor move test gene correlation.py
  tests/tools/test_gene_correlation.py
Due: none

test were added to the tools clustering.py
  tests/tools/test_clustering.py
Due: none

removed unsed imports
  tests/tools/test_clustering.py
Due: none

cleanup test_bam.py
  CHANGES.rst
  tests/test_atac_utils.py
  tests/test_bam.py
  tests/tools/test_bam.py
Due: lint, test coverage MR dev-image, check_changes

CHANGES.rst have been updated
  CHANGES.rst
Due: none

linting
  tests/tools/test_bam.py
Due: none

moved the test functions from test_plotting to test_highly_variable
  tests/plotting/test_highly_variable.py
  tests/test_plotting.py
Due: lint, test coverage MR dev-image, check_changes

added missing fixyures
  tests/tools/test_clustering.py
Due: none

updated the changelog
  CHANGES.rst
Due: none

fix data paths
  tests/tools/test_bam.py
Due: none

added missing helper functions and imports
  tests/tools/test_clustering.py
Due: none

cleanup io
  CHANGES.rst
  tests/test_utilities.py
  tests/utils/test_io.py
Due: lint, test coverage MR dev-image, check_changes

linting
  tests/test_bam.py
  tests/tools/test_bam.py
Due: lint, test coverage MR dev-image, check_changes
