Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

build-image-main:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-dev:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-mr:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage MR new image:
  stage: test
  image: $CI_REGISTRY_IMAGE:MR-${MR_VERSION}
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

test coverage MR dev-image:
  stage: test
  image: $CI_REGISTRY_IMAGE:dev
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

check_changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

deploy-pages-MR:
  stage: deploy
  needs:
  - job: build-pages-MR
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
  ...

Added version check to notebooks
  atac_analysis/notebooks/01_assembling.ipynb
  atac_analysis/notebooks/02_QC.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/03_batch.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/0A_marker_genes.ipynb
  rna_analysis/notebooks/0B_ligand_receptor.ipynb
  rna_analysis/notebooks/0C_velocity_analysis.ipynb
Due: check_changes, deploy-pages-MR

Update change log
  CHANGES.rst
Due: none

Workaround for ipynbname bug with papermill -> hardcoded file name in every notebook
  atac_analysis/notebooks/01_assembling.ipynb
  atac_analysis/notebooks/02_QC.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
  general_notebooks/GSEA.ipynb
  general_notebooks/annotation.ipynb
  general_notebooks/prepare_for_cellxgene.ipynb
  general_notebooks/proportion_analysis.ipynb
  general_notebooks/pseudotime_analysis.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/03_batch.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/0A_marker_genes.ipynb
  rna_analysis/notebooks/0B_ligand_receptor.ipynb
  rna_analysis/notebooks/0C_velocity_analysis.ipynb
Due: check_changes, deploy-pages-MR

Remove unused dependency ipynbname
  sctoolbox_env.yml
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

Added version check as fucntion to sctoolbox
  atac_analysis/notebooks/01_assembling.ipynb
  atac_analysis/notebooks/02_QC.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
  general_notebooks/GSEA.ipynb
  general_notebooks/annotation.ipynb
  general_notebooks/prepare_for_cellxgene.ipynb
  general_notebooks/proportion_analysis.ipynb
  general_notebooks/pseudotime_analysis.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/03_batch.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/0A_marker_genes.ipynb
  rna_analysis/notebooks/0B_ligand_receptor.ipynb
  rna_analysis/notebooks/0C_velocity_analysis.ipynb
  sctoolbox/utils/jupyter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint
  sctoolbox/utils/jupyter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Added check_notebook_version script
  scripts/check_notebook_version.py
Due: none

Added version number to GSEA notebook
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

Add check-notebook-version to CI
  .gitlab-ci.yml
Due: none

Added Attributes to docsting for settings class
  sctoolbox/_settings.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Add type hint for __frozen
  sctoolbox/_settings.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix type hint for __frozen hopefully?
  sctoolbox/_settings.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint
  sctoolbox/_settings.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

TEST: Bump version
  sctoolbox/_version.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Rework notebook version check
  .gitlab-ci.yml
  scripts/check_notebook_version.py
Due: none

install nbformat in ci
  .gitlab-ci.yml
Due: none

install packaging in ci
  .gitlab-ci.yml
Due: none

Add force option
  scripts/change_notebook_version.py
Due: none

Set version to 0.9.0b
  atac_analysis/notebooks/01_assembling.ipynb
  atac_analysis/notebooks/02_QC.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
  general_notebooks/GSEA.ipynb
  general_notebooks/annotation.ipynb
  general_notebooks/prepare_for_cellxgene.ipynb
  general_notebooks/proportion_analysis.ipynb
  general_notebooks/pseudotime_analysis.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/03_batch.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/0A_marker_genes.ipynb
  rna_analysis/notebooks/0B_ligand_receptor.ipynb
  rna_analysis/notebooks/0C_velocity_analysis.ipynb
  sctoolbox/_version.py
  sctoolbox/data/celltype_markers/setup_markers.ipynb
  sctoolbox/data/gene_lists/create_marker_gene_lists.ipynb
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Clean GSEA notebook
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

Cleanup notebooks
  atac_analysis/notebooks/01_assembling.ipynb
  atac_analysis/notebooks/02_QC.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
  general_notebooks/annotation.ipynb
  general_notebooks/prepare_for_cellxgene.ipynb
  general_notebooks/proportion_analysis.ipynb
  general_notebooks/pseudotime_analysis.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/03_batch.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/0A_marker_genes.ipynb
  rna_analysis/notebooks/0B_ligand_receptor.ipynb
  rna_analysis/notebooks/0C_velocity_analysis.ipynb
Due: check_changes, deploy-pages-MR

Fix copy-paste error
  general_notebooks/proportion_analysis.ipynb
Due: check_changes, deploy-pages-MR

update CHANGES.rst
  CHANGES.rst
  tests/tools/test_marker_genes.py
Due: none

fix file paths
  tests/tools/test_marker_genes.py
Due: none

ATAC notebook 01: Remove unused import
  atac_analysis/notebooks/01_assembling.ipynb
Due: check_changes, deploy-pages-MR

annotation notebook: Move setting import back to setup cell
  general_notebooks/annotation.ipynb
Due: check_changes, deploy-pages-MR

pseudotime notebbok: add ignore warning setting back into hidden cell
  general_notebooks/pseudotime_analysis.ipynb
Due: check_changes, deploy-pages-MR

change_notebook_version.py: Added docstring for functions; minor changes
  scripts/change_notebook_version.py
Due: none

change_notebook_version.py: Minor additions
  scripts/change_notebook_version.py
Due: none

check_notebook_version.py: Added detailed docstring and type hints; Moved getting sc_framework version to main
  scripts/check_notebook_version.py
Due: none

add docstring for class SctoolboxConfig
  sctoolbox/_settings.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Cleanup (hidden) imports
  general_notebooks/annotation.ipynb
  general_notebooks/prepare_for_cellxgene.ipynb
  general_notebooks/proportion_analysis.ipynb
  general_notebooks/pseudotime_analysis.ipynb
Due: check_changes, deploy-pages-MR

Cleanup (hidden imports)
  atac_analysis/notebooks/02_QC.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

fix matplotlib version to avoid pandas numpy binary incompatibility
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

_compare_version: improve code structure
  sctoolbox/utils/jupyter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

That idea might be just crazy enought TO GET US ALL KILLED! ... PUSH! PUSH!
  general_notebooks/GSEA.ipynb
  general_notebooks/annotation.ipynb
  general_notebooks/prepare_for_cellxgene.ipynb
  general_notebooks/proportion_analysis.ipynb
  general_notebooks/pseudotime_analysis.ipynb
Due: check_changes, deploy-pages-MR

Minor bugfix
  sctoolbox/utils/jupyter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Added test for _compare_versions
  tests/utils/__init__.py
  tests/utils/test_jupyter.py
Due: none

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
