Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-job, lint, test import, test coverage

build-job:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - coverage
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$BUILD_VERSION
  tags:
  - coverage
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

Test mampok install inCI pipeline
  .gitlab-ci.yml
Due: none

Add git+ to pip install call
  .gitlab-ci.yml
Due: none

Change example input path
  general_notebooks/prepare_for_cellxgene.ipynb
Due: none

Change example input path
  general_notebooks/prepare_for_cellxgene.ipynb
  scripts/run_notebooks.py
Due: none

finalized notebook 3 batchcorrection normalization
  atac-notebooks/03_normalization_batch_correction.ipynb
Due: none

refurbished 04_clustering
  atac-notebooks/04_clustering.ipynb
Due: none

Update file CHANGES.rst
  CHANGES.rst
Due: none

Fix giving None to get_rank_genes_tables
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage

Fix linting job
  sctoolbox/tools/fld_scoring.py
Due: lint, test import, test coverage

fixed linting
  sctoolbox/tools/clustering.py
  sctoolbox/tools/fld_scoring.py
  sctoolbox/utils/assemblers.py
  sctoolbox/utils/checker.py
  tests/test_bioutils.py
  tests/test_clustering.py
  tests/test_fld_scoring.py
Due: lint, test import, test coverage

linting
  sctoolbox/tools/clustering.py
  sctoolbox/tools/fld_scoring.py
  tests/test_clustering.py
  tests/test_fld_scoring.py
Due: lint, test import, test coverage

linting
  sctoolbox/tools/clustering.py
Due: lint, test import, test coverage

Update file clustering.py
  sctoolbox/tools/clustering.py
Due: lint, test import, test coverage

fixed typing to accept str in _write_config()
  sctoolbox/plotting/genometracks.py
Due: lint, test import, test coverage

Turn atac notebook testing back on
  scripts/run_notebooks.py
Due: none

fix key in settings from config
  atac-notebooks/06_proportion_analysis.ipynb
Due: none

6 -> 06
  atac-notebooks/06_proportion_analysis.ipynb
Due: none

Added kwargs to functions
  sctoolbox/plotting/clustering.py
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/general.py
  sctoolbox/plotting/highly_variable.py
  sctoolbox/plotting/marker_genes.py
  sctoolbox/plotting/qc_filter.py
  sctoolbox/tools/dim_reduction.py
  sctoolbox/tools/embedding.py
  sctoolbox/tools/marker_genes.py
  sctoolbox/tools/qc_filter.py
  sctoolbox/utils/multiprocessing.py
  sctoolbox/utils/tables.py
Due: lint, test import, test coverage

Update changes
  CHANGES.rst
Due: none

Remove atac notebook 06 from tests
  scripts/run_notebooks.py
Due: none

Fix beatype errors for sliders
  sctoolbox/plotting/qc_filter.py
Due: lint, test import, test coverage

Fix float slider test
  tests/test_plotting.py
Due: lint, test coverage

added blue cells
  atac-notebooks/02_QC.ipynb
  atac-notebooks/03_normalization_batch_correction.ipynb
  atac-notebooks/04_clustering.ipynb
Due: none

Fix checking of notebook output
  .gitlab-ci.yml
  CHANGES.rst
  rna_analysis/notebooks/02_QC_filtering.ipynb
  scripts/check_notebooks.py
Due: none

Apply 38 suggestion(s) to 11 file(s)
  sctoolbox/plotting/clustering.py
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/general.py
  sctoolbox/plotting/highly_variable.py
  sctoolbox/plotting/marker_genes.py
  sctoolbox/plotting/qc_filter.py
  sctoolbox/tools/embedding.py
  sctoolbox/tools/marker_genes.py
  sctoolbox/tools/qc_filter.py
  sctoolbox/utils/multiprocessing.py
  sctoolbox/utils/tables.py
Due: lint, test import, test coverage

Remove output from notebook 05
  rna_analysis/notebooks/05_marker_genes.ipynb
Due: none

Add any to typing
  sctoolbox/tools/embedding.py
Due: lint, test import, test coverage

Update version to 0.3
  CHANGES.rst
  sctoolbox/_version.py
Due: build-job, lint, test import, test coverage

set levels of headers for better overview in docs
  atac-notebooks/01_assembling.ipynb
Due: none

Updated rna-notebook path for general notebook runs
  scripts/run_notebooks.py
Due: none

Update default input path for prepare_for_cellxgene notebook
  general_notebooks/prepare_for_cellxgene.ipynb
Due: none

Replace old pipeline output path with new one in ci after script call
  .gitlab-ci.yml
Due: none

Fix fix new paths of notebooks in CI pipeline
  .gitlab-ci.yml
Due: none

Update clustering.py
  sctoolbox/tools/clustering.py
Due: lint, test import, test coverage

Path conditions:
  build-job: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: tests/*.py, sctoolbox/**/*.py
