Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-job, lint, test import, test coverage

Path conditions:
  build-job: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: tests/*.py, sctoolbox/**/*.py

lint
  CHANGES.rst
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage

more readme changes
  README.md
Due: none

update changelog
  CHANGES.rst
Due: none

Adapt prepare_for_cellxgene to new mampok version; Add option to set analyst
  general_notebooks/prepare_for_cellxgene.ipynb
  setup.py
Due: build-job, lint, test import

Add check_online to object mamplan object creation
  general_notebooks/prepare_for_cellxgene.ipynb
Due: none

fix fa2 version
  setup.py
Due: build-job, lint, test import

Update change log
  CHANGES.rst
Due: none

add comment
  setup.py
Due: build-job, lint, test import

lint
  setup.py
Due: build-job, lint, test import

Update file config.yaml
  atac_analysis/notebooks/config.yaml
Due: none

lint
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage

add to changelog
  CHANGES.rst
Due: none

Update CI: update 'when' rules; add minimal python image for notebook-output-check
  .gitlab-ci.yml
Due: none

Run notebooks if general notebooks are changed
  .gitlab-ci.yml
Due: none

Check that the version number is in the correct format
  .gitlab-ci.yml
Due: none

Set 3.10-alpine3.19 as image for extract version
  .gitlab-ci.yml
Due: none

Update CI
  .gitlab-ci.yml
Due: none

Test: Update CI
  .gitlab-ci.yml
Due: none

READNE.md updated
  README.md
Due: none

Split docker images depending on status
  .gitlab-ci.yml
Due: none

Remove 'need' from notebooks MR - new image
  .gitlab-ci.yml
Due: none

Add changes rule to notebooks MR - new image
  .gitlab-ci.yml
Due: none

running dockerfile
  Dockerfile
  sctoolbox_env.yml
Due: build-job

refactor 01_assembling_anndata.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: none

locked_cells_definition_added
  README.md
Due: none

locked_cells_explanation_added
  README.md
Due: none

Add changes rule to deploy-pages-MR
  .gitlab-ci.yml
Due: none

Add changes rule to build-pages-MR
  .gitlab-ci.yml
Due: none

remove cell output
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: none

re-add assembly from mtx
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: none

setup init cells
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: none

properly add all the stuff from the commits before
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: none

adjust logging section
  README.md
Due: none
