Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

added possibility to set None to variables index column
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Receptor-ligand filter out interactions with zscore nan
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Update changelog
  CHANGES.rst
Due: none

adapted the notebook
  atac_analysis/notebooks/01_assembling_anndata.ipynb
Due: check_changes, deploy-pages-MR

replace NA with 0 instead of omitting NA interactions
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

remove redundant code that is redundant
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

update changelog
  CHANGES.rst
Due: none

Apply 1 suggestion(s) to 1 file(s)
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix typo -.-
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Order sections for cyclone plots to keep same orientation if multiple cyclone plots with same clusters are plotted
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

RNA config: add notebook report dirs
  rna_analysis/notebooks/config.yaml
Due: none

update gitignore
  .gitignore
Due: none

add report_dir to sctoolbox.settings
  sctoolbox/_settings.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

prep for pptreport dependency
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

implement report feature for RNA/QC notebook functions
  sctoolbox/plotting/general.py
  sctoolbox/plotting/qc_filter.py
  sctoolbox/tools/marker_genes.py
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

report RNA/QC notebook steps
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

add report output to clistering notebook 04
  rna_analysis/notebooks/04_clustering.ipynb
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

added report feature
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/qc_filter.py
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add tsv report umap
  CHANGES.rst
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/0A1_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

bugfix densoise_data and lint
  sctoolbox/tools/qc_filter.py
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

linting
  sctoolbox/tools/marker_genes.py
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

CHANGES.rst
  CHANGES.rst
Due: none

prettify report table umap
  CHANGES.rst
  rna_analysis/notebooks/04_clustering.ipynb
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

added pptreport
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

prettify notebook 04 rna clustering
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

restore notebook 02
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

restore notebook 0A1
  rna_analysis/notebooks/0A1_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

restore notebook 01
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: check_changes, deploy-pages-MR

fixed statsmodels install
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

Edit setup.py
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

enable pptreport
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

add min_hits to annotation notebook
  general_notebooks/annotation.ipynb
Due: check_changes, deploy-pages-MR

add report output to notebook 0A1
  rna_analysis/notebooks/0A1_ligand_receptor.ipynb
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

added another report
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Edit Dockerfile Change order of update and clean to clear caches. This is done to counter GPG errors during the build job.
  Dockerfile
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

Edit Dockerfile
  Dockerfile
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

Edit Dockerfile Next try to fix GPG error by installing ubuntu keyring.
  Dockerfile
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

Edit Dockerfile https://cicdtrail.com/ubuntu-apt-update-gpg-error/
  Dockerfile
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image
