Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

Add notebook version to metadata; Fix update version script
  atac_analysis/notebooks/01_assembling.ipynb
  atac_analysis/notebooks/02_QC.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
  general_notebooks/annotation.ipynb
  general_notebooks/prepare_for_cellxgene.ipynb
  general_notebooks/proportion_analysis.ipynb
  general_notebooks/pseudotime_analysis.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/03_batch.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/0A_marker_genes.ipynb
  rna_analysis/notebooks/0B_ligand_receptor.ipynb
  rna_analysis/notebooks/0C_velocity_analysis.ipynb
  scripts/change_notebook_version.py
  sctoolbox/data/celltype_markers/setup_markers.ipynb
  sctoolbox/data/gene_lists/create_marker_gene_lists.ipynb
Due: check_changes, deploy-pages-MR

Remove error and add more info to skipped notebooks
  scripts/change_notebook_version.py
Due: none

Added version check at start of general notebooks
  general_notebooks/annotation.ipynb
  general_notebooks/prepare_for_cellxgene.ipynb
  general_notebooks/proportion_analysis.ipynb
  general_notebooks/pseudotime_analysis.ipynb
Due: check_changes, deploy-pages-MR

Move setting impor tinto hidden cell
  general_notebooks/annotation.ipynb
Due: check_changes, deploy-pages-MR

GSEA notebook: Change input structure for plotting
  atac_analysis/notebooks/02_QC.ipynb
  atac_analysis/notebooks/04_clustering.ipynb
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

Using ipynbname package instead of javascript which is not working for papermill run
  general_notebooks/annotation.ipynb
  general_notebooks/prepare_for_cellxgene.ipynb
  general_notebooks/proportion_analysis.ipynb
  general_notebooks/pseudotime_analysis.ipynb
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/03_batch.ipynb
  sctoolbox_env.yml
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image, check_changes, deploy-pages-MR

removed duplicate
  CHANGES.rst
Due: none

/tmp -> /home/sc_framework
  Dockerfile
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

trigger build
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

version to 0.8
  CHANGES.rst
  sctoolbox/_version.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

change run_deseq2 to use pydeseq2 instead of the R-bindings to deseq2
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

remove old code
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

change dependencies
  sctoolbox/tools/marker_genes.py
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix index == None bug
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix deseq2 test
  tests/test_marker_genes.py
Due: lint, test coverage MR dev-image, check_changes

GSEA: Convert library to uppercase
  sctoolbox/tools/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

GSEA plotting: Fix example in docstring
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint
  sctoolbox/tools/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Update change log
  CHANGES.rst
Due: none

term_dotplot: convert gene names to uppercase for comparison
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add changes to CHANGES.rst
  CHANGES.rst
Due: none

move marker_genes to general_notebooks
  .gitlab-ci.yml
  general_notebooks/marker_genes.ipynb
Due: check_changes, deploy-pages-MR

CHANGES
  CHANGES.rst
Due: none

Update 01_assembling.ipynb
  atac_analysis/notebooks/01_assembling.ipynb
Due: check_changes, deploy-pages-MR

Update README urls
  README.md
Due: none

cleanup test for calc overlap
  CHANGES.rst
  tests/tools/test_calc_overlap_fc.py
Due: none

fix: linting
  tests/tools/test_calc_overlap_fc.py
Due: none

fix: paths
  tests/tools/test_calc_overlap_fc.py
Due: none

moved tests for utils/checker.py
  CHANGES.rst
  tests/test_atac_utils.py
  tests/test_checker.py
  tests/test_utilities.py
  tests/utils/test_checker.py
Due: lint, test coverage MR dev-image, check_changes

adjusted paths to work with new folder structure
  tests/utils/test_checker.py
Due: none

cleaned up test dir structure for highly_variable.py
  tests/test_annotation.py
  tests/tools/test_highly_variable.py
Due: lint, test coverage MR dev-image, check_changes

added update to CHANGES.rst
  CHANGES.rst
Due: none

cleanup test for peak annotation
  CHANGES.rst
  tests/test_annotation.py
  tests/tools/test_peak_annotation.py
Due: lint, test coverage MR dev-image, check_changes

Apply 1 suggestion(s) to 1 file(s)
  tests/tools/test_peak_annotation.py
Due: none

readded uropa config
  tests/test_annotation.py
Due: lint, test coverage MR dev-image, check_changes

deleted test_annotations as all functions have been moved
  tests/test_annotation.py
Due: lint, test coverage MR dev-image, check_changes
