Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

build-image-main:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-dev:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-mr:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage MR new image:
  stage: test
  image: $CI_REGISTRY_IMAGE:MR-${MR_VERSION}
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

test coverage MR dev-image:
  stage: test
  image: $CI_REGISTRY_IMAGE:dev
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

check_changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

deploy-pages-MR:
  stage: deploy
  needs:
  - job: build-pages-MR
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
  ...

Update GSEA tests
  sctoolbox/plotting/gsea.py
  tests/plotting/test_gsea_plotting.py
  tests/tools/test_gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Remove unused imports
  tests/plotting/test_gsea_plotting.py
Due: none

Add x-tick label rotation as parameter
  general_notebooks/GSEA.ipynb
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix x tick label rotation call
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Adjust gsea notbook to changed parameter size -> sizes
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

Apply 1 suggestion(s) to 1 file(s)
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

removed explicit bed handling and added comment_flag instead
  atac_analysis/notebooks/01_assembling_anndata.ipynb
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Changes after review
  rna_analysis/notebooks/0A1_ligand_receptor.ipynb
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
  rna_analysis/notebooks/0C_ligand_receptor_differences.ipynb
  sctoolbox/tools/receptor_ligand.py
  tests/tools/test_receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Lint
  sctoolbox/tools/receptor_ligand.py
  tests/tools/test_receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Notebook config
  rna_analysis/notebooks/config.yaml
Due: none

Fix test, _add, lint
  sctoolbox/tools/receptor_ligand.py
  tests/tools/test_receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Test
  tests/tools/test_receptor_ligand.py
Due: none

Apply suggestions/comments
  sctoolbox/plotting/gsea.py
  sctoolbox/tools/gsea.py
  sctoolbox/utils/adata.py
  tests/tools/test_gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Add gsea example plots for docs
  docs/source/plot_pre_code.py
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint lint
  sctoolbox/plotting/gsea.py
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Add test for utils.adata.get_uns
  tests/utils/test_adata.py
Due: none

Extended documentation
  rna_analysis/notebooks/0A1_ligand_receptor.ipynb
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Simplify grid construnction
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix intend and notebook import
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

rl import and None type fixure
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

rl import and None type handling
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
  sctoolbox/tools/receptor_ligand.py
  tests/tools/test_receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

MagicMock spec Figure
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
  tests/tools/test_receptor_ligand.py
Due: check_changes, deploy-pages-MR

Tuple def hub fix
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
Due: check_changes, deploy-pages-MR

Increase test coverage
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
  tests/tools/test_receptor_ligand.py
Due: check_changes, deploy-pages-MR

Test coverage++
  tests/tools/test_receptor_ligand.py
Due: none

Test coverage
  tests/tools/test_receptor_ligand.py
Due: none

Replace in .uns check with in_uns function
  sctoolbox/tools/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

test docstring code
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Remove unneccesary docstring example code
  sctoolbox/plotting/planet_plot.py
  sctoolbox/plotting/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Remove unneccesary docstring example code pt. 2
  docs/source/plot_pre_code.py
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix gsea_dot docstring example
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Requested changes
  sctoolbox/tools/receptor_ligand.py
  tests/tools/test_receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Add plotting over time
  docs/source/plot_pre_code.py
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
  sctoolbox/tools/receptor_ligand.py
  tests/tools/test_receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Lint fix
  sctoolbox/tools/receptor_ligand.py
  tests/tools/test_receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Remove debug prints
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

logical operator fix
  sctoolbox/tools/receptor_ligand.py
  tests/tools/test_receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

change _filter_anndata
  docs/source/plot_pre_code.py
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
  sctoolbox/tools/receptor_ligand.py
  tests/tools/test_receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
