Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

Apply 1 suggestion(s) to 1 file(s)
  tests/plotting/test_marker_genes.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  tests/tools/test_calc_overlap_fc.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  tests/tools/test_clustering.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  tests/tools/test_dim_reduction.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  tests/tools/test_embedding_tl.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  tests/tools/test_gene_correlation.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  tests/tools/test_insertsize.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  tests/tools/test_marker_genes.py
Due: none

improve structure
  tests/plotting/test_embedding_pl.py
  tests/plotting/test_general.py
  tests/plotting/test_gsea_plotting.py
  tests/plotting/test_planet_plot.py
  tests/plotting/test_velocity.py
  tests/test_logging.py
  tests/test_settings.py
  tests/tools/test_calc_overlap_fc.py
  tests/tools/test_celltype_annotation.py
  tests/tools/test_frip.py
  tests/tools/test_gene_correlation.py
  tests/tools/test_gsea.py
  tests/tools/test_highly_variable.py
  tests/tools/test_insertsize.py
  tests/tools/test_multiomics.py
  tests/tools/test_norm_correct.py
  tests/tools/test_peak_annotation.py
  tests/tools/test_qc_filter.py
  tests/tools/test_receptor_ligand.py
  tests/tools/test_tobias.py
  tests/tools/test_tsse.py
  tests/utils/test_adata.py
  tests/utils/test_assemblers.py
  tests/utils/test_bioutils.py
  tests/utils/test_checker.py
  tests/utils/test_creators.py
  tests/utils/test_decorator.py
  tests/utils/test_general.py
  tests/utils/test_io.py
  tests/utils/test_jupyter.py
  tests/utils/test_tables.py
Due: lint, test coverage MR dev-image, check_changes

gmm_threshold: split n_std into min and max; automatic_thresholds: forward a dict of kwargs
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

merged test_logging.py into test_settings.py
  tests/test_logging.py
  tests/test_settings.py
Due: lint, test coverage MR dev-image, check_changes

update RNA/qc notebook
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

fix notebook output field issue
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

update changelog
  CHANGES.rst
Due: none

Add inpalce parameter to tfidf
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Update tests based on new tfidf parameters
  tests/tools/test_norm_correct.py
Due: none

lint
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Update change log
  CHANGES.rst
Due: none

Fix method call
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

linting
  tests/tools/test_tsse.py
Due: none

genelist location as module variable
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Add density plots to RNA notebook 4; Replace scnapy embedding plot with sctoolbox plot_embedding
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Extend docstring for plot_group_embedding
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Update Change log
  CHANGES.rst
Due: none

extended label_genes to accept genelists and regex
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

update label_genes tests
  sctoolbox/tools/marker_genes.py
  tests/tools/test_marker_genes.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

update rna/qc notebook
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

lint
  sctoolbox/tools/marker_genes.py
  tests/tools/test_marker_genes.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add barplot to label_genes
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Apply 1 suggestion(s) to 1 file(s)
  tests/tools/test_tsse.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  CHANGES.rst
Due: none

TFIDF: Add option to run on layer instead of .X
  sctoolbox/tools/norm_correct.py
  tests/tools/test_norm_correct.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Pin setuptools < 72.0.0
  sctoolbox_env.yml
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

Workaround for setuptools error
  Dockerfile
  sctoolbox_env.yml
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

Fxi typo
  Dockerfile
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

Try to fix setuptool error
  Dockerfile
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image
