Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

build-image-main:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-dev:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-mr:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage MR new image:
  stage: test
  image: $CI_REGISTRY_IMAGE:MR-${MR_VERSION}
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

test coverage MR dev-image:
  stage: test
  image: $CI_REGISTRY_IMAGE:dev
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

check_changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

deploy-pages-MR:
  stage: deploy
  needs:
  - job: build-pages-MR
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
  ...

integrated new npcs selection to atac notebooks
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

update comments
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

cleared output
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

added CHANGES
  CHANGES.rst
Due: none

set init cells
  general_notebooks/proportion_analysis.ipynb
Due: check_changes, deploy-pages-MR

fix changelog
  CHANGES.rst
Due: none

Set version to 0.6.0
  sctoolbox/_version.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Update change log
  CHANGES.rst
Due: none

updated CHANGES.rst
  .gitlab-ci.yml
  CHANGES.rst
Due: none

updated VERSION
  sctoolbox/_version.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Update CHANGES.rst
  CHANGES.rst
Due: none

Fix notebook pages by fixing notebook path globs
  docs/source/conf.py
  docs/source/general-notebooks/index.rst
Due: none

Add general notebooks to index.html
  docs/source/index.rst
Due: none

RNA:01_assembling_anndata: Fix markdown header for docu
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: check_changes, deploy-pages-MR

RNA:02_QC_filtering: Fix markdown header for docu
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

RNA:02_QC_filtering: Add separator cells
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

RNA:03_batch: Fix markdown header for docu
  rna_analysis/notebooks/03_batch.ipynb
Due: check_changes, deploy-pages-MR

RNA:04_clustering: Fix markdown header for docu
  rna_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

RNA:04_5_marker_genesFix markdown header for docu
  rna_analysis/notebooks/05_marker_genes.ipynb
Due: check_changes, deploy-pages-MR

RNA:11_ligand_receptor: Fix markdown header for docu
  rna_analysis/notebooks/11_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

RNA:14_velocity_analysis: Fix markdown header for docu
  rna_analysis/notebooks/14_velocity_analysis.ipynb
Due: check_changes, deploy-pages-MR

Minor fixes
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/03_batch.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

Improve notebook layout
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/03_batch.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/05_marker_genes.ipynb
  rna_analysis/notebooks/11_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

Add installation of sphinx-exec-code to build-pages job
  .gitlab-ci.yml
Due: none

Cast default value of load_token and save_token to string
  sctoolbox/utils/creators.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix type hint for hide_edges of function hairball.
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix type hints for parameter layer of function apply_svd
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

new functionalities added
  planet_plot_test1.ipynb
Due: none

Added beartype independent check for parameter plots of function anndata_overview
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

shifted the notebook inside folder
  test_notebooks_aviral/planet_plot_test1.ipynb
Due: none

shifted the notebook inside folder
  planet_plot_test1.ipynb
Due: none

Adjust test to disabled beartype test for anndata_overview
  tests/test_plotting.py
Due: lint, test coverage MR dev-image, check_changes

lint lint
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Adjust return type hint of quality_violin for unsupported types
  sctoolbox/plotting/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint lint
  sctoolbox/plotting/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fixes for beartype = 0.18.0
  sctoolbox/tools/norm_correct.py
  sctoolbox/tools/tsse.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix return type hint for overlap_and_aggregate
  sctoolbox/tools/tsse.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix type hint for parameter foldchange_threshold of function pairwise_rank_genes
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Update example
  docs/source/plot_pre_code.py
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
