Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docstyle, lint, test import, test coverage

docstyle:
  image:
    name: python:latest
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - coverage
  script:
  - pip install pydocstyle
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - coverage
  script:
  - pip install flake8
  - pip install pydoclint
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  tags:
  - coverage
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - apt-get install bedtools
  - chmod +x scripts/bedGraphToBigWig
  - pip install pytest
  - pip install pytest-cov
  ...

Extend tests for new plot
  sctoolbox/plotting/general.py
  tests/test_plotting.py
Due: docstyle, lint, test coverage

Linting
  tests/test_plotting.py
Due: docstyle, lint, test coverage

Fix pairwise plot and add to notebooks
  rna-notebooks/02_QC_filtering.ipynb
  sctoolbox/plotting/general.py
  sctoolbox/tools/qc_filter.py
Due: none

temporary removed some tsse tests e
  tests/test_tsse.py
Due: docstyle, lint, test coverage

Changed line ending to LF
  sctoolbox/utils/bioutils.py
Due: none

Rename gene parameter to ref_gene; moved subsetting outside of spearman wrapper
  sctoolbox/tools/gene_correlation.py
Due: none

implement and test embeddings check (and inplace)
  sctoolbox/utils/adata.py
  tests/test_adata.py
Due: docstyle, lint, test coverage

rename/ delete colormaps
  sctoolbox/utils/adata.py
Due: none

auto fix broken color mapping
  sctoolbox/utils/adata.py
Due: none

check color renaming and color mapping fix
  tests/test_adata.py
Due: docstyle, lint, test coverage

fix wrong var error
  sctoolbox/utils/adata.py
Due: none

lint
  tests/test_adata.py
Due: docstyle, lint, test coverage

refactor prepare_for_cellxgene
  sctoolbox/utils/adata.py
Due: none

lint
  sctoolbox/utils/adata.py
Due: none

Doc-string linting
  sctoolbox/plotting/marker_genes.py
  sctoolbox/tools/gene_correlation.py
  tests/test_gene_correlation.py
Due: docstyle, lint, test coverage

added test dockerfile LF
  Dockerfile
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

mamba based Dockerfile
  Dockerfile
Due: none

move scanpro to sctoolbox_env.yml
  sctoolbox_env.yml
  setup.py
Due: docstyle, lint, test import

Convert to dataframe on adata subset not on full adata
  sctoolbox/plotting/marker_genes.py
  sctoolbox/tools/gene_correlation.py
Due: none

Remove unused variable
  sctoolbox/plotting/marker_genes.py
Due: none

linting
  sctoolbox/tools/gene_correlation.py
Due: none

add decorator
  rna-notebooks/13_proportion_analysis.ipynb
Due: none

Apply 4 suggestion(s) to 2 file(s)
  sctoolbox/plotting/marker_genes.py
  sctoolbox/tools/gene_correlation.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  sctoolbox/plotting/embedding.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  sctoolbox/tools/marker_genes.py
Due: none

Apply 1 suggestion(s) to 1 file(s)
  CHANGES.rst
Due: none

adjust notebooks to use add_uns_info
  atac-notebooks/02_QC.ipynb
  rna-notebooks/02_QC_filtering.ipynb
Due: none

comment combat exclusion
  rna-notebooks/03_batch.ipynb
Due: none

adjust comment
  rna-notebooks/04_clustering.ipynb
Due: none

cell cycle moved from marker genes to independent function
  sctoolbox/tools/marker_genes.py
Due: none

linting
  sctoolbox/tools/marker_genes.py
Due: none

changed dockerfile to mamba image
  Dockerfile
Due: none

Update file Dockerfile
  Dockerfile
Due: none

fixed scripts dir
  Dockerfile
  python_Dockerfile
Due: none

removed python based dockerfile
  python_Dockerfile
Due: none

Path conditions:
  docstyle: any of: setup.py, tests/*.py, sctoolbox/*.py
  lint: any of: setup.py, tests/*.py, sctoolbox/*.py
  test import: any of: setup.py, sctoolbox/*.py
  test coverage: any of: tests/*.py, sctoolbox/*.py
