Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-job, lint, test import, test coverage

Path conditions:
  build-job: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: tests/*.py, sctoolbox/**/*.py

set default use_hvf to False
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage

added use_hvf True to the test
  tests/test_dim_reduction.py
Due: lint, test coverage

move correlation calculations into separate function
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage

add description in proportion analysis notebook
  rna_analysis/notebooks/13_proportion_analysis.ipynb
Due: none

solved the issues
  CHANGES.rst
  sctoolbox/tools/dim_reduction.py
  tests/test_dim_reduction.py
Due: lint, test import, test coverage

adapted docstring to fix linting error raise was missing
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage

linting
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage

CI: Update build-pages-dev rules
  .gitlab-ci.yml
Due: none

Fix syntax error
  .gitlab-ci.yml
Due: none

CI: Fix syntax error
  .gitlab-ci.yml
Due: none

CI: Fix Build-pages-dev
  .gitlab-ci.yml
Due: none

final release prep
  CHANGES.rst
  sctoolbox/_version.py
Due: build-job, lint, test import, test coverage

remove deprecated umap_pub
  sctoolbox/plotting/embedding.py
  tests/test_plotting.py
Due: lint, test import, test coverage

remove unused imports
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage

remove deprecated group_heatmap
  sctoolbox/plotting/marker_genes.py
  tests/test_plotting.py
Due: lint, test import, test coverage

update changelog
  CHANGES.rst
Due: none

Apply suggestions from MR review
  .gitlab-ci.yml
Due: none

lint
  tests/test_plotting.py
Due: lint, test coverage

replace deprecated umap_pub
  rna_analysis/notebooks/05_marker_genes.ipynb
Due: none

CI Notebooks: Add recursive option while coping the general notebooks
  .gitlab-ci.yml
Due: none

CI: Only run extract-verison on commit on main or dev
  .gitlab-ci.yml
Due: none

Remove pass job since get-mr-version runs for every merge request
  .gitlab-ci.yml
Due: none

delete duplicate key
  .gitlab-ci.yml
Due: none

CI: Fix notebook main bug
  .gitlab-ci.yml
Due: none

Change docker image for check_version job
  .gitlab-ci.yml
Due: none

Do not run test_coverage twice if all important files changed.
  .gitlab-ci.yml
Due: none

CI: Replace grep -P with sed in check_version job.
  .gitlab-ci.yml
Due: none

Fix typo in notebooks main job image
  .gitlab-ci.yml
Due: none

Replace $MR_Version with $CI_MERGE_REQUEST_IID; back to alpine-plus-plus for check_version
  .gitlab-ci.yml
Due: none

Add debug echo
  .gitlab-ci.yml
Due: none

CI: Fix regex for check_version job
  .gitlab-ci.yml
Due: none

fix kernel name
  rna_analysis/notebooks/03_batch.ipynb
Due: none

CI: test coverage MR dev-image: change from rule to only/except
  .gitlab-ci.yml
Due: none

CI: Set build-image-mr temporarily to when: manual
  .gitlab-ci.yml
Due: none

CI: build-image-mr: set allow_failure: true
  .gitlab-ci.yml
Due: none

Enable debugging for papermill notebook runs
  .gitlab-ci.yml
  scripts/run_notebooks.py
Due: none

String to file handle
  scripts/run_notebooks.py
Due: none

fix log path
  scripts/run_notebooks.py
Due: none

Add path to artifacts
  .gitlab-ci.yml
Due: none
