Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

Lint + Notebook test
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
  tests/tools/test_receptor_ligand.py
Due: check_changes, deploy-pages-MR

Lint
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
  tests/tools/test_receptor_ligand.py
Due: check_changes, deploy-pages-MR

Layout fix
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add description for segments and milestones
  general_notebooks/pseudotime_analysis.ipynb
Due: check_changes, deploy-pages-MR

Notebook + Test Coverage
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
  tests/tools/test_receptor_ligand.py
Due: check_changes, deploy-pages-MR

Test Fix
  tests/tools/test_receptor_ligand.py
Due: none

Lint das himmlische Kind
  tests/tools/test_receptor_ligand.py
Due: none

Resolve
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

filter_anndata modifyication
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

review
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
  sctoolbox/tools/receptor_ligand.py
  tests/tools/test_receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

ORDER
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
Due: check_changes, deploy-pages-MR

test
  tests/tools/test_receptor_ligand.py
Due: none

Readdocs fix
  rna_analysis/notebooks/0A1_ligand_receptor.ipynb
  sctoolbox/plotting/planet_plot.py
  sctoolbox/plotting/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Docreads adatas
  sctoolbox/plotting/qc_filter.py
  sctoolbox/tools/clustering.py
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Docstring fix oder nix
  docs/source/plot_pre_code.py
Due: none

Add adata and import to utils_pre_code
  docs/source/utils_pre_code.py
Due: none

Docs
  docs/source/conf.py
  docs/source/utils_pre_code.py
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add and test option to save .X as a layer before normalizing
  sctoolbox/tools/norm_correct.py
  tests/tools/test_norm_correct.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add and test option to keep former .X as layer
  sctoolbox/tools/norm_correct.py
  tests/tools/test_norm_correct.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

adjust to auto layer saving
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

adjust notebooks to auto layer save
  atac_analysis/notebooks/02_QC_filtering.ipynb
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

Resolve "Prevent bioutils.pseudobulk_table Series attribute error"
  CHANGES.rst
  sctoolbox/utils/bioutils.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

pseudobulk_table: implemented gene_index
  sctoolbox/utils/bioutils.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

calculate _interaction_table: implement layer; use pseudobulk_table for cluster means
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

implemented layer parameter for interaction difference functions
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix cluster percent expression
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Resolve "Fix main title in rl networkplot"
  CHANGES.rst
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

adjust cell meta-info
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
Due: check_changes, deploy-pages-MR

add layer option to group_marker and RL1 notebook
  general_notebooks/group_markers.ipynb
  rna_analysis/notebooks/0A1_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

load_anndata: warn if adata contains raw
  sctoolbox/utils/adata.py
  tests/utils/test_adata.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

normalize_adata: fix unused keep_layer parameter
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix color change of a single code cell
  sctoolbox/utils/jupyter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

diff RL notebook add layer options
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
Due: check_changes, deploy-pages-MR

add layers to annotation notebook
  general_notebooks/annotation.ipynb
Due: check_changes, deploy-pages-MR

fix comment
  general_notebooks/group_markers.ipynb
Due: check_changes, deploy-pages-MR

update GSEA with layer option
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

term_dotplot: add layer parameter
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add layer param to prepare_for_cellxgene + tests
  sctoolbox/utils/adata.py
  tests/utils/test_adata.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add layer option to cellxgene notebook
  general_notebooks/prepare_for_cellxgene.ipynb
Due: check_changes, deploy-pages-MR

update changes
  CHANGES.rst
Due: none
