Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

replace deprecated ratelimiter package
  sctoolbox/utils/creators.py
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

check for previous filters and store applied ones
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

implemented initial report system
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Add prerank option and rename enricher method
  sctoolbox/tools/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix dangerous default value
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

integrate denoise into report system
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

warn if previous filter is overwritten
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

implemented in_uns + test
  sctoolbox/utils/adata.py
  tests/utils/test_adata.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Finalize adding prerank as gsea option
  general_notebooks/GSEA.ipynb
  sctoolbox/tools/gsea.py
  tests/tools/test_gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Update change log
  CHANGES.rst
Due: none

Fix typo
  CHANGES.rst
Due: none

lint
  sctoolbox/tools/gsea.py
  tests/tools/test_gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Add plotting function gsea_network()
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix prefix addition to save parameter
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

GSEA notebook: Add gsea network plot
  general_notebooks/GSEA.ipynb
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix network plot call
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

rename parameter key -> name; global adata.uns path
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Add Valueerror if no lcuster with valid enrichted pathways are found
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

test filter related reports
  tests/tools/test_qc_filter.py
Due: none

Add tests for new gsea netwokr plot function
  tests/plotting/test_gsea_plotting.py
Due: none

workaround to avoid pandas FututreWarning
  sctoolbox/tools/celltype_annotation.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

revise annotation notebook
  general_notebooks/annotation.ipynb
Due: check_changes, deploy-pages-MR

fix typing
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

implemented _match_column test and started with get_threshold test
  tests/tools/test_qc_filter.py
Due: none

update repo path in notebook for testing
  general_notebooks/annotation.ipynb
Due: check_changes, deploy-pages-MR

update CHANGES.rst
  CHANGES.rst
Due: none

lint
  tests/plotting/test_gsea_plotting.py
Due: none

Added legend to gsea network plot
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

GSEA notebook: cleanup
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

Update Change log
  CHANGES.rst
Due: none

GSEA notebook: fix default paths
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

lint
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

get_threshold bug fixing and use stored thresholds within adata
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

implemented get_threshold test
  tests/tools/test_qc_filter.py
Due: none

fix bug where None wasn't replaced when using groupby
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

copy adata
  tests/tools/test_qc_filter.py
Due: none

fix adata.uns report path
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Add score col parameter to add enrichr ouput support for network plot
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

GSEA notebbok: automatically set score_col depending on used method
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

GSEA notebook: Fix default path
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR
