Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

build-image-main:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-dev:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-mr:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage MR new image:
  stage: test
  image: $CI_REGISTRY_IMAGE:MR-${MR_VERSION}
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

test coverage MR dev-image:
  stage: test
  image: $CI_REGISTRY_IMAGE:dev
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

check_changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

deploy-pages-MR:
  stage: deploy
  needs:
  - job: build-pages-MR
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
  ...

fix path
  tests/plotting/test_marker_genes.py
Due: none

prepare_for_cellxgene notebook: Clean up structure
  general_notebooks/prepare_for_cellxgene.ipynb
Due: check_changes, deploy-pages-MR

prepare_for_cellxgene notebook: Clean up structure 2
  general_notebooks/prepare_for_cellxgene.ipynb
Due: check_changes, deploy-pages-MR

proportion analysis: Clean up structure
  general_notebooks/proportion_analysis.ipynb
Due: check_changes, deploy-pages-MR

proportion analysis: Clean up structure 2
  general_notebooks/proportion_analysis.ipynb
Due: check_changes, deploy-pages-MR

prepare_for_cellxgene notebook: Clean up structure 3
  general_notebooks/prepare_for_cellxgene.ipynb
Due: check_changes, deploy-pages-MR

pseudotime notebook: Clean up structure
  general_notebooks/pseudotime_analysis.ipynb
Due: check_changes, deploy-pages-MR

annotation notebook: Clean up structure
  general_notebooks/annotation.ipynb
Due: check_changes, deploy-pages-MR

Update mampok installtion for notebook job
  .gitlab-ci.yml
Due: none

Update mampok installation for notebook job
  .gitlab-ci.yml
Due: none

fix coverage 0%
  tests/plotting/__init__.py
  tests/tools/__init__.py
Due: none

Fix mampok installation for notebook job
  .gitlab-ci.yml
Due: none

lint
  tests/plotting/__init__.py
  tests/tools/__init__.py
Due: none

Add changes to notebooks to enable check changes job
  .gitlab-ci.yml
Due: none

fix 0% coverage
  tests/plotting/__init__.py
  tests/tools/__init__.py
Due: none

testing files can not have the same name
  tests/plotting/test_embedding_pl.py
  tests/tools/test_embedding_tl.py
Due: none

fix outdated test
  tests/plotting/test_embedding_pl.py
Due: none

Add description
  rna_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

Update changelog
  CHANGES.rst
Due: none

Add description
  rna_analysis/notebooks/11_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

Clean up output
  general_notebooks/annotation.ipynb
  general_notebooks/prepare_for_cellxgene.ipynb
  general_notebooks/prepare_for_cellxgene_log.txt
  rna_analysis/notebooks/01_assembling_anndata.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
  rna_analysis/notebooks/03_batch.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
  rna_analysis/notebooks/05_marker_genes.ipynb
  rna_analysis/notebooks/11_ligand_receptor.ipynb
  rna_analysis/notebooks/14_velocity_analysis.ipynb
Due: check_changes, deploy-pages-MR

Disable ci-variables
  .gitlab-ci.yml
Due: none

Apply 2 suggestion(s) to 1 file(s)
  .gitlab-ci.yml
Due: none

Remove odl and ununsed annotations methods
  sctoolbox/tools/custom_celltype_annotation.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

reworked recluster part
  rna_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

Update change log
  CHANGES.rst
Due: none

add change
  CHANGES.rst
Due: none

removed invalid variable value
  rna_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

'less' instead of 'more'
  rna_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

removed fld_scoring added peakqc
  atac_analysis/notebooks/01_assembling.ipynb
  sctoolbox/tools/fld_scoring.py
  setup.py
  tests/test_fld_scoring.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

added CHANGES
  CHANGES.rst
Due: none

Apply 1 suggestion(s) to 1 file(s)
  CHANGES.rst
Due: none

fix var name
  rna_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

revised notebook 2
  atac_analysis/notebooks/02_QC.ipynb
Due: check_changes, deploy-pages-MR

added use_highly_variable parameter to normalize_adata() as pca calculated here
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

updated notebook 03
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

Update 04_clustering.ipynb
  rna_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

updated notebook 04
  atac_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
