Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docstyle, lint, test import, test coverage

docstyle:
  image:
    name: python:latest
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - coverage
  script:
  - pip install pydocstyle
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - coverage
  script:
  - pip install flake8
  - pip install pydoclint
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage:
  stage: test
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  tags:
  - coverage
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - apt-get install bedtools
  - chmod +x scripts/bedGraphToBigWig
  - pip install pytest
  - pip install pytest-cov
  ...

run_rank_genes(): Convert groupby column to 'category' if dtype differs.
  sctoolbox/tools/marker_genes.py
Due: none

Update Changelog
  CHANGES.rst
Due: none

test_marker_genes(): Add small test for run_rank_genes
  tests/test_marker_genes.py
Due: docstyle, lint, test coverage

Add test_fail for run_rank_genes st for run_rank_genes
  tests/test_marker_genes.py
Due: docstyle, lint, test coverage

linting
  tests/test_marker_genes.py
Due: docstyle, lint, test coverage

qc_filter/predict_sex(): Enable handling adata.X to be of type matrix, np.ndarray and scipy sparse matrix (csc adn csr)
  sctoolbox/tools/qc_filter.py
Due: none

Improve coverage of predict_sex() tests
  tests/test_qc_filter.py
Due: docstyle, lint, test coverage

Fix doc-string for predict_sex tests.
  tests/test_qc_filter.py
Due: docstyle, lint, test coverage

tools/predict_sex: Name exception
  sctoolbox/tools/qc_filter.py
Due: none

Update changelog
  CHANGES.rst
Due: none

Apply 3 suggestion(s) to 2 file(s)
  sctoolbox/tools/qc_filter.py
  tests/test_qc_filter.py
Due: docstyle, lint, test coverage

tools/estimate_doublets: Add fill_na parameter
  sctoolbox/tools/qc_filter.py
Due: none

predict_sex(): Convert adata.X to np.ndarray if it is np.matrix
  sctoolbox/tools/qc_filter.py
Due: none

Apply 2 suggestion(s) to 2 file(s)
  sctoolbox/tools/qc_filter.py
  tests/test_qc_filter.py
Due: docstyle, lint, test coverage

estimate_doublets(): Only fill NA for columns 'doublet_score' and 'predicted_doublet'
  sctoolbox/tools/qc_filter.py
Due: none

Add 'phase' to obs metcis after CC prediction
  rna-notebooks/03_batch.ipynb
Due: none

Remove output from notebook 03
  rna-notebooks/03_batch.ipynb
Due: none

Add anndata>=0.8 to required packages.
  setup.py
Due: docstyle, lint, test import

fixed fetching of category names
  sctoolbox/plotting/clustering.py
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/qc_filter.py
  sctoolbox/tools/marker_genes.py
  sctoolbox/tools/qc_filter.py
  sctoolbox/utils/tables.py
Due: none

doclint
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/marker_genes.py
  sctoolbox/plotting/qc_filter.py
  sctoolbox/plotting/velocity.py
  sctoolbox/tools/qc_filter.py
Due: none

fix doclint
  sctoolbox/plotting/marker_genes.py
  sctoolbox/plotting/velocity.py
Due: none

plot_gene_correlation(): doc-string linting
  sctoolbox/plotting/marker_genes.py
Due: none

tools/gene_correlation.py: doc-string linting & type hinting
  sctoolbox/tools/gene_correlation.py
Due: none

tools/gene_correlation.py: doc-string linting & type hinting 2/2
  sctoolbox/tools/gene_correlation.py
Due: none

Fix iteritems deprecation
  sctoolbox/plotting/general.py
Due: none

tools/gene_correlation.py: Added logger & missing docstings
  sctoolbox/tools/gene_correlation.py
Due: none

fixed some of the E999 syntax errors, pydoclint doesn't like and : in parameter types
  sctoolbox/plotting/clustering.py
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/general.py
  sctoolbox/plotting/marker_genes.py
  sctoolbox/plotting/qc_filter.py
Due: none

Fix pca plots
  sctoolbox/plotting/embedding.py
Due: none

added missing quotes
  sctoolbox/plotting/qc_filter.py
Due: none

add scanpro notebook and update config
  rna-notebooks/13_proportion_analysis.ipynb
  rna-notebooks/config.yaml
Due: none

update notebook
  rna-notebooks/13_proportion_analysis.ipynb
Due: none

revised density plot and added documentation
  sctoolbox/tools/calc_overlap_pct.py
  sctoolbox/tools/nucleosome_utils.py
Due: none

Doc-sting linting for for MPOverlapPct
  sctoolbox/tools/calc_overlap_pct.py
Due: none

Resolve overlooked merge conflict.
  sctoolbox/tools/nucleosome_utils.py
Due: none

add scanpro to setup.py
  setup.py
Due: docstyle, lint, test import

Allow keys as name input
  sctoolbox/plotting/embedding.py
Due: none

Cell cycle is covered by a separate function
  sctoolbox/tools/marker_genes.py
Due: none

Joined normalization functions to normalalize_adata
  sctoolbox/tools/norm_correct.py
Due: none

Updated notebooks to calculate PCA selection before batch correction
  atac-notebooks/01_assembling.ipynb
  atac-notebooks/02_QC.ipynb
  atac-notebooks/03_normalization_batch_correction.ipynb
  atac-notebooks/04_clustering.ipynb
  rna-notebooks/02_QC_filtering.ipynb
  rna-notebooks/03_batch.ipynb
  rna-notebooks/04_clustering.ipynb
Due: none

CRLF -> LF file endings
  sctoolbox/tools/embedding.py
  sctoolbox/tools/norm_correct.py
  sctoolbox/tools/receptor_ligand.py
Due: none

Path conditions:
  docstyle: any of: setup.py, tests/*.py, sctoolbox/*.py
  lint: any of: setup.py, tests/*.py, sctoolbox/*.py
  test import: any of: setup.py, sctoolbox/*.py
  test coverage: any of: tests/*.py, sctoolbox/*.py
