Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

build-image-main:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-dev:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-mr:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage MR new image:
  stage: test
  image: $CI_REGISTRY_IMAGE:MR-${MR_VERSION}
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

test coverage MR dev-image:
  stage: test
  image: $CI_REGISTRY_IMAGE:dev
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

check_changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

deploy-pages-MR:
  stage: deploy
  needs:
  - job: build-pages-MR
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
  ...

lint?
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

I hate this! look what you made me do linter!
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

_add_figure_title: adjust type hints to beartype v0.20.0
  sctoolbox/plotting/general.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Reduce metadata_id description.
  general_notebooks/prepare_for_cellxgene.ipynb
Due: check_changes, deploy-pages-MR

sparse matrix subset using list accounting for scipy version >=1.15
  sctoolbox/utils/bioutils.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

remove unused imports
  sctoolbox/plotting/general.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix kernel display name
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

init notebook
  atac_analysis/notebooks/05_tobias.ipynb
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, check_changes, deploy-pages-MR

Apply 1 suggestion(s) to 1 file(s)
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

predict_cell_cycle: add gene_column parameter
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

update changelog
  CHANGES.rst
Due: none

auto restrict max pixle size a figure can have
  sctoolbox/plotting/general.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint
  sctoolbox/plotting/general.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

expose label parameter
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

term_dotplot: stats zscore bugfix
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

gene_set_enrichment: Deal with bug in new gseapy version 1.1.5
  sctoolbox/plotting/marker_genes.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint lint
  sctoolbox/tools/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Cleanup output type of sequence[Axis] output of plotting functions to NDArray[Axis]
  sctoolbox/plotting/clustering.py
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/general.py
  sctoolbox/plotting/gsea.py
  sctoolbox/plotting/marker_genes.py
  sctoolbox/plotting/planet_plot.py
  sctoolbox/plotting/qc_filter.py
  sctoolbox/utils/checker.py
  tests/plotting/test_clustering.py
  tests/plotting/test_general.py
  tests/plotting/test_gsea_plotting.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Import Axes from matplotlib.axes instead of full matplotlib import
  sctoolbox/plotting/clustering.py
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/general.py
  sctoolbox/plotting/gsea.py
  sctoolbox/plotting/marker_genes.py
  sctoolbox/plotting/planet_plot.py
  sctoolbox/plotting/qc_filter.py
  sctoolbox/plotting/velocity.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint lint
  sctoolbox/plotting/clustering.py
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/marker_genes.py
  sctoolbox/plotting/planet_plot.py
  sctoolbox/plotting/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint lint
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

ensure uppercase gene names
  sctoolbox/tools/celltype_annotation.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix SCSA cluster can not be NaN
  sctoolbox/data/SCSA_custom.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

read vdata.h5ad by scanpy
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
Due: check_changes, deploy-pages-MR

Edit CHANGES.rst
  CHANGES.rst
Due: none

General Notebook: GSEA: Added missing parameter to tools.gsea.gene_set_enrichment()
  general_notebooks/GSEA.ipynb
Due: check_changes, deploy-pages-MR

Apply 1 suggestion(s) to 1 file(s)
  CHANGES.rst
Due: none

added ability to handle bedfiles
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

CHANGES
  CHANGES.rst
Due: none

fix run_rank_genes error
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

fix notebook job echo (thank you chatGPT)
  .gitlab-ci.yml
Due: none

Rework gsea plots
  general_notebooks/GSEA.ipynb
  sctoolbox/plotting/gsea.py
  sctoolbox/tools/gsea.py
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Add save_prefix parameter to gsea cluster_dotplot
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Add missing comma
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Add custom title to gsea cluster dotplots
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
