Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

build-image-main:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-dev:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-mr:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage MR new image:
  stage: test
  image: $CI_REGISTRY_IMAGE:MR-${MR_VERSION}
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

test coverage MR dev-image:
  stage: test
  image: $CI_REGISTRY_IMAGE:dev
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

check_changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

deploy-pages-MR:
  stage: deploy
  needs:
  - job: build-pages-MR
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
  ...

Added new line at EOF
  tests/utils/__init__.py
Due: none

add type hint for __frozen
  sctoolbox/_settings.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint; removed debug print
  tests/utils/test_jupyter.py
Due: none

lowkey refactoring and documentation adjustments
  atac_analysis/notebooks/01_assembling.ipynb
Due: check_changes, deploy-pages-MR

refactor prepare_atac_anndata
  sctoolbox/utils/assemblers.py
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

finished first draft. To be tested..
  sctoolbox/utils/assemblers.py
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

linting
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

move test_multiomics.py into tools folder
  CHANGES.rst
  tests/tools/test_multiomics.py
Due: none

beartype fix
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

beartype fix
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

change data path
  tests/tools/test_multiomics.py
Due: none

move add_insertsize tests to tests/tools/
  tests/test_atac.py
  tests/tools/test_insertsize.py
Due: lint, test coverage MR dev-image, check_changes

update CHANGES.rst
  CHANGES.rst
Due: none

start to update atac/qc notbook
  atac_analysis/notebooks/02_QC.ipynb
Due: check_changes, deploy-pages-MR

added test_var_index_from()
  sctoolbox/utils/assemblers.py
  sctoolbox/utils/checker.py
  tests/test_assemblers.py
  tests/test_checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

added tests validate regions
  sctoolbox/utils/assemblers.py
  sctoolbox/utils/checker.py
  tests/test_checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

added test_check_columns()
  sctoolbox/utils/assemblers.py
  sctoolbox/utils/checker.py
  tests/test_checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

more atac/QC notebook changes
  atac_analysis/notebooks/02_QC.ipynb
Due: check_changes, deploy-pages-MR

revised test_format_adata_var()
  sctoolbox/utils/checker.py
  tests/test_atac_utils.py
  tests/test_checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

added all tests (old structure)
  sctoolbox/utils/assemblers.py
  sctoolbox/utils/checker.py
  tests/test_assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

linting and refactor tests to new structure
  sctoolbox/utils/checker.py
  tests/test_atac_utils.py
  tests/utils/test_assemblers.py
  tests/utils/test_checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

linting
  tests/utils/test_assemblers.py
Due: none

updated CHANGES.rst
  CHANGES.rst
Due: none

adapted paths to new structure
  sctoolbox/tools/peak_annotation.py
  tests/utils/test_assemblers.py
  tests/utils/test_checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

clean up utils/creators.py
  CHANGES.rst
  tests/utils/test_creators.py
Due: none

adapted paths to new structure
  tests/utils/test_assemblers.py
Due: none

linting
  tests/utils/test_creators.py
Due: none

nothing changed
  tests/utils/test_checker.py
Due: none

fixed scanpy to be <= 1.10.1
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

combat fix
  sctoolbox/tools/norm_correct.py
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Fix accordion labels for interactive widgets
  sctoolbox/plotting/qc_filter.py
  sctoolbox_env.yml
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Update change log
  CHANGES.rst
Due: none

add the .A property to scipy csr.matrix to prevent combat failure using scanpy <= 1.10.2
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fixed cannot convert array of length 1 to scalar
  sctoolbox/plotting/planet_plot.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

working on the review
  sctoolbox/tools/norm_correct.py
  sctoolbox/utils/assemblers.py
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

merged the basic and advanced preprocess functions, added comments
  sctoolbox/plotting/planet_plot.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Apply 1 suggestion(s) to 1 file(s)
  CHANGES.rst
Due: none

removed snapatac format
  sctoolbox/utils/assemblers.py
  sctoolbox/utils/checker.py
  tests/data/atac/mm10_atac_named_var.h5ad
  tests/data/atac/snapatac.h5ad
  tests/utils/test_assemblers.py
  tests/utils/test_checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

binarize matrix = False
  atac_analysis/notebooks/02_QC.ipynb
Due: check_changes, deploy-pages-MR

fixed tests removed Exception and removed get type binary
  sctoolbox/utils/assemblers.py
  tests/utils/test_assemblers.py
  tests/utils/test_checker.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
