Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

build-image-main:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-dev:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-mr:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage MR new image:
  stage: test
  image: $CI_REGISTRY_IMAGE:MR-${MR_VERSION}
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

test coverage MR dev-image:
  stage: test
  image: $CI_REGISTRY_IMAGE:dev
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

check_changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

deploy-pages-MR:
  stage: deploy
  needs:
  - job: build-pages-MR
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
  ...

tabs to whitespaces
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

set percentile to include all if 100% changed < to <=
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

updated CHANGES
  CHANGES.rst
Due: none

excluded filtered PCs from cumulation
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fixed buf when subset_idx mot assigned
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

linting
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

bugfix subset index
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

bugfix subset pc names
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fixed test
  tests/tools/test_dim_reduction.py
Due: none

linting
  tests/tools/test_dim_reduction.py
Due: none

CI: Install mampok from main branch
  .gitlab-ci.yml
Due: none

fix typo
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

Update change log
  CHANGES.rst
Due: none

Set required mampok version to 3.0.3
  general_notebooks/prepare_for_cellxgene.ipynb
Due: check_changes, deploy-pages-MR

revised spelling applied
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

prepare_for_cellxgene: Add auth parameter to notebook
  general_notebooks/prepare_for_cellxgene.ipynb
Due: check_changes, deploy-pages-MR

fix return less than n_genes if ranking was filtered
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

remove "_status" from the title of binarized plot
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

remove empty axis
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

update changelog
  CHANGES.rst
Due: none

ensure cmake is installed before louvain
  pyproject.toml
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

condense environment
  sctoolbox_env.yml
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

mampok use main branch; remove dep already in sctoolbox_env.yml
  .gitlab-ci.yml
Due: none

readd rust
  sctoolbox_env.yml
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

remove duplicate dependencies and let scanpy take care of installing leiden and louvain
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

add pybedtools to env to ensure bedtools is available
  sctoolbox_env.yml
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

revert changes (manually)
  sctoolbox/tools/dim_reduction.py
  tests/tools/test_dim_reduction.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

CHANGES
  CHANGES.rst
Due: none

added option to define variance column
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

added conversion to percent
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

restructured for easy style
  sctoolbox/tools/dim_reduction.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

install build required packages first (required for some dependencies)
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

relax possibly forgotten matplotlib version constraint
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

catch nobteook after_script fail to allow the upload of artifacts
  .gitlab-ci.yml
Due: none

make pip accessible during installation
  pyproject.toml
Due: none

matplotlib no version needed
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

gseapy remove version (already solved)
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

aggregateted feature plot first draft
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

show either ls or message not both
  .gitlab-ci.yml
Due: none

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
