Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-job, lint, test import, test coverage

Path conditions:
  build-job: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: tests/*.py, sctoolbox/**/*.py

fix n_genes can not be None
  sctoolbox/tools/marker_genes.py
Due: lint, test import, test coverage

implement pairwise_rank_genes test
  tests/test_marker_genes.py
Due: lint, test coverage

enable deseq test
  tests/test_marker_genes.py
Due: lint, test coverage

lint
  tests/test_marker_genes.py
Due: lint, test coverage

add change
  CHANGES.rst
Due: none

Apply 1 suggestion(s) to 1 file(s)
  rna_analysis/notebooks/config.yaml
Due: none

Apply suggestion
  rna_analysis/notebooks/14_velocity_analysis.ipynb
Due: none

Update input parameter documentation
  rna_analysis/notebooks/14_velocity_analysis.ipynb
Due: none

omit redundant exception
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage

extend automatic_treshold tests
  tests/test_qc_filter.py
Due: lint, test coverage

lint
  tests/test_qc_filter.py
Due: lint, test coverage

various small adjustments
  CHANGES.rst
  sctoolbox/tools/clustering.py
  sctoolbox/tools/highly_variable.py
  sctoolbox/tools/marker_genes.py
  tests/test_marker_genes.py
Due: lint, test import, test coverage

clarified what is done
  tests/test_clustering.py
Due: lint, test coverage

Update notebook layout
  rna_analysis/notebooks/11_ligand_receptor.ipynb
Due: none

Update notebook layout
  rna_analysis/notebooks/13_proportion_analysis.ipynb
Due: none

Update notebook layout
  rna_analysis/notebooks/14_velocity_analysis.ipynb
Due: none

Update notebook layout
  general_notebooks/pseudotime_analysis.ipynb
Due: none

Apply suggestions
  .gitlab-ci.yml
  CHANGES.rst
  sctoolbox/_version.py
  sctoolbox/tools/calc_overlap_fc.py
  sctoolbox/tools/clustering.py
  sctoolbox/tools/highly_variable.py
  sctoolbox/utils/io.py
Due: build-job, lint, test import, test coverage

Fix typo
  sctoolbox/utils/io.py
Due: lint, test import, test coverage

Update changelog
  CHANGES.rst
Due: none

Pin seaborn version
  setup.py
Due: build-job, lint, test import

lint
  setup.py
Due: build-job, lint, test import

Update file CHANGES.rst
  CHANGES.rst
Due: none

Fix: move settings import before input field
  general_notebooks/pseudotime_analysis.ipynb
Due: none

Fix check_changes script
  scripts/check_changes.py
Due: none

Fix urllib bug in notebook pipeline
  .gitlab-ci.yml
Due: none

Update docs of general annotation notebook run annotation
  general_notebooks/annotation.ipynb
Due: none

Test: Move urllib3 installation
  .gitlab-ci.yml
Due: none

debug ci notebook job
  .gitlab-ci.yml
Due: none

Bugfix urllib3 metadata not found
  .gitlab-ci.yml
Due: none

Fix: receptor-ligand notebook: loosen fitlering
  rna_analysis/notebooks/11_ligand_receptor.ipynb
Due: none

Receptor-ligand notebook: update filtering
  rna_analysis/notebooks/11_ligand_receptor.ipynb
Due: none

Move general notebooks to rna notbooks durign notebook pipeline run
  .gitlab-ci.yml
Due: none

Fix pseudotime notebbok: move settings cell below imports
  general_notebooks/pseudotime_analysis.ipynb
Due: none

Added ci source != 'main' statement to check_changes pipeline
  .gitlab-ci.yml
Due: none

Update version to 0.4.1
  sctoolbox/_version.py
Due: build-job, lint, test import, test coverage

Remove latest ci statment; added potential fix
  .gitlab-ci.yml
Due: none

REpalce container in check changes
  .gitlab-ci.yml
Due: none

Fix check_chagnes pipeline
  CHANGES.rst
Due: none
