Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-job, lint, test import, test coverage

Path conditions:
  build-job: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage: any of: tests/*.py, sctoolbox/**/*.py

pydoc example for venn
  sctoolbox/plotting/general.py
Due: lint, test import, test coverage

Update clustering.py
  sctoolbox/tools/clustering.py
Due: lint, test import, test coverage

fixed linting
  sctoolbox/plotting/general.py
Due: lint, test import, test coverage

create example in_range()
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage

lint2
  sctoolbox/plotting/general.py
Due: lint, test import, test coverage

added code example plot_venn
  CHANGES.rst
Due: none

group_heatmap_example_added
  sctoolbox/plotting/marker_genes.py
Due: lint, test import, test coverage

group_heatmap_example_changed
  sctoolbox/plotting/marker_genes.py
Due: lint, test import, test coverage

small bug fix
  sctoolbox/plotting/general.py
Due: lint, test import, test coverage

Update file general.py
  sctoolbox/plotting/general.py
Due: lint, test import, test coverage

split into two examples
  sctoolbox/plotting/general.py
Due: lint, test import, test coverage

add internal image to check-changes job
  .gitlab-ci.yml
  Dockerfile
Due: build-job

Add condition for changes file
  .gitlab-ci.yml
  Dockerfile
Due: build-job

ci syntax
  .gitlab-ci.yml
Due: none

Add manual check_changes option
  .gitlab-ci.yml
Due: none

Solve tz error
  Dockerfile
Due: build-job

Update changes and version
  CHANGES.rst
  sctoolbox/_version.py
Due: build-job, lint, test import, test coverage

first draft of general annotation notebook added
  general_notebooks/annotation.ipynb
Due: none

Added path to annotation notebook
  general_notebooks/annotation.ipynb
Due: none

Update annotation notebook and marker list assembly
  general_notebooks/annotation.ipynb
Due: none

Fix typo #173
  rna_analysis/notebooks/config.yaml
Due: none

Fix typo #174
  general_notebooks/prepare_for_cellxgene.ipynb
Due: none

Update Change log
  CHANGES.rst
Due: none

install missing sphinx extension
  .gitlab-ci.yml
Due: none

Init velocity notebook
  general_notebooks/velocity_analysis.ipynb
Due: none

Update cell type annotation settings list assembly
  general_notebooks/annotation.ipynb
Due: none

Update imports and settings in annotation notebook
  general_notebooks/annotation.ipynb
Due: none

Update marker list creation parameters and run annotation
  general_notebooks/annotation.ipynb
Due: none

style updated
  sctoolbox/plotting/marker_genes.py
Due: lint, test import, test coverage

CHANGES.rst file updated
  CHANGES.rst
Due: none

Update Notebook 11_ligand_receptor
  rna_analysis/notebooks/11_ligand_receptor.ipynb
  rna_analysis/notebooks/config.yaml
Due: none

Update change log
  CHANGES.rst
Due: none

changed intersect to pybedtools and added automatic path setting
  sctoolbox/utils/bioutils.py
  sctoolbox/utils/checker.py
Due: lint, test import, test coverage

Update file CHANGES.rst
  CHANGES.rst
Due: none

linting
  sctoolbox/utils/bioutils.py
  sctoolbox/utils/checker.py
  sctoolbox_env.yml
  setup.py
Due: build-job, lint, test import, test coverage

thanks for the recommendation, it will be added
  CHANGES.rst
Due: none
