Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

build-image-main:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-dev:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

build-image-mr:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - sctoolbox
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test import:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - pip install .
  - python -c "import sctoolbox"

test coverage MR new image:
  stage: test
  image: $CI_REGISTRY_IMAGE:MR-${MR_VERSION}
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

test coverage MR dev-image:
  stage: test
  image: $CI_REGISTRY_IMAGE:dev
  tags:
  - sctoolbox
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - echo $BUILD_VERSION
  - chmod +x scripts/bedGraphToBigWig
  - pip install .[all]
  ...

check_changes:
  image: python:3.10
  inherit:
    default: false
  stage: test
  script:
  - python scripts/check_changes.py $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

deploy-pages-MR:
  stage: deploy
  needs:
  - job: build-pages-MR
    artifacts: true
  inherit:
    default: false
  environment:
    name: pages/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
    url: https://loosolab.pages.gwdg.de/-/software/sc_framework/-/jobs/$CI_JOB_ID/artifacts/docs/build/html/index.html
  artifacts:
    paths:
  ...

fix warnings
  sctoolbox/plotting/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

more tests
  tests/tools/test_qc_filter.py
Due: none

fix report path
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

rna QC notebook use get_threshold
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

gsea_network: set NES as default for score col.
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

gsea_network: adjust tests to fit new parameters
  sctoolbox/plotting/gsea.py
  tests/plotting/test_gsea_plotting.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

gsea plotting: fix import
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add lists_path for testing
  general_notebooks/annotation.ipynb
Due: check_changes, deploy-pages-MR

atac qc: enable doublet report and remove unused var
  atac_analysis/notebooks/02_QC.ipynb
Due: check_changes, deploy-pages-MR

fix default notebook paramaters
  general_notebooks/annotation.ipynb
Due: check_changes, deploy-pages-MR

explain filter metrics; lock cells; mark init cells
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

update parameter
  atac_analysis/notebooks/02_QC.ipynb
Due: check_changes, deploy-pages-MR

fix report path in tests
  tests/tools/test_qc_filter.py
Due: none

add missing error message
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

create fixture for every test
  tests/tools/test_qc_filter.py
Due: none

vacuum the lint away
  sctoolbox/tools/qc_filter.py
  sctoolbox/utils/adata.py
  tests/tools/test_qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

don't use variables in type hint as lint can not handle them
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

extend filter docu
  atac_analysis/notebooks/02_QC.ipynb
  rna_analysis/notebooks/02_QC_filtering.ipynb
Due: check_changes, deploy-pages-MR

trigger build
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

rna batch: add embedding coloring defaults
  rna_analysis/notebooks/03_batch.ipynb
Due: check_changes, deploy-pages-MR

rna clustering: use report qc metrics
  rna_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

lock cell and remove add_uns_info
  rna_analysis/notebooks/03_batch.ipynb
Due: check_changes, deploy-pages-MR

fix method signature
  atac_analysis/notebooks/02_QC.ipynb
Due: check_changes, deploy-pages-MR

atac 03: use reported qc metrics
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

use sctoolbox plot_embedding
  atac_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

update changelog
  CHANGES.rst
Due: none

typo
  CHANGES.rst
Due: none

lint
  sctoolbox/tools/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

remove obs_metrics
  rna_analysis/notebooks/04_clustering.ipynb
Due: check_changes, deploy-pages-MR

RNA:ligand-receptor: Split input field; Revise descriptions
  rna_analysis/notebooks/0B_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

Update change log
  CHANGES.rst
Due: none

gsea_network: fix node without edges bug.
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

lint
  sctoolbox/plotting/gsea.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add the markerrepo dependency
  sctoolbox_env.yml
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

remove private marker repo install from ci/cd
  .gitlab-ci.yml
Due: none

Revise run_notebooks.py
  scripts/run_notebooks.py
Due: none

add setting mock to hidden cell
  general_notebooks/annotation.ipynb
Due: check_changes, deploy-pages-MR

check for atac logs too
  .gitlab-ci.yml
Due: none

RNA: receptor-ligand: Wording; Fix typos; Add interaction score formula
  rna_analysis/notebooks/0B_ligand_receptor.ipynb
Due: check_changes, deploy-pages-MR

increase log readability
  .gitlab-ci.yml
  scripts/run_notebooks.py
Due: none

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
