Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

Edit Dockerfile Copy keyring from another ubuntu image
  Dockerfile
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

Edit Dockerfile
  Dockerfile
Due: build-image-main, build-image-dev, build-image-mr, test coverage MR new image

lint
  sctoolbox/plotting/embedding.py
  sctoolbox/plotting/qc_filter.py
  sctoolbox/tools/marker_genes.py
  sctoolbox/tools/qc_filter.py
  sctoolbox/tools/receptor_ligand.py
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

lint
  sctoolbox/plotting/qc_filter.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Edit setup.py Trigger unit tests.
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

choose batch column name
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: check_changes, deploy-pages-MR

add gene_column to cell_cylce in notebook
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

small ATAC assembly changes
  atac_analysis/notebooks/01_assembling_anndata.ipynb
Due: check_changes, deploy-pages-MR

choose number of computed PCs
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

test_embedding_pl.py switched to scanpy adata
  tests/plotting/test_embedding_pl.py
Due: none

add n_comps parameter
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

choose number of computed PCs
  atac_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

fix typo
  general_notebooks/annotation.ipynb
Due: check_changes, deploy-pages-MR

update changelog
  CHANGES.rst
Due: none

add missing comma
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

trigger image build
  setup.py
Due: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image

updated genes to plot
  tests/plotting/test_embedding_pl.py
Due: none

Apply 3 suggestion(s) to 1 file(s)
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

it is working locally like this
  tests/plotting/test_embedding_pl.py
Due: none

remove raw from testdata
  tests/plotting/test_embedding_pl.py
Due: none

re add umap calculation
  tests/plotting/test_embedding_pl.py
Due: none

fix groupes_violin issue when adata.X is dense
  sctoolbox/plotting/marker_genes.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

replace internal testdata with scanpy.datasets.pbmc3k_processed
  tests/plotting/test_marker_genes.py
  tests/plotting/test_qc_filter.py
Due: none

parameter int to float
  sctoolbox/tools/norm_correct.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

fix tests for altered scanpy.normalize_total
  tests/tools/test_norm_correct.py
Due: none

update notebook
  rna_analysis/notebooks/03_normalization_batch_correction.ipynb
Due: check_changes, deploy-pages-MR

implement report parameter
  sctoolbox/tools/receptor_ligand.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add report to RNA/0A2-rl-diff
  rna_analysis/notebooks/0A2_ligand_receptor_differences.ipynb
Due: check_changes, deploy-pages-MR

add report out put to 0B velocity notebook
  rna_analysis/notebooks/0B_velocity_analysis.ipynb
Due: check_changes, deploy-pages-MR

implement report parameter
  sctoolbox/utils/adata.py
  sctoolbox/utils/assemblers.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add report feature to the RNA-assembly notebook
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: check_changes, deploy-pages-MR

set RNA-assembly report dir
  rna_analysis/notebooks/config.yaml
Due: none

fix kernel name
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: check_changes, deploy-pages-MR

fix input section#
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: check_changes, deploy-pages-MR

one more fix
  rna_analysis/notebooks/01_assembling_anndata.ipynb
Due: check_changes, deploy-pages-MR

add missing parameter docu
  sctoolbox/utils/adata.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

add report_dir to ATAC config
  atac_analysis/notebooks/config.yaml
Due: none
