Repository loosolab/SC-Framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-main, build-image-dev, build-image-mr, lint, test import, test coverage MR new image, test coverage MR dev-image, check_changes, deploy-pages-MR

Path conditions:
  build-image-main: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-dev: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  build-image-mr: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  lint: any of: setup.py, tests/*.py, sctoolbox/**/*.py
  test import: any of: setup.py, sctoolbox/**/*.py
  test coverage MR new image: any of: setup.py, sctoolbox_env.yml, Dockerfile, sctoolbox/_version.py
  test coverage MR dev-image: any of: tests/*.py, sctoolbox/**/*.py
  check_changes: any of: tests/*.py, sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb
  deploy-pages-MR: any of: sctoolbox/**/*.py, rna_analysis/notebooks/*.ipynb, atac_analysis/notebooks/*.ipynb, general_notebooks/*.ipynb

UpdateCI: notebook runs : U debug path
  .gitlab-ci.yml
  scripts/run_notebooks.py
Due: none

Up: notebook ruUpdate ns : debug path
  .gitlab-ci.yml
  scripts/run_notebooks.py
Due: none

CI: Save out notebooks
  .gitlab-ci.yml
  scripts/run_notebooks.py
Due: none

RNA-notebook 3: reduce color by list
  rna_analysis/notebooks/03_batch.ipynb
Due: check_changes, deploy-pages-MR

RNA-notebook 3: increase color by list
  rna_analysis/notebooks/03_batch.ipynb
Due: check_changes, deploy-pages-MR

RNA-notebook 3: decrease color by list
  rna_analysis/notebooks/03_batch.ipynb
Due: check_changes, deploy-pages-MR

CI: Add marker repo installation before notebook runs
  .gitlab-ci.yml
Due: none

CI: Fix typo
  .gitlab-ci.yml
Due: none

Temporarily disable tests for annotation.ipynb
  .gitlab-ci.yml
Due: none

Remove marker repo installation
  .gitlab-ci.yml
Due: none

Temporarily disable checks for prepare_for_cellxgene
  .gitlab-ci.yml
Due: none

disabled atac notebook testing as a workaround
  scripts/run_notebooks.py
Due: none

Enable ATAC notebook tests
  .gitlab-ci.yml
  scripts/run_notebooks.py
Due: none

anndata_overview: Fix ax.collections index out of bounds error
  sctoolbox/plotting/embedding.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Update date in change log
  CHANGES.rst
Due: none

Fix import problems; Apply suggestions
  general_notebooks/prepare_for_cellxgene.ipynb
Due: check_changes, deploy-pages-MR

Enable prepare_for_cellxgene for testing
  .gitlab-ci.yml
Due: none

Fix notebook MR CI pipelines
  .gitlab-ci.yml
Due: none

Eanble prepare_for_cellxgene test for ALL notebook test jobs
  .gitlab-ci.yml
Due: none

Eanble prepare_for_cellxgene test for ALL notebook test jobs. This time for real...
  .gitlab-ci.yml
Due: none

initial commit for the plot function and notebook.
  sctoolbox/plotting/flower_plot.py
  test_notebooks_aviral/test_5d_plot_sn-RNA.ipynb
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Started marker notebook revision
  rna_analysis/notebooks/05_marker_genes.ipynb
Due: check_changes, deploy-pages-MR

Fix R_Home not found error
  sctoolbox/utils/__init__.py
  sctoolbox/utils/general.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Remove setup_R call from _none2null
  sctoolbox/utils/general.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

Update change log
  CHANGES.rst
Due: none

lint lint; Move rpy2 import into function call
  sctoolbox/utils/general.py
Due: lint, test import, test coverage MR dev-image, check_changes, deploy-pages-MR

added test for starsolo qc
  tests/plotting/test_qc_filter.py
Due: none

CI: Adapt to new test file structure
  .gitlab-ci.yml
Due: none

test general clean up
  tests/plotting/test_general.py
Due: none

move embedding tests to tests/plotting
  tests/plotting/test_embedding.py
  tests/test_plotting.py
Due: lint, test coverage MR dev-image, check_changes

moved test_genometracks.py to fit the structure
  CHANGES.rst
  tests/plotting/test_genometracks.py
Due: none

modify CHANGES.rst
  CHANGES.rst
Due: none

Update test_general.py
  tests/plotting/test_general.py
Due: none

added test for starsolo qc fixes
  tests/plotting/test_qc_filter.py
Due: none

Update file test_plotting.py
  tests/test_plotting.py
Due: lint, test coverage MR dev-image, check_changes

velocity
  CHANGES.rst
  tests/plotting/test_velocity.py
Due: none

linting
  tests/plotting/test_embedding.py
Due: none
